Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

[Backport release-1.3] vela status tree & controller flags fix (#3649)
  .github/workflows/e2e-multicluster-test.yml
  apis/types/multicluster.go
  codecov.yml
  go.mod
  go.sum
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/cmd/types.go
  pkg/cmd/utils.go
  pkg/controller/utils/actions.go
  pkg/multicluster/cluster_management.go
  pkg/multicluster/virtual_cluster.go
  pkg/oam/auxiliary.go
  pkg/oam/labels.go
  pkg/policy/topology.go
  pkg/resourcetracker/tree.go
  pkg/resourcetracker/tree_test.go
  pkg/utils/apply/patch.go
  pkg/utils/strings.go
  pkg/workflow/providers/multicluster/multicluster.go
  references/cli/addon.go
  references/cli/cli.go
  references/cli/cluster.go
  references/cli/revision.go
  references/cli/status.go
  references/cli/up.go
  references/cli/up_test.go
  references/cli/workflow.go
  references/cmd/cli/main.go
  test/e2e-apiserver-test/velaql_test.go
  test/e2e-multicluster-test/multicluster_cli_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: failed to deploy application when no there is no avaiable (#3652)
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

Fix: failed to deploy application when no there is no avaiable
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

Fix: add label from inner system in CR can prevent sync
  pkg/apiserver/sync/cache.go
  pkg/apiserver/sync/cache_test.go
Owners: @barnettZQG, @yangsoon

Feat: enhance storage trait to support multi-mountToEnv config
  charts/vela-core/templates/defwithtemplate/storage.yaml
  charts/vela-minimal/templates/defwithtemplate/storage.yaml
  docs/examples/core-definitions/trait/storage.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/trait/storage.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: try to fix CVE (#3641)
  pkg/addon/cache.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/013_repository.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: enhance storage trait to support multi-mountToEnv config Signed-off-by: Shijie Zhong <zhongsjie@cmbchina.com>
  charts/vela-core/templates/defwithtemplate/storage.yaml
  charts/vela-minimal/templates/defwithtemplate/storage.yaml
  docs/examples/core-definitions/trait/storage.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/trait/storage.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: duplicately list pods in velaQL (#3650)
  pkg/apiserver/sync/convert.go
  pkg/oam/auxiliary.go
  pkg/stdlib/pkgs/query.cue
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee, @FogDong

Fix: the create time of synced app is empty
  pkg/apiserver/sync/convert.go
  pkg/velaql/providers/query/collector.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Fix: duplicately list pods in velaQL
  pkg/oam/auxiliary.go
  pkg/stdlib/pkgs/query.cue
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: vela status tree show cluster alias & raw format
  pkg/multicluster/virtual_cluster.go
  pkg/resourcetracker/tree.go
  references/cli/status.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: Add all the other possible optimization params to the helm-values.
  charts/vela-core/README.md
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add label from inner system in CR can prevent sync (#3655)
  pkg/apiserver/sync/cache.go
  pkg/apiserver/sync/cache_test.go
Owners: @barnettZQG, @yangsoon

Fix: add label from inner system in CR can prevent sync
  pkg/apiserver/sync/cache.go
  pkg/apiserver/sync/cache_test.go
Owners: @barnettZQG, @yangsoon

Feat: enhance storage trait to support multi-mountToEnv config Signed-off-by: Shijie Zhong <zhongsjie@cmbchina.com> (#3657)
  charts/vela-core/templates/defwithtemplate/storage.yaml
  charts/vela-minimal/templates/defwithtemplate/storage.yaml
  docs/examples/core-definitions/trait/storage.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/trait/storage.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: vela status tree show cluster alias & raw format (#3659)
  pkg/multicluster/virtual_cluster.go
  pkg/resourcetracker/tree.go
  references/cli/status.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: vela status tree show cluster alias & raw format
  pkg/multicluster/virtual_cluster.go
  pkg/resourcetracker/tree.go
  references/cli/status.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: fix token invalid after the server restarted
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

fix lint
  pkg/apiserver/rest/usecase/authentication.go
Owners: @barnettZQG, @yangsoon

Pending test temporary
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Pending test temporary
  e2e/plugin/plugin_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix token invalid after the server restarted (#3658)
  e2e/plugin/plugin_test.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/system_info.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Pending test temporary
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix lint
  pkg/apiserver/rest/usecase/authentication.go
Owners: @barnettZQG, @yangsoon

Pending test temporary
  e2e/plugin/plugin_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix token invalid after the server restarted
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

mock an addon to fix flaky test
  e2e/addon/mock/testdata/mock-addon/metadata.yaml
  e2e/addon/mock/testdata/mock-addon/template.yaml
  e2e/plugin/plugin_test.go
  test/e2e-apiserver-test/addon_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

mock an addon to fix flaky test (#3665)
  e2e/addon/mock/testdata/mock-addon/metadata.yaml
  e2e/addon/mock/testdata/mock-addon/template.yaml
  e2e/plugin/plugin_test.go
  test/e2e-apiserver-test/addon_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

cherrypick 3665 and 3605 to release 1.3
  e2e/addon/mock/testdata/mock-addon/metadata.yaml
  e2e/addon/mock/testdata/mock-addon/template.yaml
  e2e/plugin/plugin_test.go
  makefiles/e2e.mk
  pkg/apiserver/rest/webservice/addon.go
  test/e2e-apiserver-test/addon_test.go
  test/e2e-apiserver-test/suite_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: can not query the instance list for the app with apply once policy
  pkg/velaql/providers/query/collector.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add debug configmap if debug policy is specified
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/v1alpha1/policy_types.go
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/core.oam.dev/v1beta1/resourcetracker_types_test.go
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/resourcekeeper/componentrevision.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/options.go
  pkg/resourcekeeper/resourcekeeper.go
  pkg/resourcetracker/app.go
  pkg/resourcetracker/app_test.go
  pkg/workflow/debug/context.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: add vela debug command
  go.mod
  go.sum
  pkg/cue/model/sets/utils.go
  pkg/cue/model/value/value.go
  pkg/workflow/debug/context.go
  pkg/workflow/tasks/custom/task.go
  references/cli/cli.go
  references/cli/debug.go
  references/cli/up.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Feat: add debug test
  references/cli/debug.go
  references/cli/debug_test.go
Owners: @Somefive, @zzxwill

fix sonartype lift
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
Owners: @barnettZQG, @wonderflow, @leejanee

change uitable vendor
  go.mod
  go.sum
  references/cli/debug.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

fix cue string
  pkg/cue/model/sets/utils.go
Owners: @leejanee, @FogDong

tidy the go mod
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

make code reviewable
  go.mod
  go.sum
  pkg/cue/model/value/value.go
  pkg/resourcekeeper/dispatch_and_delete_test.go
  pkg/workflow/debug/context.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/workflow_test.go
  references/cli/debug.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Feat: display better for debug
  pkg/builtin/registry/registry_runner.go
  references/cli/debug.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

pass resource keeper from handler
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/debug/context.go
  pkg/workflow/debug/context_test.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
