Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Feat: allow select resource by resource type for gc policy (#3598)
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  docs/examples/app-with-policy/gc-policy/persist-resources.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add test for cluster alias
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support alias in cluster
  apis/types/multicluster.go
  pkg/multicluster/cluster_management.go
  pkg/multicluster/virtual_cluster.go
  references/cli/cluster.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: refine config creation and provide config list
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/webservice/config.go
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Feat: refine config creation and provide config list (#3637)
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/webservice/config.go
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Feat: refine config creation and provide config list
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/webservice/config.go
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Feat: support alias in cluster (#3630)
  apis/types/multicluster.go
  pkg/multicluster/cluster_management.go
  pkg/multicluster/virtual_cluster.go
  references/cli/cluster.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: enhance vela status tree print
  go.mod
  pkg/resourcetracker/tree.go
  pkg/resourcetracker/tree_test.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

try to fix cve
  pkg/addon/cache.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/013_repository.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

add parse input func
  pkg/addon/cache.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/user.go
  pkg/utils/parse.go
  pkg/utils/parse_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: enhance vela status tree print (#3639)
  go.mod
  pkg/resourcetracker/tree.go
  pkg/resourcetracker/tree_test.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

use santize
  pkg/addon/cache.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/user.go
  pkg/utils/parse.go
  pkg/utils/parse_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

first
  pkg/addon/addon.go
  pkg/addon/error.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: verify password valid (#3545)
  pkg/apiserver/rest/usecase/user.go
Owners: @barnettZQG, @yangsoon

Fix: verify password valid
  pkg/apiserver/rest/usecase/user.go
Owners: @barnettZQG, @yangsoon

add test for this
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/error.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: rework vela up to support specified revision
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/cmd/types.go
  pkg/cmd/utils.go
  pkg/controller/utils/actions.go
  pkg/oam/auxiliary.go
  references/cli/cli.go
  references/cli/up.go
  references/cli/up_test.go
  references/cli/workflow.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: add legacy compatibility
  references/cli/up.go
Owners: @Somefive, @zzxwill

Feat: fix test
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/cmd/types.go
  pkg/cmd/utils.go
  references/cli/addon.go
  references/cli/revision.go
  references/cli/up_test.go
  references/cli/workflow.go
  test/e2e-apiserver-test/velaql_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: rework vela up to support specified revision (#3634)
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/cmd/types.go
  pkg/cmd/utils.go
  pkg/controller/utils/actions.go
  pkg/oam/auxiliary.go
  references/cli/addon.go
  references/cli/cli.go
  references/cli/revision.go
  references/cli/up.go
  references/cli/up_test.go
  references/cli/workflow.go
  test/e2e-apiserver-test/velaql_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: clear info when addon version cannot meet require (#3642)
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/error.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

add test for this
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/error.go
Owners: @barnettZQG, @wonderflow, @leejanee

first
  pkg/addon/addon.go
  pkg/addon/error.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: try to fix CVE (#3641)
  pkg/addon/cache.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/013_repository.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: try to fix CVE (#3641)
  pkg/addon/cache.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/013_repository.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: refine config management
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
Owners: @barnettZQG, @yangsoon

address comments
  pkg/apiserver/rest/usecase/config.go
Owners: @barnettZQG, @yangsoon

Chore: cherry-pick 3641 to release 1.3 (#3646)
  pkg/addon/cache.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/013_repository.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: refine the config sync logic (#3602)
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
Owners: @barnettZQG, @yangsoon

Fix: refine config management
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
Owners: @barnettZQG, @yangsoon

address comments
  pkg/apiserver/rest/usecase/config.go
Owners: @barnettZQG, @yangsoon

Feat: support kruise rollout
  charts/vela-core/templates/defwithtemplate/kruise-rollout.yaml
  charts/vela-minimal/templates/defwithtemplate/kruise-rollout.yaml
  docs/examples/traits/kruise-rollout/example.yaml
  go.mod
  go.sum
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/rollout/rollout.go
  pkg/utils/common/common.go
  references/cli/workflow.go
  vela-templates/definitions/internal/trait/kruise-rollout.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: vela status --tree (#3609)
  .github/workflows/e2e-multicluster-test.yml
  codecov.yml
  pkg/oam/auxiliary.go
  pkg/oam/labels.go
  pkg/policy/topology.go
  pkg/resourcetracker/tree.go
  pkg/utils/apply/patch.go
  pkg/utils/strings.go
  pkg/workflow/providers/multicluster/multicluster.go
  references/cli/status.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: cli default switch on feature flags (#3625)
  references/cmd/cli/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support alias in cluster (#3630)
  apis/types/multicluster.go
  pkg/multicluster/cluster_management.go
  pkg/multicluster/virtual_cluster.go
  references/cli/cluster.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: rework vela up to support specified revision (#3634)
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/cmd/types.go
  pkg/cmd/utils.go
  pkg/controller/utils/actions.go
  pkg/oam/auxiliary.go
  references/cli/addon.go
  references/cli/cli.go
  references/cli/revision.go
  references/cli/up.go
  references/cli/up_test.go
  references/cli/workflow.go
  test/e2e-apiserver-test/velaql_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: enhance vela status tree print (#3639)
  go.mod
  go.sum
  pkg/resourcetracker/tree.go
  pkg/resourcetracker/tree_test.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: duplicately list pods in velaQL
  pkg/oam/auxiliary.go
  pkg/stdlib/pkgs/query.cue
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: failed to deploy application when no there is no avaiable
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

Fix: the create time of synced app is empty
  pkg/apiserver/sync/convert.go
  pkg/velaql/providers/query/collector.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
