Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Fix: add parse comments in lookupScript to make patch work
  pkg/cue/model/value/value.go
  pkg/cue/model/value/value_test.go
Owners: @leejanee, @FogDong

Refactor: use more concise method to check length
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Test: add one more test condition for dual addons i.e. local and registry
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Refactor: simplify testing logic by removing unneeded looping
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Fix: The new addon can not shown in the Addons page (#3835)
  pkg/addon/cache.go
  pkg/addon/cache_test.go
  pkg/addon/versioned_registry_test.go
  test/e2e-multicluster-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: sensitive field of addon registry is exposed (#3837)
  pkg/addon/source.go
  pkg/addon/source_test.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Style: add missing license header
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Fix: resolve locally installed addons not being displayed (#3827)
  references/cli/addon.go
  references/cli/addon_suite_test.go
  references/cli/addon_test.go
  references/cli/uninstall_test.go
Owners: @Somefive, @zzxwill

Fix: resolve locally installed addons not being displayed
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Style: revert incorrect auto-formatting
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Refactor: use more concise method to check length
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Refactor: change original variable name to avoid confusions
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Test: add tests for outputs from `vela addon list` when an addon with the same as registry one is locally installed
  references/cli/addon.go
  references/cli/addon_suite_test.go
  references/cli/uninstall_test.go
Owners: @Somefive, @zzxwill

Test: add one more test condition for dual addons i.e. local and registry
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Refactor: simplify testing logic by removing unneeded looping
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Style: add missing license header
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

refactors http write resp to use 'html/template' instead (#3829)
  e2e/addon/mock/vela_addon_mock_server.go
  references/cli/portforward.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: add parse comments in lookupScript to make patch work (#3839)
  pkg/cue/model/value/value.go
  pkg/cue/model/value/value_test.go
Owners: @leejanee, @FogDong

Fix: add parse comments in lookupScript to make patch work
  pkg/cue/model/value/value.go
  pkg/cue/model/value/value_test.go
Owners: @leejanee, @FogDong

Fix: add parse comments in lookupScript to make patch work
  pkg/cue/model/value/value.go
  pkg/cue/model/value/value_test.go
Owners: @leejanee, @FogDong

Fix: whencontrolPlaneOnly=true, There are probability to report error "resource not found"
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: The new addon can not shown in the Addons page
  pkg/addon/cache.go
  pkg/addon/cache_test.go
  test/e2e-multicluster-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: sensitive field of addon registry is exposed
  pkg/addon/source.go
  pkg/addon/source_test.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: sensitive field of addon registry is exposed (#3852)
  pkg/addon/source.go
  pkg/addon/source_test.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

make reviewable changes
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix(makefile): update kustomize version to be available for darwin-arm64
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: The new addon can not shown in the Addons page (#3851)
  pkg/addon/cache.go
  pkg/addon/cache_test.go
  test/e2e-multicluster-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: update Terraform Configuration CRDS test file
  pkg/controller/core.oam.dev/v1alpha2/application/testdata/crds/terraform.core.oam.dev_configurations.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix(makefile): update kustomize version to be available for darwin-arm64 (#3846)
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

make reviewable changes
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix(makefile): update kustomize version to be available for darwin-arm64
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: update Terraform Configuration CRDS test file (#3857)
  pkg/controller/core.oam.dev/v1alpha2/application/testdata/crds/terraform.core.oam.dev_configurations.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: run image scan CI for every pull request and fix CVEs in time
  .github/workflows/codeql-analysis.yml
  .github/workflows/trivy-scan.yml
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: delete context when patch outputs in trait
  pkg/cue/definition/template.go
  pkg/cue/definition/template_test.go
Owners: @leejanee, @FogDong

Fix: ignore no kind match error in gc
  pkg/resourcekeeper/cache.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: ignore no kind match error in gc (#3861)
  pkg/resourcekeeper/cache.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: ignore no kind match error in gc
  pkg/resourcekeeper/cache.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: the endpoints is repeated and can not query the ingress with v1 version
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler.go
  references/cli/addon.go
  references/cli/status.go
  references/cli/velaql.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: whencontrolPlaneOnly=true, There are probability to report error "resource not found" (#3850)
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: run image scan CI for every pull request and fix CVEs in time (#3855)
  .github/workflows/codeql-analysis.yml
  .github/workflows/trivy-scan.yml
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
