Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

test: adds tests for removeDefRevLabels function
  pkg/controller/utils/utils_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

refactor: linter fixes
  pkg/controller/utils/utils.go
  pkg/controller/utils/utils_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

fix: adds def rev labels before applying app revision
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

test: debugging test failure
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

refactor: linter fixes
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  pkg/controller/utils/utils_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

chore: changes from make reviewabe
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  makefiles/dependency.mk
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Feature: Enhanced Status Reporting
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_componentdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  pkg/appfile/appfile.go
  pkg/appfile/template.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/apply.go
  pkg/cue/definition/health/health.go
  pkg/cue/definition/health/health_test.go
  pkg/cue/definition/template.go
  pkg/cue/definition/template_test.go
  pkg/definition/ast/definition_parser.go
  pkg/definition/ast/definition_parser_test.go
  pkg/definition/ast/utils.go
  pkg/definition/ast/utils_test.go
  pkg/definition/definition.go
  pkg/definition/definition_test.go
  references/cli/print.go
  references/cli/status.go
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_with_status.yaml
  test/e2e-test/testdata/definition/deployment-with-status.yaml
  test/e2e-test/testdata/definition/trait-with-status.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

Feature: Enhanced Status Reporting
  pkg/definition/ast/transformer.go
  pkg/definition/ast/transformer_test.go
  pkg/definition/ast/utils.go
  pkg/definition/ast/utils_test.go
  pkg/definition/definition.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Feature: Enhanced Status Reporting
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_componentdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  pkg/appfile/appfile.go
  pkg/appfile/template.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/apply.go
  pkg/cue/definition/health/health.go
  pkg/cue/definition/health/health_test.go
  pkg/cue/definition/template.go
  pkg/cue/definition/template_test.go
  pkg/definition/ast/transformer.go
  pkg/definition/ast/transformer_test.go
  pkg/definition/ast/utils.go
  pkg/definition/ast/utils_test.go
  pkg/definition/definition.go
  pkg/definition/definition_test.go
  references/cli/print.go
  references/cli/status.go
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_with_status.yaml
  test/e2e-test/testdata/definition/deployment-with-status.yaml
  test/e2e-test/testdata/definition/trait-with-status.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

Fix: update component and trait handling to use type names for labels and definitions
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  cmd/core/app/options/options.go
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/appfile/template.go
  pkg/controller/core.oam.dev/v1beta1/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: add type field to Trait struct for improved component handling
  pkg/appfile/parser.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: add Type field to Trait instances for consistency in tests
  pkg/appfile/appfile_test.go
  pkg/appfile/parser_test.go
  pkg/appfile/validate_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: add Type field to Trait instances for consistency in tests
  pkg/appfile/template.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: remove redundant component type checks in template handling
  pkg/appfile/template.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: Add test cases for multiple definitions with different pinned version
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_fallback.yaml
  test/e2e-test/testdata/app/app_multi_revision.yaml
  test/e2e-test/testdata/app/app_trait_revision.yaml
  test/e2e-test/testdata/definition/configmap-component.yaml
  test/e2e-test/testdata/definition/scaler-trait.yaml
  test/e2e-test/testdata/definition/worker-base.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Revert: Changes in options.go
  cmd/core/app/options/options.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: Update test cases
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_multi_revision.yaml
  test/e2e-test/testdata/definition/configmap-component.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: corrects validating webhook behaviour with cuex compilers (#6799)
  pkg/webhook/core.oam.dev/v1beta1/componentdefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/traitdefinition/validating_handler.go
  pkg/webhook/utils/utils.go
  pkg/webhook/utils/utils_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: add support for multiple policy and workflow revisions in application definitions
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_policy_revision.yaml
  test/e2e-test/testdata/app/app_workflow_revision.yaml
  test/e2e-test/testdata/definition/configmap-policy.yaml
  test/e2e-test/testdata/definition/configmap-workflow.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Create testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: Replace the openssf badge with UI link (#6783)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

chore: moves dockerhub user name to secret section in the reusable workflow (#6778)
  .github/workflows/registry.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: moves resource modification inside patch block (#6791)
  charts/vela-core/templates/defwithtemplate/resource.yaml
  vela-templates/definitions/internal/trait/resource.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Delete testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: update helm repo path in tests (#6797)
  docs/examples/config/helm-repository/README.md
  e2e/addon/mock/testdata/terraform/template.yaml
  e2e/registry/registry_test.go
  pkg/cue/cuex/providers/config/config_test.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/repo_index_test.go
  pkg/utils/helm/testdata/index.yaml
  references/cli/addon_suite_test.go
  references/cli/top/view/log_view_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

Fix: add Type field to Trait instances for consistency in tests
  pkg/appfile/template.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: add Type field to Trait instances for consistency in tests
  pkg/appfile/appfile_test.go
  pkg/appfile/parser_test.go
  pkg/appfile/validate_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: switches to new oapi type field type (#6794)
  go.mod
  go.sum
  pkg/cue/script/template.go
  pkg/definition/gen_sdk/gen_sdk.go
  pkg/definition/gen_sdk/gen_sdk_test.go
  pkg/schema/schema.go
  pkg/workflow/providers/config/config_test.go
  pkg/workflow/providers/legacy/config/config_test.go
  references/cli/addon.go
  references/docgen/openapi.go
  references/docgen/parser.go
  references/docgen/parser_test.go
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @leejanee, @barnettZQG, @jefree-cat, @StevenLeiZhang, @charlie0129

Fix: remove redundant component type checks in template handling
  pkg/appfile/template.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: check component status after initial deployment (#6824)
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
  pkg/workflow/providers/legacy/multicluster/deploy.go
  pkg/workflow/providers/legacy/multicluster/deploy_test.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/deploy_test.go
  pkg/workflow/providers/types/types.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee

Revert: Changes in options.go
  cmd/core/app/options/options.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: Update test cases
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_multi_revision.yaml
  test/e2e-test/testdata/definition/configmap-component.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: vela up command to behave similarly with kubectl (#6809)
  pkg/cmd/utils.go
  references/cli/up.go
  references/cli/up_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee @Somefive @jefree-cat @FogDong @wangyikewxgm @chivalryq @anoop2811
design/                            @barnettZQG @leejanee @wonderflow @Somefive @jefree-cat @FogDong @anoop2811

# Owner of Core Controllers
pkg/controller/core.oam.dev       @Somefive @FogDong @barnettZQG @wonderflow @wangyikewxgm @chivalryq @anoop2811

# Owner of Standard Controllers
pkg/controller/standard.oam.dev   @wangyikewxgm @barnettZQG @wonderflow @Somefive @anoop2811 @FogDong

# Owner of CUE
pkg/cue                            @leejanee @FogDong @Somefive @anoop2811
pkg/stdlib                         @leejanee @FogDong @Somefive @anoop2811

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong @Somefive @wangyikewxgm @chivalryq @anoop2811

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow @FogDong @wangyikewxgm @chivalryq @anoop2811

# Owner of vela CLI
references/cli/                     @Somefive @StevenLeiZhang @charlie0129 @wangyikewxgm @chivalryq @anoop2811 @FogDong

# Owner of vela addon framework
pkg/addon/                         @wangyikewxgm @wonderflow @charlie0129 @anoop2811 @FogDong

# Owner of resource keeper and tracker
pkg/resourcekeeper                 @Somefive @FogDong @chivalryq @anoop2811
pkg/resourcetracker                @Somefive @FogDong @chivalryq @anoop2811

.github/                           @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
makefiles                          @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
go.*                               @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
