Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @zzxwill, @StevenLeiZhang, @charlie0129

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee @Somefive @jefree-cat @FogDong @wangyikewxgm @chivalryq
design/                            @barnettZQG @leejanee @wonderflow @Somefive @jefree-cat @FogDong

# Owner of Core Controllers
pkg/controller/core.oam.dev       @Somefive @FogDong @barnettZQG @wonderflow @wangyikewxgm @chivalryq

# Owner of Standard Controllers
pkg/controller/standard.oam.dev   @wangyikewxgm @barnettZQG @wonderflow @Somefive

# Owner of CUE
pkg/cue                            @leejanee @FogDong @Somefive
pkg/stdlib                         @leejanee @FogDong @Somefive

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong @Somefive @wangyikewxgm @chivalryq

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow @FogDong @wangyikewxgm @chivalryq

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill @StevenLeiZhang @charlie0129 @wangyikewxgm @chivalryq

# Owner of vela addon framework
pkg/addon/                         @wangyikewxgm @wonderflow @charlie0129

# Owner of resource keeper and tracker
pkg/resourcekeeper                 @Somefive @FogDong @chivalryq
pkg/resourcetracker                @Somefive @FogDong @chivalryq

.github/                           @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm
makefiles                          @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm
go.*                               @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm

feat: listAvailableAddons returns addons from multiple sources
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/source.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

refactor: simplify validateAddonDependencies
  pkg/addon/addon.go
  pkg/addon/addon_test.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): Implicit memory aliasing in for loop.
  pkg/addon/addon.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): non-wrapping format verb for fmt.Errorf
  pkg/addon/addon.go
  pkg/addon/addon_test.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): indent-error-flow: (revive)
  pkg/addon/addon.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): unexported-return
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/source.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): exported type comment format (revive)
  pkg/addon/addon.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): refactor AddonInfo to ItemInfo, avoid "stutter" (revive)
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/source.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): add comment to exported method Registry.ListAddonInfo
  pkg/addon/source.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

fix(lint): fix stutter, rename AddonInfoLister to ItemInfoLister
  pkg/addon/addon.go
  pkg/addon/addon_test.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

Fix: issue command permission error (#6071)
  .github/workflows/issue-commands.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm

fix typo
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq

chore: Add suite tests for Registry.ListAddonInfo()
  pkg/addon/registry_suite_test.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129

Fix: typo (#6069)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq

Fix: application gc not blocked by apprev gc
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/resourcekeeper/gc_rev.go
  pkg/resourcekeeper/gc_rev_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @leejanee, @jefree-cat

Chore: remove migrated swagger json (#6075)
  docs/apidoc/swagger.json
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq
