Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Feat: velaql provider for get application resource-tree (#3944)
  charts/vela-core/templates/velaql/resourceTree.yaml
  pkg/stdlib/pkgs/query.cue
  pkg/stdlib/ql.cue
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
  pkg/velaql/providers/query/types/health_status.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: grant privilege readonly incorrect binding (#3953)
  pkg/auth/privileges.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: refactor the step group in workflow
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @leejanee, @FogDong

Feat: add tests for discover
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
Owners: @leejanee, @FogDong

Deprecate: oam runtime is no longer maintained, users should use kubevela instead
  .github/workflows/registry.yml
  Makefile
  charts/oam-runtime/Chart.yaml
  charts/oam-runtime/crds/core.oam.dev_applicationconfigurations.yaml
  charts/oam-runtime/crds/core.oam.dev_components.yaml
  charts/oam-runtime/crds/core.oam.dev_healthscopes.yaml
  charts/oam-runtime/crds/core.oam.dev_manualscalertraits.yaml
  charts/oam-runtime/crds/core.oam.dev_scopedefinitions.yaml
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/oam-runtime/crds/core.oam.dev_workloaddefinitions.yaml
  charts/oam-runtime/templates/NOTES.txt
  charts/oam-runtime/templates/_helpers.tpl
  charts/oam-runtime/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/role.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/rolebinding.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/serviceaccount.yaml
  charts/oam-runtime/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/oam-runtime/templates/admission-webhooks/validatingWebhookConfiguration.yaml
  charts/oam-runtime/templates/admission-webhooks/webhookService.yaml
  charts/oam-runtime/templates/certmanager.yaml
  charts/oam-runtime/templates/definitions/healthscopes.yaml
  charts/oam-runtime/templates/oam-runtime-controller.yaml
  charts/oam-runtime/templates/test/test-application.yaml
  charts/oam-runtime/values.yaml
  hack/crd/dispatch/dispatch.go
  hack/e2e/modify_charts.sh
  makefiles/e2e.mk
  pkg/controller/core.oam.dev/v1alpha2/applicationconfiguration/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: refactor the step group in workflow (#3956)
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @leejanee, @FogDong

Feat: support to configure the qps and burst
  cmd/apiserver/main.go
  pkg/apiserver/config/config.go
  pkg/apiserver/infrastructure/clients/clients_suite_test.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/infrastructure/clients/kubeclient_test.go
  pkg/apiserver/server.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

bump kubectl sdk version
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

bump kubectl sdk version
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

bump kubectl sdk version
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela kube delete (#3952)
  references/cli/kube.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @Somefive, @zzxwill, @barnettZQG, @wonderflow, @leejanee

Chore: Bump kubectl sdk (#3960)
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Deprecate: oam runtime is no longer maintained, users should use kubevela instead (#3958)
  .github/workflows/registry.yml
  Makefile
  charts/oam-runtime/Chart.yaml
  charts/oam-runtime/crds/core.oam.dev_applicationconfigurations.yaml
  charts/oam-runtime/crds/core.oam.dev_components.yaml
  charts/oam-runtime/crds/core.oam.dev_healthscopes.yaml
  charts/oam-runtime/crds/core.oam.dev_manualscalertraits.yaml
  charts/oam-runtime/crds/core.oam.dev_scopedefinitions.yaml
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/oam-runtime/crds/core.oam.dev_workloaddefinitions.yaml
  charts/oam-runtime/templates/NOTES.txt
  charts/oam-runtime/templates/_helpers.tpl
  charts/oam-runtime/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/role.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/rolebinding.yaml
  charts/oam-runtime/templates/admission-webhooks/job-patch/serviceaccount.yaml
  charts/oam-runtime/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/oam-runtime/templates/admission-webhooks/validatingWebhookConfiguration.yaml
  charts/oam-runtime/templates/admission-webhooks/webhookService.yaml
  charts/oam-runtime/templates/certmanager.yaml
  charts/oam-runtime/templates/definitions/healthscopes.yaml
  charts/oam-runtime/templates/oam-runtime-controller.yaml
  charts/oam-runtime/templates/test/test-application.yaml
  charts/oam-runtime/values.yaml
  hack/crd/dispatch/dispatch.go
  hack/e2e/modify_charts.sh
  makefiles/e2e.mk
  pkg/controller/core.oam.dev/v1alpha2/applicationconfiguration/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add error message when the image doesn't exist
  pkg/apiserver/domain/service/project.go
  pkg/apiserver/interfaces/api/dto/v1/types.go
Owners: @barnettZQG, @yangsoon

Fix: code style
  cmd/apiserver/main.go
  pkg/apiserver/infrastructure/clients/clients_suite_test.go
  pkg/apiserver/infrastructure/clients/kubeclient_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: enhance grant privileges output
  pkg/auth/privileges.go
  references/cli/auth.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: failed to create Provider by CLI
  pkg/utils/common/common.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change the comment
  cmd/apiserver/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: enhance grant privileges output (#3962)
  pkg/auth/privileges.go
  references/cli/auth.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

fix bug and add e2e-test
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/types/type.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support to configure the qps and burst (#3961)
  cmd/apiserver/main.go
  pkg/apiserver/config/config.go
  pkg/apiserver/infrastructure/clients/clients_suite_test.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/infrastructure/clients/kubeclient_test.go
  pkg/apiserver/server.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: failed to create Provider by CLI (#3964)
  pkg/utils/common/common.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix comments
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: velaql appliedResource bug and add e2e-test (#3965)
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/types/type.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela port-forward not working and kustomize not read environment variables
  makefiles/dependency.mk
  references/cli/portforward.go
  references/cli/portforward_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: kustomize not read environment variables
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: kustomize not read environment variables (#3970)
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: build docker image(oamdev/vela-cli) for vela-cli
  .github/workflows/registry.yml
  Dockerfile
  Dockerfile.apiserver
  Dockerfile.cli
  Dockerfile.e2e
  makefiles/build.mk
  makefiles/const.mk
  references/cli/cli.go
  references/cmd/cli/main.go
  runtime/rollout/e2e/Dockerfile.e2e
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill, @wangyikewxgm

WIP add some code
  go.mod
  pkg/oam/labels.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix failed test
  pkg/velaql/providers/query/handler_test.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

more test
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add comment
  go.mod
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: delete Project fail
  pkg/apiserver/domain/service/config.go
Owners: @barnettZQG, @yangsoon

Feat: mechanism to let user add relationship mapping rule by configmap (#3968)
  pkg/oam/labels.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/handler_test.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add comment
  go.mod
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

more test
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

WIP add some code
  go.mod
  pkg/oam/labels.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix failed test
  pkg/velaql/providers/query/handler_test.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: initialize kube config multiple times
  cmd/apiserver/main.go
  pkg/apiserver/domain/service/project.go
  pkg/apiserver/domain/service/project_test.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/velaql.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/server.go
  pkg/velaql/providers/query/types/health_status.go
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: upgrade cluster-gateway version
  charts/vela-core/README.md
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/values.yaml
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee
