Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

add more tests
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/workflow/debug/context_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

fix rebase
  references/cli/cli.go
  references/cli/up.go
  references/cli/up_test.go
Owners: @Somefive, @zzxwill

fix lint
  pkg/workflow/debug/context_test.go
Owners: @leejanee, @FogDong

Pending test temporary
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: rt resource key compare mismatch local cluster
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/types/multicluster.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change the test case about ListResourcesInApp
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

cherrypick 3665 and 3605 to release 1.3 (#3668)
  e2e/addon/mock/testdata/mock-addon/metadata.yaml
  e2e/addon/mock/testdata/mock-addon/template.yaml
  e2e/plugin/plugin_test.go
  makefiles/e2e.mk
  pkg/apiserver/rest/webservice/addon.go
  test/e2e-apiserver-test/addon_test.go
  test/e2e-apiserver-test/suite_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: can not query the instance list for the app with apply once policy (#3670)
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: can not query the instance list for the app with apply once policy
  pkg/velaql/providers/query/collector.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change the test case about ListResourcesInApp
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: rt resource key compare mismatch local cluster (#3681)
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/types/multicluster.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: rt resource key compare mismatch local cluster
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/types/multicluster.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela-core does not report error, when component depends on invalid component
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: set provider name as the config name
  apis/types/types.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  references/cli/provider.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Feat: Expose optimizeDisableComponentRevision in helm chart (#3470)
  charts/vela-core/README.md
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

add framework
  go.mod
  go.sum
  pkg/apiserver/collect/suit_test.go
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/webservice/webservice.go
  pkg/oam/util/test_utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

move start func to leader election call back funcs
  cmd/apiserver/main.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat(wait suspend): add lost suspend.yaml
  charts/vela-core/templates/defwithtemplate/suspend.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(wait suspend): fix WaitSuspend status modify bug
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(wait suspend): change e2e test to local cluster env
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_wait_suspend.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(wait suspend): optimize wait suspend
  apis/core.oam.dev/common/types.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/templates/defwithtemplate/suspend.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/interface.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_delay_suspend.yaml
  vela-templates/definitions/internal/workflowstep/suspend.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive

Feat(delay suspend): add delayDuration in suspend step properties to support delay by certain time.Duration
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/interface.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/workflow.go
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_delay_suspend.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat(delay suspend): add delayDuration parameter to suspend cue
  vela-templates/definitions/internal/workflowstep/suspend.cue
Owners: @Somefive, @barnettZQG, @wonderflow

Feat(wait suspend): suspend cue parameter type error
  charts/vela-minimal/templates/defwithtemplate/suspend.yaml
  vela-templates/definitions/internal/workflowstep/suspend.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat(wait suspend): set waitDuration optional param in suspend workflow step
  charts/vela-minimal/templates/defwithtemplate/suspend.yaml
  vela-templates/definitions/internal/workflowstep/suspend.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: add vela debug command (#3580)
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/v1alpha1/policy_types.go
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/core.oam.dev/v1beta1/resourcetracker_types_test.go
  go.mod
  go.sum
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/builtin/registry/registry_runner.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/cue/model/value/value.go
  pkg/resourcekeeper/componentrevision.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/dispatch_and_delete_test.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/options.go
  pkg/resourcekeeper/resourcekeeper.go
  pkg/resourcetracker/app.go
  pkg/resourcetracker/app_test.go
  pkg/workflow/debug/context.go
  pkg/workflow/debug/context_test.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  references/cli/cli.go
  references/cli/debug.go
  references/cli/debug_test.go
  references/cli/up.go
  references/cli/up_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

resolve the recycle import problecm
  go.mod
  go.sum
  pkg/apiserver/collect/suit_test.go
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/oam/util/test_utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: support disable legacy gc upgrade operation
  pkg/features/controller_features.go
  pkg/resourcekeeper/gc.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: set provider name as the config name (#3687)
  apis/types/types.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  references/cli/provider.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Fix: set provider name as the config name
  apis/types/types.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  references/cli/provider.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Feat: support disable legacy gc upgrade operation (#3694)
  pkg/features/controller_features.go
  pkg/resourcekeeper/gc.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support disable legacy gc upgrade operation
  pkg/features/controller_features.go
  pkg/resourcekeeper/gc.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela def go-gen command
  go.mod
  pkg/definition/go_gen.go
  pkg/definition/go_gen_test.go
  references/cli/def.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: add a api for update the ui schema
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/utils/bcode/bcode.go
  pkg/apiserver/rest/utils/ui_schema.go
  pkg/apiserver/rest/webservice/definition.go
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

chore - bump cue v0.4.3-beta.2
  go.mod
  go.sum
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

chore - go mod tidy
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: calculate systemInfo everyday periodically and store them in datastore (#3689)
  cmd/apiserver/main.go
  go.mod
  go.sum
  pkg/apiserver/collect/suit_test.go
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/webservice/webservice.go
  pkg/oam/util/test_utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: The policy controller generate the OpenAPI schema (#3683)
  apis/core.oam.dev/v1beta1/policy_definition.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition/policydefinition_controller.go
  pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition/policydefinition_controller_test.go
  pkg/controller/utils/capability.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Feat(lang): The policy controller generate the OpenAPI schema (#3683)
  pkg/controller/utils/capability.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: bind env to system namespace
  pkg/oam/util/helper.go
  pkg/oam/util/helper_test.go
  pkg/utils/system/system.go
  references/cmd/cli/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
