Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee @Somefive @jefree-cat @FogDong @wangyikewxgm @chivalryq @anoop2811
design/                            @barnettZQG @leejanee @wonderflow @Somefive @jefree-cat @FogDong @anoop2811

# Owner of Core Controllers
pkg/controller/core.oam.dev       @Somefive @FogDong @barnettZQG @wonderflow @wangyikewxgm @chivalryq @anoop2811

# Owner of Standard Controllers
pkg/controller/standard.oam.dev   @wangyikewxgm @barnettZQG @wonderflow @Somefive @anoop2811 @FogDong

# Owner of CUE
pkg/cue                            @leejanee @FogDong @Somefive @anoop2811
pkg/stdlib                         @leejanee @FogDong @Somefive @anoop2811

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong @Somefive @wangyikewxgm @chivalryq @anoop2811

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow @FogDong @wangyikewxgm @chivalryq @anoop2811

# Owner of vela CLI
references/cli/                     @Somefive @StevenLeiZhang @charlie0129 @wangyikewxgm @chivalryq @anoop2811 @FogDong

# Owner of vela addon framework
pkg/addon/                         @wangyikewxgm @wonderflow @charlie0129 @anoop2811 @FogDong

# Owner of resource keeper and tracker
pkg/resourcekeeper                 @Somefive @FogDong @chivalryq @anoop2811
pkg/resourcetracker                @Somefive @FogDong @chivalryq @anoop2811

.github/                           @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
makefiles                          @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
go.*                               @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811

Fix: check component status after initial deployment (#6824)
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
  pkg/workflow/providers/legacy/multicluster/deploy.go
  pkg/workflow/providers/legacy/multicluster/deploy_test.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/deploy_test.go
  pkg/workflow/providers/types/types.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee

Add: update application label handling for new revisions and adjust trait definition parameters
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  test_file/traitdef.cue
  test_file/webservice-comdef.cue
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

Add: implement logic to remove existing labels with specific prefixes from application and appfile
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  test_file/application.yaml
  test_file/cm.yaml
  test_file/component.cue
  test_file/component.yaml
  test_file/policydef.cue
  test_file/traitdef.cue
  test_file/webservice-comdef.cue
  test_file/workflow.cue
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

chore: removes redundant if
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Add: enhance label management by collecting and removing existing definition revision labels
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Add: implement label management for definition revisions with prefix handling
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: adds TODOs
  pkg/oam/util/helper.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Create testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: Replace the openssf badge with UI link (#6783)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Delete testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: update helm repo path in tests (#6797)
  docs/examples/config/helm-repository/README.md
  e2e/addon/mock/testdata/terraform/template.yaml
  e2e/registry/registry_test.go
  pkg/cue/cuex/providers/config/config_test.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/repo_index_test.go
  pkg/utils/helm/testdata/index.yaml
  references/cli/addon_suite_test.go
  references/cli/top/view/log_view_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

Fix: moves resource modification inside patch block (#6791)
  charts/vela-core/templates/defwithtemplate/resource.yaml
  vela-templates/definitions/internal/trait/resource.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

chore: moves dockerhub user name to secret section in the reusable workflow (#6778)
  .github/workflows/registry.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Chore: switches to new oapi type field type (#6794)
  go.mod
  go.sum
  pkg/cue/script/template.go
  pkg/definition/gen_sdk/gen_sdk.go
  pkg/definition/gen_sdk/gen_sdk_test.go
  pkg/schema/schema.go
  pkg/workflow/providers/config/config_test.go
  pkg/workflow/providers/legacy/config/config_test.go
  references/cli/addon.go
  references/docgen/openapi.go
  references/docgen/parser.go
  references/docgen/parser_test.go
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @leejanee, @barnettZQG, @jefree-cat, @StevenLeiZhang, @charlie0129

Add: implement definition revision limit cleanup and related components
  pkg/webhook/core.oam.dev/v1beta1/componentdefinition/validating_handler.go
  pkg/webhook/utils/utils.go
  setup-debugger.sh
  test_file/application.yaml
  test_file/cm.yaml
  test_file/component.cue
  test_file/component.yaml
  test_file/traitdef.cue
  test_file/webservice-comdef.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: vela cli namespace behaviour (#6805)
  references/cli/common.go
  references/cli/dryrun.go
  references/cli/dryrun_test.go
  references/cli/env.go
  references/cli/exec.go
  references/cli/export.go
  references/cli/init.go
  references/cli/livediff.go
  references/cli/logs.go
  references/cli/ls.go
  references/cli/portforward.go
  references/cli/revision.go
  references/cli/show.go
  references/cli/status.go
  references/cli/top.go
  references/cli/workflow.go
  references/cli/workloads.go
Owners: @Somefive, @StevenLeiZhang, @charlie0129, @wangyikewxgm, @chivalryq, @anoop2811, @FogDong

Fix: vela up command to behave similarly with kubectl (#6809)
  pkg/cmd/utils.go
  references/cli/up.go
  references/cli/up_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

Add: implement definition revision labels and a new policy for ConfigMap creation
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  test_file/application.yaml
  test_file/policydef.cue
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

Fix: check component status after initial deployment (#6824)
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
  pkg/workflow/providers/legacy/multicluster/deploy.go
  pkg/workflow/providers/legacy/multicluster/deploy_test.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/deploy_test.go
  pkg/workflow/providers/types/types.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee

Add: update application configuration and enhance definition revision label handling
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  test_file/application.yaml
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

Add: implement validation for definition revision cleanup in admission requests
  pkg/webhook/core.oam.dev/v1beta1/policydefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/traitdefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/workflowstepdefinition/validating_handler.go
  pkg/webhook/utils/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Add: enhance application labels to track definition revisions and prevent deletion of in-use revisions
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/oam/util/helper.go
  pkg/webhook/utils/utils.go
  test_file/workflow.cue
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

Add: implement logic to remove existing labels with specific prefixes from application and appfile
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  test_file/application.yaml
  test_file/cm.yaml
  test_file/component.cue
  test_file/component.yaml
  test_file/policydef.cue
  test_file/traitdef.cue
  test_file/webservice-comdef.cue
  test_file/workflow.cue
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

Add: enhance label management by collecting and removing existing definition revision labels
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: removes redundant if
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Add: update application label handling for new revisions and adjust trait definition parameters
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  test_file/traitdef.cue
  test_file/webservice-comdef.cue
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

Add: update definition revision handling and validation logic
  pkg/webhook/utils/utils.go
  test_file/application.yaml
  test_file/component.cue
  test_file/policydef.cue
  test_file/traitdef.cue
  test_file/webservice-comdef.cue
  test_file/workflow.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Add: implement label management for definition revisions with prefix handling
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: adds TODOs
  pkg/oam/util/helper.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

chore: removes redundant changes
  pkg/oam/util/helper.go
  pkg/webhook/core.oam.dev/v1beta1/componentdefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/policydefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/traitdefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/workflowstepdefinition/validating_handler.go
  pkg/webhook/utils/utils.go
  setup-debugger.sh
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

chore: removes redundant import
  pkg/webhook/utils/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

refactor: creates new helper functions
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/utils/utils.go
  pkg/oam/labels.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee, @jefree-cat

refactor: linter updates
  pkg/controller/utils/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811
