Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Feat: helm repo as addon registry to support addon's multi-version (#3523)
  charts/vela-core/templates/addon_registry.yaml
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/cache.go
  pkg/addon/cache_test.go
  pkg/addon/helper.go
  pkg/addon/memory_reader_test.go
  pkg/addon/reader_gitee_test.go
  pkg/addon/reader_github_test.go
  pkg/addon/reader_memory.go
  pkg/addon/registry.go
  pkg/addon/source.go
  pkg/addon/testdata/helm-repo/fluxcd-1.0.0.tgz
  pkg/addon/testdata/helm-repo/index.yaml
  pkg/addon/type.go
  pkg/addon/utils.go
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/oam/labels.go
  pkg/utils/helm/helm_helper.go
  references/cli/addon-registry.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Fix: enhance ref object to support health check for deployment
  charts/vela-core/templates/defwithtemplate/ref-objects.yaml
  charts/vela-minimal/templates/defwithtemplate/ref-objects.yaml
  vela-templates/definitions/internal/component/ref-objects.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Docs: add feature docs for multi-cluster and application revision (#3530)
  docs/examples/application/application-revision-arch.jpg
  docs/examples/application/versioning.md
  docs/examples/multicluster/deploy.md
  docs/examples/multicluster/ref-arch.jpg
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix migrate data duplicate in list API and add cluster info in addon status
  docs/apidoc/swagger.json
  pkg/addon/helper.go
  pkg/apiserver/datastore/kubeapi/kubeapi.go
  pkg/apiserver/datastore/kubeapi/migrate.go
  pkg/apiserver/datastore/kubeapi/migrate_test.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: support multiple-tenant cloud resources (#3305)
  references/cli/cli.go
  references/cli/provider.go
Owners: @Somefive, @zzxwill

chore: bump cluster-register (#3514)
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: enhance ref object to support health check for deployment (#3529)
  charts/vela-core/templates/defwithtemplate/ref-objects.yaml
  charts/vela-minimal/templates/defwithtemplate/ref-objects.yaml
  vela-templates/definitions/internal/component/ref-objects.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: fix migrate data duplicate in list API and add cluster info in addon status (#3528)
  docs/apidoc/swagger.json
  pkg/addon/helper.go
  pkg/apiserver/datastore/kubeapi/kubeapi.go
  pkg/apiserver/datastore/kubeapi/migrate.go
  pkg/apiserver/datastore/kubeapi/migrate_test.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: change default permission name
  pkg/apiserver/rest/usecase/rbac.go
Owners: @barnettZQG, @yangsoon

Fix: optimize err for auth in apiserver (#3526)
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
  pkg/apiserver/rest/utils/bcode/014_user.go
Owners: @barnettZQG, @yangsoon

Fix: the addon api bug
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @yangsoon

Fix: set local cluster name
  pkg/addon/helper.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix
  pkg/addon/versioned_registry.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change the default permission name (#3531)
  pkg/addon/helper.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/apiserver/rest/usecase/rbac.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: na
  .github/workflows/apiserver-test.yaml
  pkg/apiserver/rest/rest_server.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Update vela-templates/definitions/internal/component/config-image-registry.cue
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @Somefive, @barnettZQG, @wonderflow

test
  .github/workflows/apiserver-test.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

test
  .github/workflows/apiserver-test.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: addon API panic
  pkg/addon/addon.go
  pkg/addon/versioned_registry.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/apiserver/rest/utils/bcode/005_addon.go
  pkg/apiserver/rest/webservice/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: use policy to deploy addon
  pkg/addon/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: use create or update app instead of patch apply on addon update
  pkg/addon/addon.go
  pkg/addon/helper.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: unit test
  pkg/addon/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: addon API panic and override workflow step for addon installation (#3533)
  pkg/addon/addon.go
  pkg/addon/addon_suite_test.go
  pkg/addon/helper.go
  pkg/addon/versioned_registry.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/apiserver/rest/utils/bcode/005_addon.go
  pkg/apiserver/rest/webservice/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

address comments again
  charts/vela-core/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  docs/examples/config/app-config-dex-connector-github.yaml
  docs/examples/config/image-registry/app-config-image-registry-account-auth.yaml
  vela-templates/definitions/internal/component/config-dex-connector.cue
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: support config management (#3430)
  charts/vela-core/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  docs/examples/config/app-config-dex-connector-github.yaml
  docs/examples/config/image-registry/README.md
  docs/examples/config/image-registry/app-config-image-registry-account-auth.yaml
  docs/examples/config/image-registry/app-deliever-secret.yaml
  docs/examples/config/image-registry/app-sample.yaml
  docs/examples/config/image-registry/app-validate-imagePullSecret.yaml
  pkg/apiserver/rest/webservice/webservice.go
  vela-templates/definitions/internal/component/config-dex-connector.cue
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Feat: add config management apis
  apis/types/types.go
  charts/vela-core/templates/defwithtemplate/config-helm-repository.yaml
  charts/vela-minimal/templates/defwithtemplate/config-helm-repository.yaml
  docs/examples/config/image-registry/app-config-image-registry-account-auth.yaml
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/webservice/config.go
  pkg/apiserver/rest/webservice/webservice.go
  vela-templates/definitions/internal/component/config-helm-repository.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

add definitions for config type
  pkg/apiserver/rest/usecase/config.go
Owners: @barnettZQG, @yangsoon

image registry api
  pkg/apiserver/rest/utils/reg.go
  pkg/apiserver/rest/utils/reg_test.go
Owners: @barnettZQG, @yangsoon

fix ci
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

image registry api
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/utils/reg.go
  pkg/apiserver/rest/utils/reg_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

quick fix addon registry
  charts/vela-core/templates/addon_registry.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: allow select resource by component name for gc policy
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  docs/examples/app-with-policy/gc-policy/persist-resources.md
Owners: @barnettZQG, @wonderflow, @leejanee

quick fix addon registry (#3537)
  charts/vela-core/templates/addon_registry.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

verify ci
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

Feat: allow select resource by component name for gc policy (#3539)
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  docs/examples/app-with-policy/gc-policy/persist-resources.md
Owners: @barnettZQG, @wonderflow, @leejanee

bump cluster-gateway to v1.3.0
  charts/vela-core/README.md
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

create config
  apis/types/types.go
  docs/examples/config/dex-connector/app-config-dex-connector-github.yaml
  docs/examples/config/dex-connector/app-ldap.yaml
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/dex_test.go
  pkg/apiserver/rest/webservice/config.go
  vela-templates/definitions/internal/component/config-dex-connector.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Fix: addon support empty components
  pkg/addon/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee

bump cluster-gateway to v1.3.0 (#3540)
  charts/vela-core/README.md
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: addon support empty components (#3542)
  pkg/addon/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee
