Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Fix: add terraform aws provider without AWS_SESSION_TOKEN
  references/cli/def.go
  references/cli/provider.go
Owners: @Somefive, @zzxwill

fix CI issues
  references/cli/provider_test.go
Owners: @Somefive, @zzxwill

fix ci issues
  references/cli/provider_test.go
Owners: @Somefive, @zzxwill

add ut
  references/cli/provider.go
  references/cli/provider_test.go
Owners: @Somefive, @zzxwill

address comments
  references/cli/provider.go
Owners: @Somefive, @zzxwill

add test
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/utils/common/common.go
  pkg/utils/common/common_test.go
  pkg/utils/helm/helm_helper.go
  pkg/utils/helm/helm_helper_test.go
  references/cli/cli.go
  references/cli/install.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: allow select resource by resource type for gc policy
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  docs/examples/app-with-policy/gc-policy/persist-resources.md
Owners: @barnettZQG, @wonderflow, @leejanee

add tests
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/apiserver/rest/usecase/testdata/helm/index.yaml
  pkg/apiserver/rest/usecase/testdata/helm/mysql-8.8.23.tgz
Owners: @barnettZQG, @yangsoon

add more test
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
Owners: @barnettZQG, @yangsoon

Chore: Nominate s4rd1nh4 as a Reviewer member
  OWNERS_ALIASES
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: Nominate s4rd1nh4 as a Reviewer member (#3603)
  OWNERS_ALIASES
Owners: @barnettZQG, @wonderflow, @leejanee

add sorting for properties, outputs, writeSecretRefParameters in vela def doc-gen (#3593)
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee

add sorting for properties, outputs, writeSecretRefParameters in vela def doc-gen
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela logs without specified resource name
  pkg/utils/common/common.go
Owners: @barnettZQG, @wonderflow, @leejanee

add unittest
  pkg/utils/common/common_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

reviewable
  pkg/utils/common/common_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add e2e apiserver test for addon
  makefiles/e2e.mk
  test/e2e-apiserver-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix test
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela logs without specified resource name (#3605)
  pkg/utils/common/common.go
  pkg/utils/common/common_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

reviewable
  pkg/utils/common/common_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add unittest
  pkg/utils/common/common_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela logs without specified resource name
  pkg/utils/common/common.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: reuse chart values in vela install
  pkg/utils/helm/helm_helper.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: reuse chart values in vela install (#3616)
  pkg/utils/helm/helm_helper.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: reuse chart values in vela install
  pkg/utils/helm/helm_helper.go
Owners: @barnettZQG, @wonderflow, @leejanee

extract set auth info as a global func
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/utils/helm/helm.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/helm_suite_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

return bcode
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/utils/bcode/013_repository.go
Owners: @barnettZQG, @yangsoon

close the reponse body
  test/e2e-apiserver-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add api of listing configs for project
  apis/types/types.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

bump cluster-gateway to 1.3.2
  charts/vela-core/README.md
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

bump cluster-gateway to 1.3.2
  charts/vela-core/README.md
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

cover list enabled addon
  pkg/apiserver/rest/webservice/addon.go
  test/e2e-apiserver-test/addon_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

address comments
  apis/types/types.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

fix ci
  pkg/apiserver/rest/usecase/project.go
Owners: @barnettZQG, @yangsoon

fix test
  test/e2e-apiserver-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix dex login with existed email
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/utils/bcode/014_user.go
Owners: @barnettZQG, @yangsoon

Fix: add e2e apiserver test for addon (#3607)
  makefiles/e2e.mk
  pkg/apiserver/rest/webservice/addon.go
  test/e2e-apiserver-test/addon_test.go
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

add query parameter definition
  docs/apidoc/swagger.json
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Update pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @yangsoon

add dex connector check
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
Owners: @barnettZQG, @yangsoon

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
