Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

remove sah
  .github/workflows/e2e-multicluster-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

bump up kruise
  .github/workflows/e2e-test.yml
  makefiles/e2e.mk
Owners: @barnettZQG, @wonderflow, @leejanee

use 1.22
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: check whether a project matched a config's project
  pkg/utils/config/project.go
  pkg/utils/config/project_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix CI
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add env for sidecar and init-container trait
  charts/vela-core/templates/defwithtemplate/init-container.yaml
  charts/vela-core/templates/defwithtemplate/sidecar.yaml
  charts/vela-minimal/templates/defwithtemplate/init-container.yaml
  charts/vela-minimal/templates/defwithtemplate/sidecar.yaml
  vela-templates/definitions/internal/trait/init-container.cue
  vela-templates/definitions/internal/trait/sidecar.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: missing port name when exposing multiple ports
  charts/vela-core/templates/defwithtemplate/expose.yaml
  charts/vela-minimal/templates/defwithtemplate/expose.yaml
  vela-templates/definitions/internal/trait/expose.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

add suit test framework
  pkg/apiserver/collect/suit.test.go
Owners: @barnettZQG, @yangsoon

Fix: change systemInfo some fields (#3715)
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/system_info.go
  test/e2e-apiserver-test/system_info_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

modify the go mod file
  go.mod
  go.sum
  pkg/apiserver/collect/suit_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: change the webservice and config-image-registry definitions
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

revert kind
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/go.yml
  .github/workflows/unit-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

tidy the code
  pkg/resourcekeeper/gc_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add suite test
  pkg/controller/core.oam.dev/v1alpha2/application/gc_policy_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add sequential in gc policy
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/options.go
Owners: @barnettZQG, @wonderflow, @leejanee

add example docs and update the field
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  docs/examples/app-with-policy/gc-policy/reverse-dependency.md
  pkg/controller/core.oam.dev/v1alpha2/application/gc_policy_test.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/options.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix lint
  pkg/resourcekeeper/options.go
Owners: @barnettZQG, @wonderflow, @leejanee

change the name to dependency
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  docs/examples/app-with-policy/gc-policy/reverse-dependency.md
  pkg/controller/core.oam.dev/v1alpha2/application/gc_policy_test.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/options.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix several issues (#3729)
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

Feat(lang): The policy controller generate the OpenAPI schema (#3703)
  apis/core.oam.dev/v1beta1/policy_definition.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_policydefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_policydefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_policydefinitions.yaml
  pkg/apiserver/rest/usecase/definition.go
  pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition/policydefinition_controller.go
  pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition/policydefinition_controller_test.go
  pkg/controller/utils/capability.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Feat: add env for sidecar and init-container trait (#3730)
  charts/vela-core/templates/defwithtemplate/init-container.yaml
  charts/vela-core/templates/defwithtemplate/sidecar.yaml
  charts/vela-minimal/templates/defwithtemplate/init-container.yaml
  charts/vela-minimal/templates/defwithtemplate/sidecar.yaml
  vela-templates/definitions/internal/trait/init-container.cue
  vela-templates/definitions/internal/trait/sidecar.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

fix CI
  pkg/utils/config/project_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

change imports order
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: change the webservice and config-image-registry definitions (#3732)
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: change the webservice and config-image-registry definitions
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: add sequential in gc policy (#3701)
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  docs/examples/app-with-policy/gc-policy/reverse-dependency.md
  pkg/controller/core.oam.dev/v1alpha2/application/gc_policy_test.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/options.go
Owners: @barnettZQG, @wonderflow, @leejanee

change imported libraries order again
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change systemInfo some fields (cp #3715) (#3723)
  go.mod
  go.sum
  pkg/apiserver/collect/suit_test.go
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/system_info.go
  test/e2e-apiserver-test/system_info_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

fix several issues (#3729)
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

fix CI
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Delete the annotation "kubernetes.io/last-applied-configuration" in applicationRevision. Signed-off-by: Xiangbo Ma <maxiangboo@cmbchina.com> (#3724)
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: run e2e test on several K8s version (#3714)
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/unit-test.yml
  makefiles/const.mk
  makefiles/e2e.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela-cli does not print cluster name, if application installed in default cluster
  references/cli/addon.go
  references/cli/status.go
Owners: @Somefive, @zzxwill

Fix: public image registry config could not be created
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

enhance slack url
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

fix several issues (#3729) (#3735)
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

Feat: check whether a project matched a config's project (#3725)
  pkg/utils/config/project.go
  pkg/utils/config/project_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: add the demo code about getting image info from docker registry
  go.mod
  go.sum
  pkg/utils/registry/docker.go
  pkg/utils/registry/docker_test.go
  pkg/utils/registry/options.go
Owners: @barnettZQG, @wonderflow, @leejanee

enhance slack url (#3727)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: fix missing trigger for e2e tests
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
