Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee @Somefive @jefree-cat @FogDong @wangyikewxgm @chivalryq @anoop2811
design/                            @barnettZQG @leejanee @wonderflow @Somefive @jefree-cat @FogDong @anoop2811

# Owner of Core Controllers
pkg/controller/core.oam.dev       @Somefive @FogDong @barnettZQG @wonderflow @wangyikewxgm @chivalryq @anoop2811

# Owner of Standard Controllers
pkg/controller/standard.oam.dev   @wangyikewxgm @barnettZQG @wonderflow @Somefive @anoop2811 @FogDong

# Owner of CUE
pkg/cue                            @leejanee @FogDong @Somefive @anoop2811
pkg/stdlib                         @leejanee @FogDong @Somefive @anoop2811

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong @Somefive @wangyikewxgm @chivalryq @anoop2811

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow @FogDong @wangyikewxgm @chivalryq @anoop2811

# Owner of vela CLI
references/cli/                     @Somefive @StevenLeiZhang @charlie0129 @wangyikewxgm @chivalryq @anoop2811 @FogDong

# Owner of vela addon framework
pkg/addon/                         @wangyikewxgm @wonderflow @charlie0129 @anoop2811 @FogDong

# Owner of resource keeper and tracker
pkg/resourcekeeper                 @Somefive @FogDong @chivalryq @anoop2811
pkg/resourcetracker                @Somefive @FogDong @chivalryq @anoop2811

.github/                           @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
makefiles                          @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
go.*                               @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811

Chore: Add test cases for multiple definitions with different pinned version
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_fallback.yaml
  test/e2e-test/testdata/app/app_multi_revision.yaml
  test/e2e-test/testdata/app/app_trait_revision.yaml
  test/e2e-test/testdata/definition/configmap-component.yaml
  test/e2e-test/testdata/definition/scaler-trait.yaml
  test/e2e-test/testdata/definition/worker-base.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: vela cli namespace behaviour (#6805)
  references/cli/common.go
  references/cli/dryrun.go
  references/cli/dryrun_test.go
  references/cli/env.go
  references/cli/exec.go
  references/cli/export.go
  references/cli/init.go
  references/cli/livediff.go
  references/cli/logs.go
  references/cli/ls.go
  references/cli/portforward.go
  references/cli/revision.go
  references/cli/show.go
  references/cli/status.go
  references/cli/top.go
  references/cli/workflow.go
  references/cli/workloads.go
Owners: @Somefive, @StevenLeiZhang, @charlie0129, @wangyikewxgm, @chivalryq, @anoop2811, @FogDong

Fix: add type field to Trait struct for improved component handling
  pkg/appfile/parser.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: update component and trait handling to use type names for labels and definitions
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  cmd/core/app/options/options.go
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/appfile/template.go
  pkg/controller/core.oam.dev/v1beta1/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: add support for multiple policy and workflow revisions in application definitions
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_policy_revision.yaml
  test/e2e-test/testdata/app/app_workflow_revision.yaml
  test/e2e-test/testdata/definition/configmap-policy.yaml
  test/e2e-test/testdata/definition/configmap-workflow.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: update image reference in definition revision test for consistency
  test/e2e-test/definition_revision_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: increase timeout for deployment checks in definition revision test
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  test/e2e-test/definition_revision_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Create testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Delete testwr
  testwr
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: Replace the openssf badge with UI link (#6783)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: moves resource modification inside patch block (#6791)
  charts/vela-core/templates/defwithtemplate/resource.yaml
  vela-templates/definitions/internal/trait/resource.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: update helm repo path in tests (#6797)
  docs/examples/config/helm-repository/README.md
  e2e/addon/mock/testdata/terraform/template.yaml
  e2e/registry/registry_test.go
  pkg/cue/cuex/providers/config/config_test.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/repo_index_test.go
  pkg/utils/helm/testdata/index.yaml
  references/cli/addon_suite_test.go
  references/cli/top/view/log_view_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

chore: moves dockerhub user name to secret section in the reusable workflow (#6778)
  .github/workflows/registry.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Fix: vela cli namespace behaviour (#6805)
  references/cli/common.go
  references/cli/dryrun.go
  references/cli/dryrun_test.go
  references/cli/env.go
  references/cli/exec.go
  references/cli/export.go
  references/cli/init.go
  references/cli/livediff.go
  references/cli/logs.go
  references/cli/ls.go
  references/cli/portforward.go
  references/cli/revision.go
  references/cli/show.go
  references/cli/status.go
  references/cli/top.go
  references/cli/workflow.go
  references/cli/workloads.go
Owners: @Somefive, @StevenLeiZhang, @charlie0129, @wangyikewxgm, @chivalryq, @anoop2811, @FogDong

Chore: switches to new oapi type field type (#6794)
  go.mod
  go.sum
  pkg/cue/script/template.go
  pkg/definition/gen_sdk/gen_sdk.go
  pkg/definition/gen_sdk/gen_sdk_test.go
  pkg/schema/schema.go
  pkg/workflow/providers/config/config_test.go
  pkg/workflow/providers/legacy/config/config_test.go
  references/cli/addon.go
  references/docgen/openapi.go
  references/docgen/parser.go
  references/docgen/parser_test.go
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @leejanee, @barnettZQG, @jefree-cat, @StevenLeiZhang, @charlie0129

Fix: vela up command to behave similarly with kubectl (#6809)
  pkg/cmd/utils.go
  references/cli/up.go
  references/cli/up_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

fix: remove defer from feature gate testing in multiple test files
  cmd/core/app/hooks/pre_start_hook_test.go
  pkg/auth/round_trippers_test.go
  pkg/component/ref_objects_suite_test.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
  pkg/policy/topology_test.go
  pkg/resourcekeeper/gc_suite_test.go
  pkg/webhook/core.oam.dev/v1beta1/application/suite_test.go
  pkg/webhook/core.oam.dev/v1beta1/componentdefinition/validating_handler_test.go
  pkg/webhook/core.oam.dev/v1beta1/policydefinition/validating_handler_test.go
  pkg/webhook/core.oam.dev/v1beta1/traitdefinition/validating_handler_test.go
  pkg/webhook/core.oam.dev/v1beta1/workflowstepdefinition/validating_handler_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: check component status after initial deployment (#6824)
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
  pkg/workflow/providers/legacy/multicluster/deploy.go
  pkg/workflow/providers/legacy/multicluster/deploy_test.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/deploy_test.go
  pkg/workflow/providers/types/types.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee

chore: upgrade k8s version to v0.31.10 and corresponding fixes
  go.mod
  go.sum
  pkg/webhook/core.oam.dev/v1beta1/application/mutating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/application/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/componentdefinition/mutating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/componentdefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/policydefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/traitdefinition/validating_handler.go
  pkg/webhook/core.oam.dev/v1beta1/workflowstepdefinition/validating_handler.go
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @barnettZQG, @leejanee, @jefree-cat

fix: remove defer from feature gate testing in multiple test files
  pkg/auth/userinfo_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: Fix check-diff
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_componentdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_policies.yaml
  charts/vela-core/crds/core.oam.dev_policydefinitions.yaml
  charts/vela-core/crds/core.oam.dev_resourcetrackers.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_workflowstepdefinitions.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

fix: use RunPortForwardContext for improved context handling in port forwarding
  references/cli/portforward.go
Owners: @Somefive, @StevenLeiZhang, @charlie0129, @wangyikewxgm, @chivalryq, @anoop2811, @FogDong

Chore: Update ENVTEST_K8S_VERSION variable
  makefiles/dependency.mk
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

fix: update feature gate testing to use GinkgoT for improved context handling
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Fix: update Kubernetes version in e2e tests to v1.31
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-test.yml
  go.sum
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Fix: increase timeout for application revision retrieval in multicluster tests
  test/e2e-multicluster-test/multicluster_standalone_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

[Feature]omit component revision in additionalLabel to add to k8s object when component revision is not set and DisableAllComponentRevision setted true #6643
  pkg/controller/core.oam.dev/v1beta1/application/assemble/assemble.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Update pkg/controller/core.oam.dev/v1beta1/application/assemble/assemble.go
  pkg/controller/core.oam.dev/v1beta1/application/assemble/assemble.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

[BUG]omit component revision in additionalLabel to add to k8s object when component revision is not set and DisableAllComponentRevision setted true #6643
  pkg/controller/core.oam.dev/v1beta1/application/assemble/assemble.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

fix: github action `gofmt`-ed with `-s`
  pkg/controller/core.oam.dev/v1beta1/application/assemble/assemble.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811
