Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Feat: set legacy-rt-gc to disabled by default
  pkg/features/controller_features.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: release script condition syntax
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: release script condition syntax
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: release script condition syntax (#4043)
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: pending healthscope with authentication test
  pkg/resourcekeeper/gc_suite_test.go
  test/e2e-multicluster-test/multicluster_rollout_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: minimize controller privileges & enforce authentication in multicluster e2e test (#4031)
  .github/workflows/e2e-multicluster-test.yml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  makefiles/e2e.mk
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/features/controller_features.go
  pkg/resourcekeeper/gc_suite_test.go
  pkg/resourcekeeper/statekeep.go
  test/e2e-multicluster-test/multicluster_rollout_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: set legacy-rt-gc to disabled by default
  pkg/features/controller_features.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: use user info in ref-object select
  makefiles/e2e.mk
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: enable auth in multicluster test & restrict controller privileges while enabling authentication
  .github/workflows/e2e-multicluster-test.yml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  makefiles/e2e.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: pending healthscope with authentication test
  pkg/resourcekeeper/gc_suite_test.go
  test/e2e-multicluster-test/multicluster_rollout_test.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: fix statekeep permission leak & comprev cleanup leak
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  makefiles/e2e.mk
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/resourcekeeper/statekeep.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: release script condition syntax (#4042)
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela ql into vela-cli
  e2e/application/application_test.go
  e2e/application/component-pod-view.yaml
  references/cli/cli.go
  references/cli/velaql.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

dependsOn cannot be an empty array
  pkg/webhook/core.oam.dev/v1alpha2/application/validating_handler_test.go
  pkg/webhook/core.oam.dev/v1alpha2/application/validation.go
Owners: @barnettZQG, @wonderflow, @leejanee

chore: generate files
  charts/vela-core/templates/defwithtemplate/deploy.yaml
  charts/vela-minimal/templates/defwithtemplate/deploy.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

feat: deploy accepts wait healthy
  pkg/workflow/providers/multicluster/multicluster.go
  vela-templates/definitions/internal/workflowstep/deploy.cue
Owners: @leejanee, @FogDong, @Somefive, @barnettZQG, @wonderflow

Fix: fail to get the endpoints via the velaql
  pkg/velaql/providers/query/handler.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: the policies can not be deleted
  pkg/apiserver/domain/repository/application.go
  pkg/apiserver/domain/service/application.go
  pkg/apiserver/domain/service/envbinding.go
  pkg/apiserver/domain/service/envbinding_test.go
  pkg/apiserver/interfaces/api/application.go
Owners: @barnettZQG, @yangsoon

Fix: fail to get the endpoints via the velaql (#4056)
  pkg/velaql/providers/query/handler.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fail to get the endpoints via the velaql
  pkg/velaql/providers/query/handler.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix the rollout acr image
  .github/workflows/registry.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: set workflow to finish before record in controller revision
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: remove the tcp protocol prefix in the endpoint string
  pkg/velaql/providers/query/handler_test.go
  pkg/velaql/providers/query/types/type.go
  references/cli/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

fix
  .github/workflows/registry.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: the policies can not be deleted (#4057)
  pkg/apiserver/domain/repository/application.go
  pkg/apiserver/domain/service/application.go
  pkg/apiserver/domain/service/envbinding.go
  pkg/apiserver/domain/service/envbinding_test.go
  pkg/apiserver/interfaces/api/application.go
Owners: @barnettZQG, @yangsoon

Fix: the policies can not be deleted
  pkg/apiserver/domain/repository/application.go
  pkg/apiserver/domain/service/application.go
  pkg/apiserver/domain/service/envbinding.go
  pkg/apiserver/domain/service/envbinding_test.go
  pkg/apiserver/interfaces/api/application.go
Owners: @barnettZQG, @yangsoon

merge two sction
  .github/workflows/registry.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix the dependency gc policy to reverse dependency
  docs/examples/app-with-policy/gc-policy/reverse-dependency.md
  pkg/controller/core.oam.dev/v1alpha2/application/gc_policy_test.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: change the key features and add the demo entrance
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: reuse the Highlights
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix the dependency gc policy to reverse dependency (#4063)
  docs/examples/app-with-policy/gc-policy/reverse-dependency.md
  pkg/controller/core.oam.dev/v1alpha2/application/gc_policy_test.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix the dependency gc policy to reverse dependency
  docs/examples/app-with-policy/gc-policy/reverse-dependency.md
  pkg/controller/core.oam.dev/v1alpha2/application/gc_policy_test.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: set workflow to finish before record in controller revision (#4060)
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: set workflow to finish before record in controller revision
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: CI workflow for rollout acr image build and push (#4061)
  .github/workflows/registry.yml
Owners: @barnettZQG, @wonderflow, @leejanee

merge two sction
  .github/workflows/registry.yml
Owners: @barnettZQG, @wonderflow, @leejanee

fix the rollout acr image
  .github/workflows/registry.yml
Owners: @barnettZQG, @wonderflow, @leejanee

fix
  .github/workflows/registry.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: remove the tcp protocol prefix in the endpoint string (#4059)
  pkg/velaql/providers/query/handler_test.go
  pkg/velaql/providers/query/types/type.go
  references/cli/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: remove the tcp protocol prefix in the endpoint string
  pkg/velaql/providers/query/handler_test.go
  pkg/velaql/providers/query/types/type.go
  references/cli/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
