Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

fix windows bug
  pkg/addon/addon.go
  pkg/addon/helper.go
  pkg/addon/reader_local.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix revision in webservice
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

add more tests
  pkg/addon/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix the bug of vela cli enable addon by localDir on windows os (#3761)
  pkg/addon/addon.go
  pkg/addon/addon_suite_test.go
  pkg/addon/helper.go
  pkg/addon/reader_local.go
Owners: @barnettZQG, @wonderflow, @leejanee

add more tests
  pkg/addon/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix windows bug
  pkg/addon/addon.go
  pkg/addon/helper.go
  pkg/addon/reader_local.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: use Terraform provider name as application in CLI (#3742) (#3756)
  apis/types/types.go
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/utils/config/application.go
  references/cli/provider.go
  references/cli/provider_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Feat: add default user in dex
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/usecase/user_test.go
Owners: @barnettZQG, @yangsoon

fix e2e test
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

remain log
  pkg/apiserver/rest/usecase/user.go
Owners: @barnettZQG, @yangsoon

Feat: Support trait with custom resource be dispatched to hubcluster
  apis/core.oam.dev/v1beta1/core_types.go
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_traitdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_traitdefinitions.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add default user in dex (#3753)
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/usecase/user_test.go
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Feat: show the parsing capability error message
  references/cli/traits.go
Owners: @Somefive, @zzxwill

Chore: sync the cli binaries to OSS
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix revision in webservice (#3758)
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: fix revision in webservice
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: add some APIs to manage the definitions (#3749)
  docs/apidoc/swagger.json
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/testdata/apply-application-hide.yaml
  pkg/apiserver/rest/usecase/testdata/apply-object.yaml
  pkg/apiserver/rest/usecase/testdata/ui-custom-schema.yaml
  pkg/apiserver/rest/usecase/testdata/workflowstep-apply-object.yaml
  pkg/apiserver/rest/utils/bcode/bcode.go
  pkg/apiserver/rest/utils/ui_schema.go
  pkg/apiserver/rest/webservice/definition.go
  pkg/apiserver/rest/webservice/policy_definition.go
  pkg/apiserver/rest/webservice/webservice.go
  test/e2e-apiserver-test/definition_test.go
  test/e2e-apiserver-test/testdata/component-schema-webservice.yaml
  vela-templates/definitions/uischema/component-alibaba-rds.yaml
  vela-templates/definitions/uischema/component-k8s-objects.yaml
  vela-templates/definitions/uischema/component-task.yaml
  vela-templates/definitions/uischema/component-webservice.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Fix: fix up command add debug policy
  references/cli/up.go
Owners: @Somefive, @zzxwill

Fix: fix up command add debug policy (#3770)
  references/cli/up.go
Owners: @Somefive, @zzxwill

Feat: Support trait with custom resource be dispatched to hubcluster.
  apis/core.oam.dev/v1beta1/core_types.go
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_traitdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_traitdefinitions.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Support trait with custom resource be dispatched to hubcluster.
  apis/core.oam.dev/v1beta1/core_types.go
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_traitdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_traitdefinitions.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix addon parse any type
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

test int
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Feat: Support trait with custom resource be dispatched to hubcluster. (#3774)
  apis/core.oam.dev/v1beta1/core_types.go
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_traitdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_traitdefinitions.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support dependsOn in deploy workflowstep
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  charts/vela-core/templates/defwithtemplate/deploy.yaml
  charts/vela-minimal/templates/defwithtemplate/deploy.yaml
  pkg/appfile/appfile.go
  pkg/appfile/dryrun/testdata/wd-deploy.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/cue/model/value/value.go
  pkg/policy/envbinding/patch.go
  pkg/policy/topology.go
  pkg/policy/topology_test.go
  pkg/resourcekeeper/containsresources.go
  pkg/resourcekeeper/resourcekeeper.go
  pkg/stdlib/op.cue
  pkg/stdlib/pkgs/multicluster.cue
  pkg/stdlib/pkgs/oam.cue
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/deploy_test.go
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  pkg/workflow/providers/oam/apply.go
  pkg/workflow/providers/oam/apply_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  references/cli/status.go
  vela-templates/definitions/internal/workflowstep/deploy.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: addon cli parse any type (#3775)
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

fix addon parse any type
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

test int
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Fix: env trait compatible with valueFrom
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: support dependsOn in deploy workflowstep (#3750)
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  charts/vela-core/templates/defwithtemplate/deploy.yaml
  charts/vela-minimal/templates/defwithtemplate/deploy.yaml
  pkg/appfile/appfile.go
  pkg/appfile/dryrun/testdata/wd-deploy.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/cue/model/value/value.go
  pkg/policy/envbinding/patch.go
  pkg/policy/topology.go
  pkg/policy/topology_test.go
  pkg/resourcekeeper/containsresources.go
  pkg/resourcekeeper/resourcekeeper.go
  pkg/stdlib/op.cue
  pkg/stdlib/pkgs/multicluster.cue
  pkg/stdlib/pkgs/oam.cue
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/deploy_test.go
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  pkg/workflow/providers/oam/apply.go
  pkg/workflow/providers/oam/apply_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  references/cli/status.go
  vela-templates/definitions/internal/workflowstep/deploy.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: kubectl check err (#3759)
  pkg/cmd/builder.go
  pkg/cmd/factory.go
  pkg/cmd/util/helpers.go
  pkg/cmd/utils.go
  references/cli/up.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: kubectl check err
  pkg/cmd/builder.go
  pkg/cmd/factory.go
  pkg/cmd/util/helpers.go
  pkg/cmd/utils.go
  references/cli/up.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: env trait compatible with valueFrom (#3778)
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: env trait compatible with valueFrom
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Chore: sync the cli binaries to OSS (#3764)
  .github/workflows/release.yml
  references/cli/traits.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Chore: sync the cli binaries to OSS
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: show the parsing capability error message
  references/cli/traits.go
Owners: @Somefive, @zzxwill

Make the PR reviewable
  vela-templates/definitions/internal/component/cron-task.cue
  vela-templates/definitions/internal/component/task.cue
  vela-templates/definitions/internal/component/webservice.cue
  vela-templates/definitions/internal/component/worker.cue
Owners: @Somefive, @barnettZQG, @wonderflow

Add application name to the generated workload
  charts/vela-core/templates/defwithtemplate/cron-task.yaml
  charts/vela-core/templates/defwithtemplate/task.yaml
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-core/templates/defwithtemplate/worker.yaml
  charts/vela-minimal/templates/defwithtemplate/cron-task.yaml
  charts/vela-minimal/templates/defwithtemplate/task.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/worker.yaml
  vela-templates/definitions/internal/component/cron-task.cue
  vela-templates/definitions/internal/component/task.cue
  vela-templates/definitions/internal/component/webservice.cue
  vela-templates/definitions/internal/component/worker.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: log message wraps wrong arguments
  pkg/addon/cache.go
Owners: @barnettZQG, @wonderflow, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
