Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811, @StevenLeiZhang, @charlie0129

Feat: support token retrieval via AuthInfo.Exec command (#6721)
  pkg/multicluster/cluster_management.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Feat: add controller metrics (#6650)
  charts/vela-core/README.md
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: build failure due to deprecated actions/cache (#6711)
  .github/workflows/go.yml
  .github/workflows/unit-test.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Fix(parser) - The app.Spec.Policies[idx].Name must be a valid string (#6723)
  e2e/application/application_test.go
  pkg/appfile/parser.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix(CUE): remove duplicate tcpSocket in startup-probe (#6528)
  charts/vela-core/templates/defwithtemplate/startup-probe.yaml
  vela-templates/definitions/internal/trait/startup-probe.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

upgrade vulnerable packages (#6755)
  go.mod
  go.sum
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

chore: quick deploy button for kubevela (#6692)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: modified webservice componenet definition to define resource req and … (#6714)
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

feat: add signed releases, SBOMs, and SLSA provenance (#6749)
  .github/workflows/registry.yml
  .github/workflows/release.yml
  .goreleaser.yaml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @barnettZQG, @leejanee, @jefree-cat

Feat: added support for stateful set (#6638)
  charts/vela-core/templates/defwithtemplate/statefulset.yaml
  docs/examples/custom-trait/README.md
  docs/examples/custom-trait/app.yaml
  references/docgen/def-doc/component/statefulset.eg.md
  vela-templates/definitions/internal/component/statefulset.cue
  vela-templates/definitions/usage-examples/application-with-statefulset.yaml
  vela-templates/definitions/usage-examples/application-with-storage.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

adds slsa generator to the workflow (#6747)
  .github/workflows/registry.yml
  .github/workflows/release.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Feat: Enable CueX compiler in component & trait templating (#6720)
  cmd/core/app/options/options.go
  cmd/core/app/options/options_test.go
  pkg/cue/cuex/compiler_test.go
  pkg/cue/definition/template.go
  pkg/workflow/providers/compiler.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Update score card action version (#6759)
  .github/workflows/scorecards.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Fix: Vela not deleting the definition revisions after cleaning up the definitions (#6738)
  pkg/controller/core.oam.dev/v1beta1/core/revison.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Fix: removing detached clusters from resource trackers (#6728)
  pkg/addon/addon_test.go
  pkg/addon/helper.go
  pkg/multicluster/cluster_management.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129, @anoop2811, @FogDong, @barnettZQG, @leejanee, @Somefive, @jefree-cat, @chivalryq

fix: fix incorrect nil return value (#6705)
  pkg/addon/addon.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129, @anoop2811, @FogDong

Fix: support task component to be one-time run to completion (#6733)
  charts/vela-core/templates/defwithtemplate/task.yaml
  vela-templates/definitions/internal/component/task.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Fix: update apps with topology policy during cluster join (#6768)
  references/cli/cluster.go
  references/cli/cluster_test.go
Owners: @Somefive, @StevenLeiZhang, @charlie0129, @wangyikewxgm, @chivalryq, @anoop2811, @FogDong

Fix: Failing issue-commands workflow (#6766)
  .github/workflows/issue-commands.yml
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Fix: call errors.Wrap with a nil value error err (#6739)
  pkg/addon/addon.go
  pkg/utils/file.go
Owners: @wangyikewxgm, @wonderflow, @charlie0129, @anoop2811, @FogDong, @barnettZQG, @leejanee, @Somefive, @jefree-cat, @chivalryq

update workflow package to fix output compatibility (#6761)
  go.mod
  go.sum
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811

Feat(validation): fail-fast CUE validation for required parameters (incl. dynamic sources) (#6774)
  go.mod
  go.sum
  makefiles/e2e.mk
  pkg/appfile/validate.go
  pkg/appfile/validate_test.go
  pkg/cue/definition/template.go
  pkg/cue/definition/template_test.go
  test/e2e-test/requiredparam_validation_test.go
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @barnettZQG, @leejanee, @jefree-cat

Fix(Helm): make tolerations, nodeSelector, affinity more generic (#6771)
  charts/vela-core/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/vela-core/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/job-patch.yaml
  charts/vela-core/templates/test/test-application.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: updates vuln dependencies versions (#6757)
  go.mod
  go.sum
  pkg/addon/addon.go
  pkg/addon/reader_gitlab.go
  pkg/addon/reader_gitlab_test.go
  pkg/addon/source.go
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @charlie0129

fix(traitdefinition): podsecuritycontext - Make localhostProfile optional for other types and provide it only for Localhost. Fixes #6772 (#6773)
  charts/vela-core/templates/defwithtemplate/podsecuritycontext.yaml
  vela-templates/definitions/internal/trait/podsecuritycontext.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

Chore: update go and golangci version (#6767)
  .github/workflows/core-api-test.yml
  .github/workflows/definition-lint.yml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/go.yml
  .github/workflows/release.yml
  .github/workflows/sdk-test.yml
  .github/workflows/sync-api.yml
  .github/workflows/sync-sdk.yaml
  .github/workflows/unit-test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.cli
  Dockerfile.e2e
  Makefile
  go.mod
  go.sum
  hack/docgen/cli/gen.go
  makefiles/dependency.mk
  pkg/addon/push.go
  pkg/cue/definition/template.go
  pkg/definition/gen_sdk/go.go
  pkg/workflow/providers/legacy/query/handler.go
  pkg/workflow/providers/query/handler.go
  references/cli/addon.go
  references/cli/def.go
  references/cli/install.go
  references/cli/status.go
  references/cli/velaql.go
  references/common/application.go
  test/e2e-multicluster-test/multicluster_standalone_test.go
Owners: @chivalryq, @wonderflow, @Somefive, @FogDong, @wangyikewxgm, @anoop2811, @barnettZQG, @leejanee, @jefree-cat, @charlie0129, @StevenLeiZhang

fix the initilization for trait in output section (#6762)
  references/cli/def.go
Owners: @Somefive, @StevenLeiZhang, @charlie0129, @wangyikewxgm, @chivalryq, @anoop2811, @FogDong

Ignore: Testing e2e success
  CONTRIBUTING.md
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

fix: handle multiple services per component correctly
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

fix: add workaround to evaluate healthchecks for a running app
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

fix: write back component status message
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: remove obsolete comments
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: remove unneeded health policy check
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

fix: healthcheck for external clusters
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: remove excessive logging
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: update services in-place without creating new slice
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

chore: make baseCtx first argument
  CONTRIBUTING.md
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @jefree-cat, @FogDong, @wangyikewxgm, @chivalryq, @anoop2811

fix: check component status after initial deployment
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Fix: applications should correctly reflect component health throughout the apps lifecycle
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811

Fix: check component status after initial deployment
  pkg/controller/core.oam.dev/v1beta1/application/application_controller.go
  pkg/controller/core.oam.dev/v1beta1/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1beta1/application/generator.go
  pkg/workflow/providers/legacy/multicluster/deploy.go
  pkg/workflow/providers/legacy/multicluster/deploy_test.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/deploy_test.go
  pkg/workflow/providers/types/types.go
Owners: @Somefive, @FogDong, @barnettZQG, @wonderflow, @wangyikewxgm, @chivalryq, @anoop2811, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee @Somefive @jefree-cat @FogDong @wangyikewxgm @chivalryq @anoop2811
design/                            @barnettZQG @leejanee @wonderflow @Somefive @jefree-cat @FogDong @anoop2811

# Owner of Core Controllers
pkg/controller/core.oam.dev       @Somefive @FogDong @barnettZQG @wonderflow @wangyikewxgm @chivalryq @anoop2811

# Owner of Standard Controllers
pkg/controller/standard.oam.dev   @wangyikewxgm @barnettZQG @wonderflow @Somefive @anoop2811 @FogDong

# Owner of CUE
pkg/cue                            @leejanee @FogDong @Somefive @anoop2811
pkg/stdlib                         @leejanee @FogDong @Somefive @anoop2811

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong @Somefive @wangyikewxgm @chivalryq @anoop2811

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow @FogDong @wangyikewxgm @chivalryq @anoop2811

# Owner of vela CLI
references/cli/                     @Somefive @StevenLeiZhang @charlie0129 @wangyikewxgm @chivalryq @anoop2811 @FogDong

# Owner of vela addon framework
pkg/addon/                         @wangyikewxgm @wonderflow @charlie0129 @anoop2811 @FogDong

# Owner of resource keeper and tracker
pkg/resourcekeeper                 @Somefive @FogDong @chivalryq @anoop2811
pkg/resourcetracker                @Somefive @FogDong @chivalryq @anoop2811

.github/                           @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
makefiles                          @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
go.*                               @chivalryq @wonderflow @Somefive @FogDong @wangyikewxgm @anoop2811
