Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Feat: vela kube apply --cluster (#3931)
  pkg/cmd/builder.go
  pkg/cmd/types.go
  pkg/cmd/utils.go
  pkg/utils/file.go
  references/cli/auth.go
  references/cli/cli.go
  references/cli/kube.go
  test/e2e-multicluster-test/multicluster_cli_test.go
  test/e2e-multicluster-test/testdata/kube/data/configmap.yaml
  test/e2e-multicluster-test/testdata/kube/service.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

fix UT
  pkg/apiserver/rest/usecase/project_test.go
Owners: @barnettZQG, @yangsoon

Fix: remove last-applied-config annotation for configmap and secret
  pkg/oam/labels.go
  pkg/utils/apply/apply.go
  pkg/utils/apply/apply_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: API of retrieving image registry secrets by image and its tag (#3719)
  go.mod
  go.sum
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/webservice/project.go
  pkg/utils/imageregistry/image.go
  pkg/utils/imageregistry/image_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Upgrade terraform controller api version
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/oam-runtime/crds/core.oam.dev_workloaddefinitions.yaml
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_componentdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_policydefinitions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_workflowstepdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_workloaddefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_policydefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_workflowstepdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_workloaddefinitions.yaml
  go.mod
  go.sum
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_componentdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_policydefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_traitdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflowstepdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workloaddefinitions.yaml
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
  pkg/cloudprovider/aliyun.go
Owners: @barnettZQG, @wonderflow, @leejanee

add one more tests
  apis/core.oam.dev/common/types.go
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: remove last-applied-config annotation for configmap and secret (#3939)
  pkg/oam/labels.go
  pkg/utils/apply/apply.go
  pkg/utils/apply/apply_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: remove last-applied-config annotation for configmap and secret
  pkg/oam/labels.go
  pkg/utils/apply/apply.go
  pkg/utils/apply/apply_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix two unit-tests
  pkg/appfile/appfile_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support force delete Terraform typed application (#3929)
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  docs/examples/terraform/application-force-delete.yaml
  go.mod
  go.sum
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
  pkg/cloudprovider/aliyun.go
  references/common/application.go
  references/common/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela auth grant-privileges
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  pkg/auth/identity.go
  pkg/auth/privileges.go
  pkg/utils/jwt.go
  pkg/utils/k8s.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler.go
  references/cli/auth.go
  references/cli/kube.go
  test/e2e-multicluster-test/multicluster_auth_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: addon compare vela version failure
  go.mod
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/example-1.0.1.tgz
Owners: @barnettZQG, @wonderflow, @leejanee

Fix(cli): try to get mapValue type name (#2474)
  references/plugins/reference_test.go
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: addon compare vela version failure (#3928)
  go.mod
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/example-1.0.1.tgz
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: gateway trait support https protocol (#3832)
  charts/vela-core/templates/defwithtemplate/gateway.yaml
  charts/vela-minimal/templates/defwithtemplate/gateway.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/trait/gateway.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: code style
  pkg/apiserver/event/event_test.go
  pkg/apiserver/infrastructure/datastore/kubeapi/kubeapi_suite_test.go
Owners: @barnettZQG, @yangsoon

Fix: code style
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support chart value to disable conversation on application crd
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/vela-minimal/values.yaml
  config/crd/kustomization.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support chart value to disable conversation on application crd (#3890)
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/vela-minimal/values.yaml
  config/crd/kustomization.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: gateway trait support https protocol (#3832) (#3925)
  charts/vela-core/templates/defwithtemplate/gateway.yaml
  charts/vela-minimal/templates/defwithtemplate/gateway.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/trait/gateway.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat(cli): added the offline flag to the dry-run command (#3875)
  pkg/utils/common/args.go
  references/cli/dryrun.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Chore: trim updated docs, make the source clean
  CONTRIBUTING.md
  contribute/README.md
  contribute/coding-conventions.md
  contribute/create-pull-request.md
  contribute/developer-guide.md
  contribute/testcode-guidance.md
  contribute/triage-issues.md
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: trim updated docs, make the source clean (#3946)
  CONTRIBUTING.md
  contribute/README.md
  contribute/coding-conventions.md
  contribute/create-pull-request.md
  contribute/developer-guide.md
  contribute/testcode-guidance.md
  contribute/triage-issues.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix the lint errors
  cmd/apiserver/main.go
  pkg/apiserver/domain/repository/workflow.go
  pkg/apiserver/domain/service/addon.go
  pkg/apiserver/domain/service/application.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/event/collect/system_info_collect.go
  pkg/apiserver/event/event.go
  pkg/apiserver/event/sync/worker.go
  pkg/apiserver/interfaces/api/helm.go
  pkg/utils/helm/helm_helper.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: support download kustomize in local folder
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support step group with substep in the workflow
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_workflows.yaml
  charts/vela-core/templates/defwithtemplate/step-group.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/defwithtemplate/step-group.yaml
  design/vela-core/workflow_policy.md
  docs/examples/workflow/step-group/app.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflows.yaml
  pkg/addon/example-1.0.1.tgz
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/types/utils.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  vela-templates/definitions/internal/workflowstep/step-group.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive

Feat: support step group with substep in the workflow (#3772)
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_workflows.yaml
  charts/vela-core/templates/defwithtemplate/step-group.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/defwithtemplate/step-group.yaml
  design/vela-core/workflow_policy.md
  docs/examples/workflow/step-group/app.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflows.yaml
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/types/utils.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  vela-templates/definitions/internal/workflowstep/step-group.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive

Feat: vela auth grant-privileges (#3943)
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  pkg/auth/identity.go
  pkg/auth/privileges.go
  pkg/utils/jwt.go
  pkg/utils/k8s.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler.go
  references/cli/auth.go
  references/cli/kube.go
  test/e2e-multicluster-test/multicluster_auth_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: make gateway trait's host field optional (#3912)
  charts/vela-core/templates/defwithtemplate/gateway.yaml
  charts/vela-minimal/templates/defwithtemplate/gateway.yaml
  vela-templates/definitions/internal/trait/gateway.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: support download kustomize in local folder (#3949)
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela kube delete
  references/cli/kube.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @Somefive, @zzxwill, @barnettZQG, @wonderflow, @leejanee

Fix: listKubeCluster page=0
  pkg/apiserver/domain/service/cluster.go
Owners: @barnettZQG, @yangsoon

Fix: listKubeCluster page=0 (#3951)
  pkg/apiserver/domain/service/cluster.go
Owners: @barnettZQG, @yangsoon

cue fmt
  pkg/stdlib/pkgs/query.cue
Owners: @leejanee, @FogDong

add filter
  pkg/stdlib/pkgs/query.cue
Owners: @leejanee, @FogDong

first commit
  charts/vela-core/templates/velaql/resourceTree.yaml
  pkg/stdlib/pkgs/query.cue
  pkg/stdlib/ql.cue
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
  pkg/velaql/providers/query/types/health_status.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

fix comments
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee

add more test for pod status
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix
  charts/vela-core/templates/velaql/resourceTree.yaml
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: grant privilege readonly incorrect binding
  pkg/auth/privileges.go
Owners: @barnettZQG, @wonderflow, @leejanee
