Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Feat: add affinity trait to merge node and pod affinity
  charts/vela-core/templates/defwithtemplate/affinity.yaml
  charts/vela-core/templates/defwithtemplate/node-affinity.yaml
  charts/vela-minimal/templates/defwithtemplate/affinity.yaml
  docs/examples/traits/affinity/example.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/deprecated/node-affinity.cue
  vela-templates/definitions/internal/trait/affinity.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: fail to query the count with mongodb
  pkg/apiserver/infrastructure/datastore/mongodb/mongodb.go
  pkg/apiserver/infrastructure/datastore/mongodb/mongodb_test.go
Owners: @barnettZQG, @yangsoon

Fix: fail to query the count with mongodb (#4012)
  pkg/apiserver/infrastructure/datastore/mongodb/mongodb.go
  pkg/apiserver/infrastructure/datastore/mongodb/mongodb_test.go
Owners: @barnettZQG, @yangsoon

Fix: fail to query the count with mongodb
  pkg/apiserver/infrastructure/datastore/mongodb/mongodb.go
  pkg/apiserver/infrastructure/datastore/mongodb/mongodb_test.go
Owners: @barnettZQG, @yangsoon

Fix: step group documentation update and bug fix of firstExecuteTime not record (#3975)
  docs/examples/workflow/step-group/README.md
  docs/examples/workflow/step-group/example.yaml
  pkg/workflow/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: step group documentation update and bug fix of firstExecuteTime not record
  docs/examples/workflow/step-group/README.md
  docs/examples/workflow/step-group/example.yaml
  pkg/workflow/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: use application identity in gc & componentrevision & collectHealthStatus
  charts/vela-core/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-minimal/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/resourcekeeper/componentrevision.go
  pkg/resourcekeeper/gc.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: remove DELETE from mutating webhook
  charts/vela-core/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-minimal/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: enhance deploy error display
  apis/core.oam.dev/v1alpha1/envbinding_types.go
  pkg/auth/round_trippers_test.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler_test.go
  pkg/workflow/providers/multicluster/deploy.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Chore: remove useless features and roles
  apis/types/types.go
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/templates/rbac/x-definition.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  cmd/core/main.go
  pkg/auth/round_trippers.go
  pkg/auth/round_trippers_test.go
  pkg/features/controller_features.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: e2e test vela cli output match & controllerrevision recycle for serviceaccount impersonation
  e2e/application/application_test.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: velaql fail to parse query result to json format
  pkg/cue/utils.go
  pkg/cue/utils_test.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/utils.go
  pkg/velaql/providers/query/utils_test.go
  pkg/workflow/providers/kube/handle.go
  references/cli/velaql_test.go
  test/e2e-apiserver-test/testdata/component-pod-view.yaml
Owners: @leejanee, @FogDong, @barnettZQG, @wonderflow, @Somefive, @zzxwill

Feat: enhance controller auth by removing useless features & add authentication for componentrevision+healthcheck (#3992)
  apis/core.oam.dev/v1alpha1/envbinding_types.go
  apis/types/types.go
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/templates/rbac/x-definition.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  cmd/core/main.go
  e2e/application/application_test.go
  pkg/auth/round_trippers.go
  pkg/auth/round_trippers_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/features/controller_features.go
  pkg/resourcekeeper/componentrevision.go
  pkg/resourcekeeper/gc.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler_test.go
  pkg/workflow/providers/multicluster/deploy.go
  test/e2e-multicluster-test/multicluster_test.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: use application identity in gc & componentrevision & collectHealthStatus
  charts/vela-core/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-minimal/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/resourcekeeper/componentrevision.go
  pkg/resourcekeeper/gc.go
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: enhance deploy error display
  apis/core.oam.dev/v1alpha1/envbinding_types.go
  pkg/auth/round_trippers_test.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler_test.go
  pkg/workflow/providers/multicluster/deploy.go
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: e2e test vela cli output match & controllerrevision recycle for serviceaccount impersonation
  e2e/application/application_test.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: remove DELETE from mutating webhook
  charts/vela-core/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-minimal/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: remove useless features and roles
  apis/types/types.go
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/templates/rbac/x-definition.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  cmd/core/main.go
  pkg/auth/round_trippers.go
  pkg/auth/round_trippers_test.go
  pkg/features/controller_features.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: velaql fail to parse query result to json format (#4011)
  pkg/cue/utils.go
  pkg/cue/utils_test.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/utils.go
  pkg/velaql/providers/query/utils_test.go
  pkg/workflow/providers/kube/handle.go
  references/cli/velaql_test.go
  test/e2e-apiserver-test/testdata/component-pod-view.yaml
Owners: @leejanee, @FogDong, @barnettZQG, @wonderflow, @Somefive, @zzxwill

Fix: velaql fail to parse query result to json format
  pkg/cue/utils.go
  pkg/cue/utils_test.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/utils.go
  pkg/velaql/providers/query/utils_test.go
  pkg/workflow/providers/kube/handle.go
  references/cli/velaql_test.go
  test/e2e-apiserver-test/testdata/component-pod-view.yaml
Owners: @leejanee, @FogDong, @barnettZQG, @wonderflow, @Somefive, @zzxwill

Fix: fix the lint
  pkg/workflow/workflow.go
Owners: @leejanee, @FogDong

Feat: support dependency and skip for suspend step
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
Owners: @leejanee, @FogDong

Fix: fix the lint
  pkg/workflow/tasks/custom/task.go
Owners: @leejanee, @FogDong

Feat: add tests in application controller
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support if in sub steps
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @leejanee, @FogDong

Feat: implement the if in workflow
  cmd/core/main.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/workflow/hooks/data_passing.go
  pkg/workflow/hooks/data_passing_test.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: add if in workflow struct
  apis/core.oam.dev/common/types.go
  charts/vela-core/README.md
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_workflows.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  charts/vela-minimal/values.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflows.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix the rebase from sub steps
  apis/core.oam.dev/common/types.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_workflows.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflows.yaml
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: fix the terminate cli
  pkg/apiserver/domain/service/workflow.go
  pkg/workflow/workflow.go
  references/cli/workflow.go
Owners: @barnettZQG, @yangsoon, @leejanee, @FogDong, @Somefive, @zzxwill

Tests: add more tests in application controller
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/workflow/workflow.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Test: add more tests in discover and custom
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @leejanee, @FogDong

fix lint
  pkg/controller/core.oam.dev/v1alpha2/application/workflow_test.go
  pkg/workflow/workflow.go
  references/cli/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: change failed after retries into reason
  apis/core.oam.dev/common/types.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/workflow_test.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Lint: fix lint
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover_test.go
Owners: @leejanee, @FogDong

Fix: unknown field ignoreTerraformComponent
  pkg/workflow/step/types.go
Owners: @leejanee, @FogDong

Feat: add the creating and deleting permission APIs
  docs/apidoc/swagger.json
  pkg/apiserver/domain/repository/grpc.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/rbac_test.go
  pkg/apiserver/interfaces/api/assembler/v1/do2dto.go
  pkg/apiserver/interfaces/api/dto/v1/types.go
  pkg/apiserver/interfaces/api/env.go
  pkg/apiserver/interfaces/api/project.go
  pkg/apiserver/interfaces/api/rbac.go
  pkg/apiserver/utils/bcode/015_rbac.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: error message of `vela init env` is not clear
  pkg/utils/env/env.go
  pkg/utils/env/env_test.go
  pkg/utils/k8s.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: unknown field ignoreTerraformComponent (#4013)
  pkg/workflow/step/types.go
Owners: @leejanee, @FogDong

Fix: unknown field ignoreTerraformComponent
  pkg/workflow/step/types.go
Owners: @leejanee, @FogDong

Fix: vela port-forward not working for webservice component (#4007)
  references/cli/portforward.go
  references/cli/portforward_test.go
Owners: @Somefive, @zzxwill

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
