Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Feat: require --verbose option to show details in `vela addon status`
  pkg/addon/addon_suite_test.go
  pkg/addon/helper.go
  pkg/addon/helper_test.go
  pkg/addon/versioned_registry_test.go
  references/cli/addon.go
  references/cli/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: support filter the resource by kind or apiVersion (#3901)
  pkg/apiserver/rest/usecase/application.go
  pkg/stdlib/pkgs/query.cue
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/handler_test.go
Owners: @barnettZQG, @yangsoon, @leejanee, @FogDong, @wonderflow

Feat: require --verbose option to show details in `vela addon status`
  pkg/addon/addon_suite_test.go
  pkg/addon/helper.go
  pkg/addon/helper_test.go
  pkg/addon/versioned_registry_test.go
  references/cli/addon.go
  references/cli/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: vela auth list-privileges
  go.mod
  go.sum
  pkg/auth/identity.go
  pkg/auth/kubeconfig.go
  pkg/auth/privileges.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/utils/k8s.go
  pkg/utils/parallel/parallel.go
  references/cli/auth.go
  references/cli/cli.go
  references/cli/up_test.go
  test/e2e-multicluster-test/multicluster_auth_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

chore: run make reviewable
  pkg/addon/example-1.0.1.tgz
  pkg/addon/helper_test.go
  pkg/addon/testdata/example/Chart.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela auth list-privileges (#3923)
  go.mod
  go.sum
  pkg/auth/identity.go
  pkg/auth/kubeconfig.go
  pkg/auth/privileges.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/utils/k8s.go
  pkg/utils/parallel/parallel.go
  references/cli/auth.go
  references/cli/cli.go
  references/cli/up_test.go
  test/e2e-multicluster-test/multicluster_auth_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: change the default workflow step with deploy type (#3878)
  charts/vela-minimal/templates/defwithtemplate/deploy.yaml
  pkg/apiserver/model/application.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/converter.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/envbinding.go
  pkg/apiserver/rest/usecase/envbinding_test.go
  pkg/apiserver/rest/usecase/suite_test.go
  pkg/apiserver/rest/usecase/testdata/deploy.yaml
  pkg/apiserver/rest/usecase/testdata/scaler.yaml
  pkg/apiserver/rest/usecase/testdata/webservice.yaml
  pkg/apiserver/rest/usecase/workflow_model.go
  pkg/apiserver/rest/usecase/workflow_model_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/stdlib/pkgs/multicluster.cue
  pkg/utils/common/common.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/oam/apply.go
  pkg/workflow/providers/terraform/terraform.go
  test/e2e-apiserver-test/application_test.go
  vela-templates/definitions/internal/workflowstep/deploy.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive

Feat: controller auto-impersonation (#3906)
  cmd/core/main.go
  pkg/features/controller_features.go
  pkg/utils/jwt.go
  pkg/utils/k8s.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(charts): add cert-manager support for "cluster-gateway" component in chart "vela-core" (#3848)
  charts/vela-core/README.md
  charts/vela-core/templates/admission-webhooks/certmanager.yaml
  charts/vela-core/templates/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/certmanager.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/job-patch.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat the manifests of statefulset componentdefinition added
  charts/vela-core/templates/defwithtemplate/statefulservice.yaml
  charts/vela-minimal/templates/defwithtemplate/statefulservice.yaml
  vela-templates/definitions/internal/component/statefulservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Refactor: Minor changes on shell script to support double quotes format and [ ] POSIX (#3889)
  entrypoint.sh
  hack/apis/sync.sh
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fail to create the cloud service application (#3893)
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/testdata/terraform-alibaba-rds.yaml
  pkg/apiserver/rest/usecase/workflow_model.go
Owners: @barnettZQG, @yangsoon

Fix: update API document (#3915)
  docs/apidoc/swagger.json
  pkg/apiserver/rest/webservice/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: modify the template definition to solve the trait cli error Signed-off-by: Shijie Zhong <zhongsjie@cmbchina.com> (#3877)
  charts/vela-core/templates/defwithtemplate/command.yaml
  charts/vela-core/templates/defwithtemplate/container-image.yaml
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/command.yaml
  charts/vela-minimal/templates/defwithtemplate/container-image.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  references/cli/traits_test.go
  vela-templates/definitions/internal/trait/command.cue
  vela-templates/definitions/internal/trait/container-image.cue
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: add the component name field for the trigger (#3884)
  pkg/apiserver/model/application.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/webhook.go
Owners: @barnettZQG, @yangsoon

Feat: vela auth gen-kubeconfig (#3911)
  pkg/auth/kubeconfig.go
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/utils/util/cmd.go
  references/cli/auth.go
  references/cli/cli.go
  references/cli/up_test.go
  test/e2e-multicluster-test/multicluster_auth_test.go
  test/e2e-multicluster-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Delete timed-task.yml
  .github/workflows/timed-task.yml
Owners: @barnettZQG, @wonderflow, @leejanee

New component definition for statefulset added
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_stateful.yaml
  vela-templates/definitions/internal/component/statefulservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: use vela prism for accessing clusters as alternative (#3866)
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/cluster.go
  pkg/apiserver/rest/usecase/cluster_test.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: add the design of if condition in workflow (#3922)
  design/vela-core/workflow_policy.md
Owners: @barnettZQG, @leejanee, @wonderflow

Fix: use vela prism for accessing clusters as alternative (#3849)
  go.mod
  go.sum
  pkg/addon/addon_suite_test.go
  pkg/addon/addon_test.go
  pkg/multicluster/cluster_management.go
  pkg/multicluster/cluster_metrics_management_test.go
  pkg/multicluster/utils.go
  pkg/multicluster/utils_test.go
  pkg/multicluster/virtual_cluster.go
  pkg/multicluster/virtual_cluster_test.go
  pkg/policy/topology_test.go
  pkg/resourcetracker/tree.go
  pkg/utils/common/common.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Feat: extend apply-once to allow specified path configuration to drift (#3899)
  apis/core.oam.dev/v1alpha1/applyonce_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  docs/examples/app-with-policy/apply-once-policy/apply-once.md
  go.mod
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/policy/common_test.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/dispatch_and_delete_test.go
  pkg/resourcekeeper/statekeep.go
  pkg/resourcekeeper/statekeep_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: delete context when patch outputs in trait (#3854)
  pkg/cue/definition/template.go
  pkg/cue/definition/template_test.go
Owners: @leejanee, @FogDong

Feat: create the definition for built-in policies (#3894)
  charts/vela-core/templates/defwithtemplate/envbinding.yaml
  charts/vela-core/templates/defwithtemplate/override.yaml
  charts/vela-core/templates/defwithtemplate/topology.yaml
  charts/vela-minimal/templates/defwithtemplate/override.yaml
  charts/vela-minimal/templates/defwithtemplate/topology.yaml
  vela-templates/definitions/deprecated/envbinding.cue
  vela-templates/definitions/internal/policy/override.cue
  vela-templates/definitions/internal/policy/topology.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: check existence of an image
  go.mod
  go.sum
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/webservice/project.go
  pkg/utils/imageregistry/image.go
  pkg/utils/imageregistry/image_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: corrected minor typo in code (#3913)
  references/cli/uninstall.go
Owners: @Somefive, @zzxwill

Test: fix configmap being already existed
  pkg/addon/helper_test.go
  pkg/addon/utils_test.go
  references/cli/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: fix output show addon does not exist when verbose is off and an addon is not installed, but it does exist in the registry
  references/cli/addon.go
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Style: fix golangci-lint issues
  pkg/addon/example-1.0.1.tgz
  references/cli/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: add more detailed output for `vela addon status` (#3876)
  pkg/addon/addon_test.go
  pkg/addon/error.go
  pkg/addon/example-1.0.1.tgz
  pkg/addon/helper.go
  pkg/addon/helper_test.go
  pkg/addon/testdata/example/Chart.yaml
  pkg/addon/type.go
  pkg/addon/utils_test.go
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  references/cli/addon.go
  references/cli/addon_suite_test.go
  references/cli/addon_test.go
  references/cli/cli_suite_test.go
  references/cli/uninstall_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

replace the implementation with libary google/go-containerregistry
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/utils/imageregistry/image.go
  pkg/utils/imageregistry/image_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

fix copyright
  references/common/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: support force delete Terraform typed application
  charts/oam-runtime/crds/core.oam.dev_traitdefinitions.yaml
  charts/oam-runtime/crds/core.oam.dev_workloaddefinitions.yaml
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_componentdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_policydefinitions.yaml
  charts/vela-core/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_workflowstepdefinitions.yaml
  charts/vela-core/crds/core.oam.dev_workloaddefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_policydefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_traitdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_workflowstepdefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_workloaddefinitions.yaml
  docs/examples/terraform/application-force-delete.yaml
  go.mod
  go.sum
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_componentdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_policydefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_traitdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflowstepdefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workloaddefinitions.yaml
  pkg/appfile/appfile.go
  references/common/application.go
  references/common/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: webservice support healthProbe With http
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: fix a spelling error of velaQL usage document
  docs/examples/velaql-views/usage.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix a spelling error of velaQL usage document (#3932)
  docs/examples/velaql-views/usage.md
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: webservice support healthProbe With http (#3930)
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: vela kube apply --cluster
  pkg/cmd/builder.go
  pkg/cmd/types.go
  pkg/cmd/utils.go
  pkg/utils/file.go
  references/cli/auth.go
  references/cli/cli.go
  references/cli/kube.go
  test/e2e-multicluster-test/multicluster_cli_test.go
  test/e2e-multicluster-test/testdata/kube/data/configmap.yaml
  test/e2e-multicluster-test/testdata/kube/service.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

address comments
  pkg/apiserver/rest/usecase/project.go
  pkg/utils/imageregistry/image.go
  pkg/utils/imageregistry/image_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

add more testcases
  pkg/apiserver/rest/usecase/project_test.go
Owners: @barnettZQG, @yangsoon

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
