Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Feat: add login handle for apiserver (#3471)
  docs/apidoc/swagger.json
  go.mod
  pkg/apiserver/model/system_info.go
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/apiserver/rest/webservice/addon_registry.go
  pkg/apiserver/rest/webservice/application.go
  pkg/apiserver/rest/webservice/authentication.go
  pkg/apiserver/rest/webservice/cluster.go
  pkg/apiserver/rest/webservice/definition.go
  pkg/apiserver/rest/webservice/env.go
  pkg/apiserver/rest/webservice/helm.go
  pkg/apiserver/rest/webservice/payload_types.go
  pkg/apiserver/rest/webservice/policy_definition.go
  pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/system_info.go
  pkg/apiserver/rest/webservice/target.go
  pkg/apiserver/rest/webservice/user.go
  pkg/apiserver/rest/webservice/velaql.go
  pkg/apiserver/rest/webservice/webservice.go
  test/e2e-apiserver-test/addon_test.go
  test/e2e-apiserver-test/application_test.go
  test/e2e-apiserver-test/cluster_test.go
  test/e2e-apiserver-test/definition_test.go
  test/e2e-apiserver-test/env_test.go
  test/e2e-apiserver-test/project_test.go
  test/e2e-apiserver-test/suite_test.go
  test/e2e-apiserver-test/system_info_test.go
  test/e2e-apiserver-test/user_test.go
  test/e2e-apiserver-test/utils.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: build the query capability of VelaQL into vela-cli
  references/cli/cli.go
  references/cli/velaql.go
Owners: @Somefive, @zzxwill

Feat: build the query capability of VelaQL into vela-cli
  references/cli/cli.go
  references/cli/velaql.go
Owners: @Somefive, @zzxwill

Feat: build the query capability of VelaQL into vela-cli
  references/cli/cli.go
  references/cli/velaql.go
Owners: @Somefive, @zzxwill

Fix: concurrent write to controller revision
  pkg/resourcekeeper/componentrevision.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix undefined field error in email workflowstep
  charts/vela-core/templates/defwithtemplate/notification.yaml
  charts/vela-minimal/templates/defwithtemplate/notification.yaml
  vela-templates/definitions/internal/workflowstep/notification.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: concurrent write to controller revision (#3520)
  pkg/resourcekeeper/componentrevision.go
Owners: @barnettZQG, @wonderflow, @leejanee

bugfix: helm install cluster-gateway be compatible w/ existing APIService w/o annoation
  charts/vela-core/templates/cluster-gateway.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

bugfix: helm install cluster-gateway be compatible w/ existing APIService w/o annoation (#3512)
  charts/vela-core/templates/cluster-gateway.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add revision command
  apis/core.oam.dev/v1alpha1/register.go
  e2e/plugin/plugin_test.go
  pkg/apiserver/rest/usecase/application.go
  pkg/appfile/dryrun/diff.go
  pkg/appfile/dryrun/diff_test.go
  pkg/appfile/dryrun/dryrun.go
  pkg/appfile/dryrun/dryrun_test.go
  pkg/appfile/dryrun/report.go
  pkg/appfile/dryrun/suit_test.go
  pkg/appfile/dryrun/testdata/cd-myworker.yaml
  pkg/appfile/dryrun/testdata/diff-apprevision.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-multichanges.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-nochange.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-onlyadd.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-onlymodif.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-onlyremove.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-with-externals.yaml
  pkg/appfile/dryrun/testdata/dryrun-app.yaml
  pkg/appfile/dryrun/testdata/dryrun-exp-ac.yaml
  pkg/appfile/dryrun/testdata/dryrun-exp-comp.yaml
  pkg/appfile/dryrun/testdata/external-policy.yaml
  pkg/appfile/dryrun/testdata/external-workflow.yaml
  pkg/appfile/dryrun/testdata/invalid-app-format.yaml
  pkg/appfile/dryrun/testdata/td-myingress.yaml
  pkg/appfile/dryrun/testdata/td-myscaler.yaml
  pkg/appfile/dryrun/testdata/wd-deploy.yaml
  pkg/utils/parse.go
  pkg/utils/parse_test.go
  references/cli/cli.go
  references/cli/dryrun.go
  references/cli/livediff.go
  references/cli/revision.go
  references/cli/workflow.go
  test/e2e-multicluster-test/multicluster_standalone_test.go
  test/e2e-multicluster-test/testdata/app/standalone/app-with-publish-version-native.yaml
  test/e2e-multicluster-test/testdata/app/standalone/topology-policy.yaml
  test/e2e-multicluster-test/testdata/app/standalone/workflow-deploy-worker.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Feat: rework referred objects for version
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/component_types.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/applicationrevision_types.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/client/delegating_handler_client.go
  pkg/component/ref_objects.go
  pkg/component/ref_objects_suite_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/controller/flags.go
  pkg/features/controller_features.go
  pkg/policy/topology.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  pkg/workflow/providers/oam/apply.go
  pkg/workflow/providers/oam/suite_test.go
  test/e2e-multicluster-test/testdata/app/standalone/app-with-publish-version.yaml
  test/e2e-multicluster-test/testdata/app/standalone/app.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: ignore kubebuilder generated file in code coverage
  codecov.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add revision command (#3506)
  apis/core.oam.dev/v1alpha1/register.go
  e2e/plugin/plugin_test.go
  pkg/apiserver/rest/usecase/application.go
  pkg/appfile/dryrun/diff.go
  pkg/appfile/dryrun/diff_test.go
  pkg/appfile/dryrun/dryrun.go
  pkg/appfile/dryrun/dryrun_test.go
  pkg/appfile/dryrun/report.go
  pkg/appfile/dryrun/suit_test.go
  pkg/appfile/dryrun/testdata/cd-myworker.yaml
  pkg/appfile/dryrun/testdata/diff-apprevision.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-multichanges.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-nochange.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-onlyadd.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-onlymodif.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-onlyremove.yaml
  pkg/appfile/dryrun/testdata/diff-input-app-with-externals.yaml
  pkg/appfile/dryrun/testdata/dryrun-app.yaml
  pkg/appfile/dryrun/testdata/dryrun-exp-ac.yaml
  pkg/appfile/dryrun/testdata/dryrun-exp-comp.yaml
  pkg/appfile/dryrun/testdata/external-policy.yaml
  pkg/appfile/dryrun/testdata/external-workflow.yaml
  pkg/appfile/dryrun/testdata/invalid-app-format.yaml
  pkg/appfile/dryrun/testdata/td-myingress.yaml
  pkg/appfile/dryrun/testdata/td-myscaler.yaml
  pkg/appfile/dryrun/testdata/wd-deploy.yaml
  pkg/utils/parse.go
  pkg/utils/parse_test.go
  references/cli/cli.go
  references/cli/dryrun.go
  references/cli/livediff.go
  references/cli/revision.go
  references/cli/workflow.go
  test/e2e-multicluster-test/multicluster_standalone_test.go
  test/e2e-multicluster-test/testdata/app/standalone/app-with-publish-version-native.yaml
  test/e2e-multicluster-test/testdata/app/standalone/topology-policy.yaml
  test/e2e-multicluster-test/testdata/app/standalone/workflow-deploy-worker.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Feat: add some api about the project
  docs/apidoc/swagger.json
  docs/examples/rbac/rbac.md
  pkg/apiserver/model/project.go
  pkg/apiserver/model/target.go
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/env.go
  pkg/apiserver/rest/usecase/envbinding.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/target.go
  pkg/apiserver/rest/usecase/target_model.go
  pkg/apiserver/rest/usecase/target_test.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/003_project.go
  pkg/apiserver/rest/webservice/application.go
  pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/target.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: add CRUD about the project and the project user
  docs/apidoc/swagger.json
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/target.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/usecase/user_test.go
  pkg/apiserver/rest/utils/bcode/003_project.go
  pkg/apiserver/rest/utils/bcode/bcode.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/apiserver/rest/webservice/addon_registry.go
  pkg/apiserver/rest/webservice/application.go
  pkg/apiserver/rest/webservice/definition.go
  pkg/apiserver/rest/webservice/env.go
  pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/target.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: add default roles and perm policies
  docs/apidoc/swagger.json
  docs/examples/rbac/rbac.md
  pkg/apiserver/datastore/kubeapi/kubeapi.go
  pkg/apiserver/datastore/kubeapi/kubeapi_test.go
  pkg/apiserver/datastore/mongodb/mongodb.go
  pkg/apiserver/datastore/mongodb/mongodb_test.go
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/target_test.go
  pkg/apiserver/rest/usecase/user_test.go
  pkg/apiserver/rest/usecase/webhook_test.go
  pkg/apiserver/rest/usecase/workflow_test.go
  pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/rbac.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: update swagger config
  docs/apidoc/swagger.json
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add CRUD about the role and perm check filter function
  docs/apidoc/swagger.json
  pkg/apiserver/datastore/datastore.go
  pkg/apiserver/datastore/kubeapi/kubeapi.go
  pkg/apiserver/datastore/kubeapi/kubeapi_test.go
  pkg/apiserver/datastore/mongodb/mongodb.go
  pkg/apiserver/datastore/mongodb/mongodb_test.go
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/target_test.go
  pkg/apiserver/rest/usecase/webhook_test.go
  pkg/apiserver/rest/utils/bcode/015_rbac.go
  pkg/apiserver/rest/utils/bcode/bcode.go
  pkg/apiserver/rest/webservice/rbac.go
  pkg/apiserver/rest/webservice/webservice.go
  pkg/utils/strings.go
  pkg/utils/strings_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: add the rbac data model
  docs/examples/rbac/rbac.md
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/webservice/application.go
  pkg/apiserver/rest/webservice/perm.go
  pkg/apiserver/rest/webservice/perm_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: change the method that find project name
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/utils/bcode/003_project.go
Owners: @barnettZQG, @yangsoon

Feat: add perm check filter for all webservice
  docs/examples/rbac/rbac.md
  pkg/apiserver/datastore/mongodb/mongodb.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/apiserver/rest/webservice/addon_registry.go
  pkg/apiserver/rest/webservice/cluster.go
  pkg/apiserver/rest/webservice/definition.go
  pkg/apiserver/rest/webservice/env.go
  pkg/apiserver/rest/webservice/oam_application.go
  pkg/apiserver/rest/webservice/system_info.go
  pkg/apiserver/rest/webservice/target.go
  pkg/apiserver/rest/webservice/user.go
  pkg/apiserver/rest/webservice/velaql.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: query applications and envs by user perm
  cmd/apiserver/main.go
  pkg/apiserver/datastore/kubeapi/kubeapi.go
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/env.go
  pkg/apiserver/rest/usecase/env_model.go
  pkg/apiserver/rest/usecase/env_test.go
  pkg/apiserver/rest/usecase/envbinding.go
  pkg/apiserver/rest/usecase/envbinding_model.go
  pkg/apiserver/rest/usecase/envbinding_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/usecase/webhook_test.go
  pkg/apiserver/rest/usecase/workflow_test.go
  pkg/apiserver/rest/webservice/application.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: support get login user info
  pkg/apiserver/datastore/datastore.go
  pkg/apiserver/datastore/kubeapi/kubeapi.go
  pkg/apiserver/datastore/kubeapi/kubeapi_test.go
  pkg/apiserver/datastore/mongodb/mongodb.go
  pkg/apiserver/datastore/mongodb/mongodb_test.go
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/webservice/application.go
  pkg/apiserver/rest/webservice/authentication.go
  pkg/apiserver/rest/webservice/oam_application.go
  pkg/apiserver/rest/webservice/rbac.go
  pkg/apiserver/rest/webservice/webservice.go
  test/e2e-apiserver-test/system_info_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Fix: change default permissions
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/env.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/usecase/user_test.go
  pkg/apiserver/rest/utils/bcode/015_rbac.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/apiserver/rest/webservice/application.go
  pkg/apiserver/rest/webservice/definition.go
  pkg/apiserver/rest/webservice/env.go
  pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/rbac.go
  pkg/apiserver/rest/webservice/velaql.go
Owners: @barnettZQG, @yangsoon

Feat: change PermPolicy to Permission
  docs/apidoc/swagger.json
  docs/examples/rbac/rbac.md
  pkg/apiserver/model/project.go
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/target.go
  pkg/apiserver/rest/usecase/target_model.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/014_user.go
  pkg/apiserver/rest/utils/bcode/015_rbac.go
  pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/rbac.go
  pkg/apiserver/rest/webservice/webservice.go
  pkg/apiserver/sync/convert.go
  pkg/apiserver/sync/convert/convert.go
  pkg/apiserver/sync/cr2ux.go
  pkg/apiserver/sync/store.go
  pkg/apiserver/sync/worker.go
  pkg/apiserver/sync/worker_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: change some comment word
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/003_project.go
Owners: @barnettZQG, @yangsoon

Fix: e2e api path error
  .github/workflows/apiserver-test.yaml
  test/e2e-apiserver-test/application_test.go
  test/e2e-apiserver-test/env_test.go
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add some unit test and fix the e2e test error
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/rbac_test.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/sync/convert.go
  pkg/apiserver/sync/convert/convert.go
  test/e2e-apiserver-test/env_test.go
  test/e2e-apiserver-test/oam_application_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Fix: ignore kubebuilder generated file in code coverage (#3524)
  codecov.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: rework referred objects for version (#3446)
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/component_types.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/applicationrevision_types.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/client/delegating_handler_client.go
  pkg/component/ref_objects.go
  pkg/component/ref_objects_suite_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/controller/flags.go
  pkg/features/controller_features.go
  pkg/policy/topology.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  pkg/workflow/providers/oam/apply.go
  pkg/workflow/providers/oam/suite_test.go
  test/e2e-multicluster-test/testdata/app/standalone/app-with-publish-version.yaml
  test/e2e-multicluster-test/testdata/app/standalone/app.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Revert ctrl-plane command
  references/cli/cli.go
  references/cli/ctrl_plane.go
Owners: @Somefive, @zzxwill

Fix: fix undefined field error in email workflowstep (#3522)
  charts/vela-core/templates/defwithtemplate/notification.yaml
  charts/vela-minimal/templates/defwithtemplate/notification.yaml
  vela-templates/definitions/internal/workflowstep/notification.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: support livediff for referred object
  pkg/appfile/dryrun/diff.go
  pkg/appfile/dryrun/diff_test.go
  pkg/appfile/dryrun/testdata/diff-input-app-with-externals.yaml
  pkg/appfile/dryrun/testdata/livediff-demo-deploy.yaml
  pkg/appfile/dryrun/testdata/wd-ref-objects.yaml
  pkg/appfile/parser.go
  test/e2e-multicluster-test/multicluster_standalone_test.go
  test/e2e-multicluster-test/testdata/app/standalone/app-with-publish-version-busybox.yaml
  test/e2e-multicluster-test/testdata/app/standalone/deployment-busybox.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

versioned registry impl add more test
  pkg/addon/addon.go
  pkg/addon/cache.go
  pkg/addon/cache_test.go
  pkg/addon/helper.go
  pkg/addon/memory_reader_test.go
  pkg/addon/reader_memory.go
  pkg/addon/registry.go
  pkg/addon/source.go
  pkg/addon/testdata/helm-repo/fluxcd-1.0.0.tgz
  pkg/addon/testdata/helm-repo/index.yaml
  pkg/addon/type.go
  pkg/addon/utils.go
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/apiserver/rest/webservice/addon.go
  pkg/oam/labels.go
  pkg/utils/helm/helm_helper.go
  references/cli/addon-registry.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Feat: componentDefinitions for Config management
  charts/vela-core/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  docs/examples/config/app-config-dex-connector-github.yaml
  docs/examples/config/image-registry/README.md
  docs/examples/config/image-registry/app-config-image-registry-account-auth.yaml
  docs/examples/config/image-registry/app-deliever-secret.yaml
  docs/examples/config/image-registry/app-sample.yaml
  docs/examples/config/image-registry/app-validate-imagePullSecret.yaml
  pkg/apiserver/rest/webservice/webservice.go
  vela-templates/definitions/internal/component/config-dex-connector.cue
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

Fix: optimize err for auth in apiserver
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
  pkg/apiserver/rest/utils/bcode/014_user.go
Owners: @barnettZQG, @yangsoon

Feat: support livediff for referred object (#3525)
  pkg/appfile/dryrun/diff.go
  pkg/appfile/dryrun/diff_test.go
  pkg/appfile/dryrun/testdata/diff-input-app-with-externals.yaml
  pkg/appfile/dryrun/testdata/livediff-demo-deploy.yaml
  pkg/appfile/dryrun/testdata/wd-ref-objects.yaml
  pkg/appfile/parser.go
  test/e2e-multicluster-test/multicluster_standalone_test.go
  test/e2e-multicluster-test/testdata/app/standalone/app-with-publish-version-busybox.yaml
  test/e2e-multicluster-test/testdata/app/standalone/deployment-busybox.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

fix ci
  charts/vela-core/templates/addon_registry.yaml
  pkg/addon/addon_test.go
  pkg/addon/reader_gitee_test.go
  pkg/addon/reader_github_test.go
  pkg/addon/reader_memory.go
  pkg/addon/source.go
  pkg/addon/utils.go
  pkg/addon/versioned_registry.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/utils/helm/helm_helper.go
  references/cli/addon-registry.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Fix: fix bugs in vela def doc-gen from local file (#3490)
  hack/references/generate.go
  references/cli/common.go
  references/cli/def.go
  references/plugins/reference_test.go
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Docs: add feature docs for multi-cluster and application revision
  docs/examples/application/application-revision-arch.jpg
  docs/examples/application/versioning.md
  docs/examples/multicluster/deploy.md
  docs/examples/multicluster/ref-arch.jpg
Owners: @barnettZQG, @wonderflow, @leejanee
