Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Feat: add api of listing configs for project when creating a target (#3581)
  apis/types/types.go
  docs/apidoc/swagger.json
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

fix ci
  pkg/apiserver/rest/usecase/project.go
Owners: @barnettZQG, @yangsoon

Feat: add api of listing configs for project
  apis/types/types.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

add query parameter definition
  docs/apidoc/swagger.json
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Update pkg/apiserver/rest/webservice/project.go
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @yangsoon

address comments
  apis/types/types.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/webservice/project.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

bump cluster-gateway to 1.3.2 (#3619)
  charts/vela-core/README.md
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

bump cluster-gateway to 1.3.2 (#3620)
  charts/vela-core/README.md
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: cli default switch on feature flags
  references/cmd/cli/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

unset users' alias
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
Owners: @barnettZQG, @yangsoon

Fix: cli default switch on feature flags (#3625)
  references/cmd/cli/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

Modify match label key
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: flags for controller
  pkg/controller/flags.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add HealthProbe for sidecar
  charts/vela-core/templates/defwithtemplate/sidecar.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add HealthProbe for sidecar
  charts/vela-core/templates/defwithtemplate/sidecar.yaml
  charts/vela-minimal/templates/defwithtemplate/sidecar.yaml
  vela-templates/definitions/internal/trait/sidecar.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: add HealthProbe for sidecar (#3629)
  charts/vela-core/templates/defwithtemplate/sidecar.yaml
  charts/vela-minimal/templates/defwithtemplate/sidecar.yaml
  vela-templates/definitions/internal/trait/sidecar.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

fix ut
  pkg/apiserver/rest/usecase/authentication_test.go
Owners: @barnettZQG, @yangsoon

fix ut
  pkg/apiserver/rest/usecase/authentication_test.go
Owners: @barnettZQG, @yangsoon

Feat: support basic auth private helm repo (#3595)
  pkg/addon/versioned_registry.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/apiserver/rest/usecase/testdata/helm/index.yaml
  pkg/apiserver/rest/usecase/testdata/helm/mysql-8.8.23.tgz
  pkg/apiserver/rest/utils/bcode/013_repository.go
  pkg/utils/common/common.go
  pkg/utils/common/common_test.go
  pkg/utils/helm/helm.go
  pkg/utils/helm/helm_helper.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/helm_suite_test.go
  references/cli/cli.go
  references/cli/def.go
  references/cli/install.go
  references/common/application.go
  references/plugins/cluster.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

add test
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/utils/common/common.go
  pkg/utils/common/common_test.go
  pkg/utils/helm/helm_helper.go
  pkg/utils/helm/helm_helper_test.go
  references/cli/cli.go
  references/cli/install.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee, @Somefive, @zzxwill

return bcode
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/utils/bcode/013_repository.go
Owners: @barnettZQG, @yangsoon

extract set auth info as a global func
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/utils/helm/helm.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/helm_suite_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

add tests
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/apiserver/rest/usecase/testdata/helm/index.yaml
  pkg/apiserver/rest/usecase/testdata/helm/mysql-8.8.23.tgz
Owners: @barnettZQG, @yangsoon

add more test
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
Owners: @barnettZQG, @yangsoon

support auth
  pkg/addon/versioned_registry.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/utils/common/common.go
  pkg/utils/common/common_test.go
  pkg/utils/helm/helm_helper.go
  references/cli/def.go
  references/common/application.go
  references/plugins/cluster.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Unified label key
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  docs/examples/app-with-policy/gc-policy/persist-resources.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add tests
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add multicluster e2e coverage
  .github/workflows/e2e-multicluster-test.yml
  codecov.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela status --tree
  pkg/oam/auxiliary.go
  pkg/oam/labels.go
  pkg/resourcetracker/tree.go
  pkg/utils/apply/patch.go
  pkg/utils/strings.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: support show not-deployed clusters
  pkg/policy/topology.go
  pkg/resourcetracker/tree.go
  pkg/utils/apply/patch.go
  pkg/workflow/providers/multicluster/multicluster.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: flags for controller (#3627)
  pkg/controller/flags.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: flags for controller
  pkg/controller/flags.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix dex login with existed email (#3623)
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
  pkg/apiserver/rest/utils/bcode/014_user.go
Owners: @barnettZQG, @yangsoon

add dex connector check
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
Owners: @barnettZQG, @yangsoon

Fix: fix dex login with existed email
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/utils/bcode/014_user.go
Owners: @barnettZQG, @yangsoon

unset users' alias
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
Owners: @barnettZQG, @yangsoon

fix ut
  pkg/apiserver/rest/usecase/authentication_test.go
Owners: @barnettZQG, @yangsoon

fix ut
  pkg/apiserver/rest/usecase/authentication_test.go
Owners: @barnettZQG, @yangsoon

Chore: minor fix
  codecov.yml
  pkg/policy/topology.go
  pkg/resourcetracker/tree.go
  references/cli/status.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: vela status --tree (#3609)
  .github/workflows/e2e-multicluster-test.yml
  codecov.yml
  pkg/oam/auxiliary.go
  pkg/oam/labels.go
  pkg/policy/topology.go
  pkg/resourcetracker/tree.go
  pkg/utils/apply/patch.go
  pkg/utils/strings.go
  pkg/workflow/providers/multicluster/multicluster.go
  references/cli/status.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill
