Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Fix: Add application name to the generated workload entities (#3786)
  charts/vela-core/templates/defwithtemplate/cron-task.yaml
  charts/vela-core/templates/defwithtemplate/task.yaml
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-core/templates/defwithtemplate/worker.yaml
  charts/vela-minimal/templates/defwithtemplate/cron-task.yaml
  charts/vela-minimal/templates/defwithtemplate/task.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/worker.yaml
  vela-templates/definitions/internal/component/cron-task.cue
  vela-templates/definitions/internal/component/task.cue
  vela-templates/definitions/internal/component/webservice.cue
  vela-templates/definitions/internal/component/worker.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

vela-core helm charts support config multicluster metrics
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

update comment
  charts/vela-core/README.md
  charts/vela-core/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

update readme
  charts/vela-core/README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: update some docs to the new org url
  .github/PULL_REQUEST_TEMPLATE.md
  .github/bot.md
  CHANGELOG/CHANGELOG-1.0.md
  CONTRIBUTING.md
  ISSUE_TRIAGE.md
  README.md
  charts/vela-core/README.md
  charts/vela-minimal/README.md
  contribute/coding-conventions.md
  design/vela-core/apply-workload-and-trait.md
  docs/README.md
  hack/docgen/README.md
  hack/docgen/gen.go
  pkg/cue/README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: log message wraps wrong arguments (#3781)
  pkg/addon/cache.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: log message wraps wrong arguments
  pkg/addon/cache.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: useless \n is printed in log message
  pkg/apiserver/rest/usecase/user.go
Owners: @barnettZQG, @yangsoon

Fix: useless \n is printed in log message (#3791)
  pkg/apiserver/rest/usecase/user.go
Owners: @barnettZQG, @yangsoon

Chore: update some docs to the new org url (#3792)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/bot.md
  CHANGELOG/CHANGELOG-1.0.md
  CONTRIBUTING.md
  ISSUE_TRIAGE.md
  README.md
  charts/vela-core/README.md
  charts/vela-minimal/README.md
  contribute/coding-conventions.md
  design/vela-core/apply-workload-and-trait.md
  docs/README.md
  hack/docgen/README.md
  hack/docgen/gen.go
  pkg/cue/README.md
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: vela-core helm chart supports configure multicluster metrics (#3788)
  charts/vela-core/README.md
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: update latest version
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: update latest version (#3794)
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: update latest version
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Test: add some unittest to addon cache
  pkg/addon/cache_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: 1.2 upgrade 1.3 workflowstep XXX not found
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee

Test: add some unittest to addon cache (#3801)
  pkg/addon/cache_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: upgrade dependencies
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  go.mod
  go.sum
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/workflow_test.go
  pkg/appfile/helm/schema.go
  pkg/appfile/helm/schema_test.go
  pkg/controller/common/rollout/workloads/testdata/apps.kruise.io_clonesets.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/testdata/crds/terraform.core.oam.dev_configurations.yaml
  pkg/controller/utils/capability.go
  pkg/controller/utils/capability_test.go
  references/plugins/reference_test.go
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @wangyikewxgm

Feat: upgrade dependencies (#3776)
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  go.mod
  go.sum
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/workflow_test.go
  pkg/appfile/helm/schema.go
  pkg/appfile/helm/schema_test.go
  pkg/controller/common/rollout/workloads/testdata/apps.kruise.io_clonesets.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/testdata/crds/terraform.core.oam.dev_configurations.yaml
  pkg/controller/utils/capability.go
  pkg/controller/utils/capability_test.go
  references/plugins/reference_test.go
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @wangyikewxgm

Chore: bump helm to v3.7.0
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add some links in readme
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

tidy
  go.mod
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add some links in readme (#3811)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add some message to make debug more clear
  references/cli/debug.go
Owners: @Somefive, @zzxwill

tidy
  go.mod
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: deploy user info
  docs/apidoc/swagger.json
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

tidy without compat
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: update docs
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: add governance file and refer to the community repo
  GOVERNANCE.md
  OWNERS
  OWNERS_ALIASES
  README.md
  community.md
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: deploy user info (#3744)
  docs/apidoc/swagger.json
  pkg/apiserver/model/user.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Chore: bump helm to v3.7.0 (#3767)
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add some message to make debug more clear (#3812)
  references/cli/debug.go
Owners: @Somefive, @zzxwill

Chore: add governance file and refer to the community repo (#3814)
  GOVERNANCE.md
  OWNERS
  OWNERS_ALIASES
  README.md
  community.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: don't override user definied `region`
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/cluster.go
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
  pkg/cloudprovider/aliyun.go
  pkg/cloudprovider/terraform.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/suite_test.go
  pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope/healthscope.go
  pkg/utils/common/common.go
  references/cli/def.go
  test/e2e-addon-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @captainroy-hy, @zzxwill, @Somefive

Feat: apiextensionserver
  .gitignore
  Dockerfile.apiextensionserver
  apis/apiextensions.core.oam.dev/v1alpha1/application_resourcetracker_types.go
  apis/apiextensions.core.oam.dev/v1alpha1/doc.go
  apis/apiextensions.core.oam.dev/v1alpha1/register.go
  apis/apiextensions.core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  charts/vela-core/README.md
  charts/vela-core/templates/_helpers.tpl
  charts/vela-core/templates/apiextensionserver.yaml
  charts/vela-core/values.yaml
  cmd/apiextensionserver/main.go
  go.mod
  go.sum
  pkg/apiextensions/applicationresourcetracker/conversion.go
  pkg/apiextensions/applicationresourcetracker/conversion_test.go
  pkg/apiextensions/applicationresourcetracker/resource_handler_provider.go
  pkg/apiextensions/applicationresourcetracker/resource_handler_provider_test.go
  pkg/apiextensions/applicationresourcetracker/suite_test.go
  pkg/resourcetracker/app.go
  pkg/resourcetracker/app_test.go
  pkg/utils/common/common.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix check-diff
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Add example doc for controlPlaneOnly
  docs/examples/traits/control-plane-only-usecase/README.md
  docs/examples/traits/control-plane-only-usecase/app-with-control-plane-only-usecase.yaml
  docs/examples/traits/control-plane-only-usecase/control-plane-only-usecase.cue
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Add example doc for controlPlaneOnly (#3810)
  docs/examples/traits/control-plane-only-usecase/README.md
  docs/examples/traits/control-plane-only-usecase/app-with-control-plane-only-usecase.yaml
  docs/examples/traits/control-plane-only-usecase/control-plane-only-usecase.cue
Owners: @barnettZQG, @wonderflow, @leejanee

fix CI
  pkg/appfile/appfile.go
  test/e2e-addon-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix CI
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
Owners: @barnettZQG, @wonderflow, @leejanee
