Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Fix: don't update version file when publish alpha/beta version
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: e2e test case
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: initialize kube config multiple times (#3984)
  cmd/apiserver/main.go
  pkg/apiserver/domain/service/project.go
  pkg/apiserver/domain/service/project_test.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/velaql.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/server.go
  pkg/velaql/providers/query/types/health_status.go
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: e2e test case
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: initialize kube config multiple times
  cmd/apiserver/main.go
  pkg/apiserver/domain/service/project.go
  pkg/apiserver/domain/service/project_test.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/velaql.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/server.go
  pkg/velaql/providers/query/types/health_status.go
  test/e2e-apiserver-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: build docker image(oamdev/vela-cli) for vela-cli (#3976)
  .github/workflows/registry.yml
  Dockerfile
  Dockerfile.apiserver
  Dockerfile.cli
  Dockerfile.e2e
  makefiles/build.mk
  makefiles/const.mk
  references/cli/cli.go
  references/cmd/cli/main.go
  runtime/rollout/e2e/Dockerfile.e2e
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill, @wangyikewxgm

Feat: build docker image(oamdev/vela-cli) for vela-cli
  .github/workflows/registry.yml
  Dockerfile
  Dockerfile.apiserver
  Dockerfile.cli
  Dockerfile.e2e
  makefiles/build.mk
  makefiles/const.mk
  references/cli/cli.go
  references/cmd/cli/main.go
  runtime/rollout/e2e/Dockerfile.e2e
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill, @wangyikewxgm

Feat: support impersonation for application in apiserver
  charts/vela-core/templates/rbac/x-definition.yaml
  cmd/apiserver/main.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/target.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/server.go
  pkg/apiserver/utils/auth.go
  pkg/apiserver/utils/context.go
  pkg/auth/privileges.go
  pkg/features/apiserver_features.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: add Target fail by fetch terraform-provider error
  pkg/apiserver/domain/service/project.go
Owners: @barnettZQG, @yangsoon

Fix: don't update version file when publish alpha/beta version (#3989)
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: don't update version file when publish alpha/beta version
  .github/workflows/release.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: delete Project fail (#3981)
  pkg/apiserver/domain/service/config.go
Owners: @barnettZQG, @yangsoon

Fix: delete Project fail
  pkg/apiserver/domain/service/config.go
Owners: @barnettZQG, @yangsoon

Fix: multicluster test unstable
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: step group documentation update and bug fix of firstExecuteTime not record
  docs/examples/workflow/step-group/README.md
  docs/examples/workflow/step-group/example.yaml
  pkg/workflow/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: add Target fail by fetch terraform-provider error (#3988)
  pkg/apiserver/domain/service/project.go
Owners: @barnettZQG, @yangsoon

Fix: add Target fail by fetch terraform-provider error
  pkg/apiserver/domain/service/project.go
Owners: @barnettZQG, @yangsoon

Fix: add some default permissions about the configuration
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/rbac_test.go
  pkg/apiserver/interfaces/api/config.go
  pkg/apiserver/interfaces/api/project.go
Owners: @barnettZQG, @yangsoon

Feat: support impersonation for application in apiserver (#3985)
  charts/vela-core/templates/rbac/x-definition.yaml
  cmd/apiserver/main.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/target.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/server.go
  pkg/apiserver/utils/auth.go
  pkg/apiserver/utils/context.go
  pkg/auth/privileges.go
  pkg/features/apiserver_features.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: support impersonation for application in apiserver
  charts/vela-core/templates/rbac/x-definition.yaml
  cmd/apiserver/main.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/target.go
  pkg/apiserver/infrastructure/clients/kubeclient.go
  pkg/apiserver/server.go
  pkg/apiserver/utils/auth.go
  pkg/apiserver/utils/context.go
  pkg/auth/privileges.go
  pkg/features/apiserver_features.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

format
  go.mod
  go.sum
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: optimized the version comparison
  pkg/addon/addon.go
  pkg/addon/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: upgrade cluster-gateway version (#3986)
  charts/vela-core/README.md
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/values.yaml
  go.mod
  go.sum
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: multicluster test unstable
  test/e2e-multicluster-test/multicluster_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: upgrade cluster-gateway version
  charts/vela-core/README.md
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/values.yaml
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add some default permissions about the configuration (#3998)
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/rbac_test.go
  pkg/apiserver/interfaces/api/config.go
  pkg/apiserver/interfaces/api/project.go
Owners: @barnettZQG, @yangsoon

Fix: add some default permissions about the configuration
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/rbac_test.go
  pkg/apiserver/interfaces/api/config.go
  pkg/apiserver/interfaces/api/project.go
Owners: @barnettZQG, @yangsoon

add comments
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

add pvc
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

go mod tidy
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: optimized the version comparison (#4001)
  pkg/addon/addon.go
  pkg/addon/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: optimized the version comparison
  pkg/addon/addon.go
  pkg/addon/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix panic bug
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: optimize some logic of topology resource-tree (#4003)
  go.mod
  go.sum
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee

format
  go.mod
  go.sum
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
  pkg/velaql/providers/query/types/type.go
Owners: @barnettZQG, @wonderflow, @leejanee

add pvc
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

add comments
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

go mod tidy
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

fix panic bug
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/tree.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela port-forward not working for webservice component
  references/cli/portforward.go
  references/cli/portforward_test.go
Owners: @Somefive, @zzxwill
