Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Fix: cherry-pick #3724 to delete apprev annotation. Signed-off-by: Xiangbo Ma <maxiangboo@cmbchina.com>
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela-cli does not print cluster name, if application installed in default cluster (#3691)
  references/cli/addon.go
  references/cli/status.go
Owners: @Somefive, @zzxwill

Fix: vela-cli does not print cluster name, if application installed in default cluster
  references/cli/addon.go
  references/cli/status.go
Owners: @Somefive, @zzxwill

Fix: cherry-pick #3724 to delete apprev annotation. Signed-off-by: Xiangbo Ma <maxiangboo@cmbchina.com> (#3739)
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: fix missing trigger for e2e tests (#3738)
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: multi-cluster authentication
  apis/core.oam.dev/common/register.go
  apis/core.oam.dev/v1alpha1/register.go
  apis/core.oam.dev/v1alpha2/register.go
  apis/core.oam.dev/v1beta1/register.go
  apis/types/types.go
  charts/vela-core/README.md
  charts/vela-core/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-core/templates/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  charts/vela-minimal/values.yaml
  cmd/core/main.go
  go.mod
  pkg/auth/flags.go
  pkg/auth/round_trippers.go
  pkg/auth/round_trippers_test.go
  pkg/auth/userinfo.go
  pkg/auth/userinfo_test.go
  pkg/controller/flags.go
  pkg/features/controller_features.go
  pkg/oam/auxiliary.go
  pkg/oam/labels.go
  pkg/oam/util/helper.go
  pkg/resourcekeeper/delete.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/statekeep.go
  pkg/utils/jwt.go
  pkg/utils/k8s.go
  pkg/webhook/core.oam.dev/register.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler_test.go
  pkg/workflow/providers/kube/handle.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: multi-cluster authentication (#3713)
  apis/core.oam.dev/common/register.go
  apis/core.oam.dev/v1alpha1/register.go
  apis/core.oam.dev/v1alpha2/register.go
  apis/core.oam.dev/v1beta1/register.go
  apis/types/types.go
  charts/vela-core/README.md
  charts/vela-core/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-core/templates/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  charts/vela-minimal/values.yaml
  cmd/core/main.go
  go.mod
  pkg/auth/flags.go
  pkg/auth/round_trippers.go
  pkg/auth/round_trippers_test.go
  pkg/auth/userinfo.go
  pkg/auth/userinfo_test.go
  pkg/controller/flags.go
  pkg/features/controller_features.go
  pkg/oam/auxiliary.go
  pkg/oam/labels.go
  pkg/oam/util/helper.go
  pkg/resourcekeeper/delete.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/statekeep.go
  pkg/utils/jwt.go
  pkg/utils/k8s.go
  pkg/webhook/core.oam.dev/register.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler.go
  pkg/webhook/core.oam.dev/v1alpha2/application/mutating_handler_test.go
  pkg/workflow/providers/kube/handle.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

use unical project filter func to list secret
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
Owners: @barnettZQG, @yangsoon

Fix: use Terraform provider name as application in CLI
  apis/types/types.go
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/utils/config/application.go
  references/cli/provider.go
  references/cli/provider_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Chore: fix e2e test check tag exist and set matrix
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

fix
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: apiserver definition alias
  apis/types/types.go
  docs/apidoc/swagger.json
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/testdata/applyapplication-sd.yaml
  pkg/apiserver/rest/usecase/testdata/myingress-td.yaml
  pkg/apiserver/rest/usecase/testdata/webserver-cd.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Chore: fix e2e test check tag exist and set matrix (#3743)
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: apiserver definition alias (#3721)
  apis/types/types.go
  docs/apidoc/swagger.json
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/testdata/applyapplication-sd.yaml
  pkg/apiserver/rest/usecase/testdata/myingress-td.yaml
  pkg/apiserver/rest/usecase/testdata/webserver-cd.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

use unical project filter func to list secret (#3741)
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
Owners: @barnettZQG, @yangsoon

use unical project filter func to list secret
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
Owners: @barnettZQG, @yangsoon

Fix: velaux addon hint after enable
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Fix: public image registry config could not be created (#3736)
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: public image registry config could not be created
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: change the unit test case
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/testdata/workflowstep-apply-object.yaml
  test/e2e-apiserver-test/definition_test.go
  test/e2e-apiserver-test/testdata/component-schema-webservice.yaml
  vela-templates/definitions/uischema/component-alibaba-rds.yaml
  vela-templates/definitions/uischema/component-k8s-objects.yaml
  vela-templates/definitions/uischema/component-task.yaml
  vela-templates/definitions/uischema/component-webservice.yaml
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee, @Somefive

Feat: add a api for update the ui schema
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/utils/bcode/bcode.go
  pkg/apiserver/rest/utils/ui_schema.go
  pkg/apiserver/rest/webservice/definition.go
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Fix: change the unit test case
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add an API to change the definition status
  docs/apidoc/swagger.json
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/testdata/apply-object.yaml
  pkg/apiserver/rest/webservice/definition.go
  pkg/apiserver/rest/webservice/policy_definition.go
  pkg/apiserver/rest/webservice/webservice.go
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: change the e2e test case
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change cache key
  docs/apidoc/swagger.json
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/testdata/apply-application-hide.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

check if upgrade
  references/cli/addon.go
Owners: @Somefive, @zzxwill

add UTs
  apis/types/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/utils/config/application.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: use Terraform provider name as application in CLI (#3742)
  apis/types/types.go
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/utils/config/application.go
  references/cli/provider.go
  references/cli/provider_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Fix: change the error words
  docs/apidoc/swagger.json
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/testdata/ui-custom-schema.yaml
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: check whether a project matched a config's project
  pkg/utils/config/project.go
  pkg/utils/config/project_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix CI
  pkg/utils/config/project_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix CI
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

change imports order
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix CI
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

change imported libraries order again
  pkg/utils/config/project.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: use Terraform provider name as application in CLI (#3742)
  apis/types/types.go
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/usecase/project_test.go
  pkg/utils/config/application.go
  references/cli/provider.go
  references/cli/provider_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Fix: kubectl check err
  pkg/cmd/builder.go
  pkg/cmd/factory.go
  pkg/cmd/util/helpers.go
  pkg/cmd/utils.go
  references/cli/up.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: velaux addon hint after enable (#3747)
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Fix: velaux addon hint after enable
  references/cli/addon.go
Owners: @Somefive, @zzxwill

check if upgrade
  references/cli/addon.go
Owners: @Somefive, @zzxwill

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
