Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Refactor: move logic to get addon package out of where it is supposed to get addon status
  pkg/addon/error.go
  pkg/addon/helper.go
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: add the component name field for the trigger
  pkg/apiserver/model/application.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/webhook.go
Owners: @barnettZQG, @yangsoon

Test: add test cases for secret-getting in TestGetAddonStatus
  pkg/addon/addon_test.go
  pkg/addon/helper.go
  references/cli/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Using a fake client now for offline mode
  pkg/appfile/template.go
  pkg/utils/common/args.go
  references/cli/dryrun.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Modifies the json returned err
  pkg/apiserver/datastore/kubeapi/kubeapi.go
  pkg/apiserver/sync/worker.go
  pkg/cue/process/handle.go
Owners: @barnettZQG, @yangsoon, @leejanee, @FogDong

Adds error return value
  pkg/apiserver/sync/worker.go
  pkg/cue/process/handle.go
Owners: @barnettZQG, @yangsoon, @leejanee, @FogDong

refactors sync sh
  hack/apis/sync.sh
Owners: @barnettZQG, @wonderflow, @leejanee

fixes POSIX sh, as [[ ]] is undefined.
  entrypoint.sh
Owners: @barnettZQG, @wonderflow, @leejanee

Refactor: Minor changes on shell script to support double quotes format and [ ] POSIX (#3889)
  entrypoint.sh
  hack/apis/sync.sh
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: return error if an addon is not installed, nor does it exist in the registry
  references/cli/addon.go
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Refactor: rename GetAddonWholePackage to GetDetailedAddon as per wonderflow
  pkg/addon/helper.go
  pkg/addon/versioned_registry.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fail to create the cloud service application
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/testdata/terraform-alibaba-rds.yaml
  pkg/apiserver/rest/usecase/workflow_model.go
Owners: @barnettZQG, @yangsoon

Feat: cluster gateway incorrect chart params
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix(cli): try to get mapValue type name
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: update output format based on comment and fix typo
  references/plugins/reference_test.go
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fail to create the cloud service application (#3893)
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/testdata/terraform-alibaba-rds.yaml
  pkg/apiserver/rest/usecase/workflow_model.go
Owners: @barnettZQG, @yangsoon

Fix: test
  references/plugins/reference_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: create the definition for built-in policies
  charts/vela-core/templates/defwithtemplate/envbinding.yaml
  charts/vela-core/templates/defwithtemplate/override.yaml
  charts/vela-core/templates/defwithtemplate/topology.yaml
  charts/vela-minimal/templates/defwithtemplate/override.yaml
  charts/vela-minimal/templates/defwithtemplate/topology.yaml
  vela-templates/definitions/deprecated/envbinding.cue
  vela-templates/definitions/internal/policy/override.cue
  vela-templates/definitions/internal/policy/topology.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: create the definition for built-in policies (#3894)
  charts/vela-core/templates/defwithtemplate/envbinding.yaml
  charts/vela-core/templates/defwithtemplate/override.yaml
  charts/vela-core/templates/defwithtemplate/topology.yaml
  charts/vela-minimal/templates/defwithtemplate/override.yaml
  charts/vela-minimal/templates/defwithtemplate/topology.yaml
  vela-templates/definitions/deprecated/envbinding.cue
  vela-templates/definitions/internal/policy/override.cue
  vela-templates/definitions/internal/policy/topology.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: add the component name field for the trigger (#3884)
  pkg/apiserver/model/application.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/webhook.go
Owners: @barnettZQG, @yangsoon

Feat: support filter the resource by kind or apiVersion
  pkg/stdlib/pkgs/query.cue
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler.go
  pkg/velaql/providers/query/handler_test.go
Owners: @leejanee, @FogDong, @barnettZQG, @wonderflow

Fix: update the env workflow after deleting a component
  pkg/apiserver/rest/usecase/application.go
Owners: @barnettZQG, @yangsoon

Feat: add featrue flags for controller auto impersonation
  cmd/core/main.go
  pkg/features/controller_features.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add auto-detect for kubeconfig identity
  cmd/core/main.go
  pkg/utils/jwt.go
  pkg/utils/k8s.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: controller auto-impersonation (#3906)
  cmd/core/main.go
  pkg/features/controller_features.go
  pkg/utils/jwt.go
  pkg/utils/k8s.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela create kubeconfig
  pkg/auth/kubeconfig.go
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/utils/util/cmd.go
  references/cli/cli.go
  references/cli/create.go
  references/cli/up_test.go
  test/e2e-multicluster-test/multicluster_auth_test.go
  test/e2e-multicluster-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: make gateway trait's host field optional
  charts/vela-core/templates/defwithtemplate/gateway.yaml
  charts/vela-minimal/templates/defwithtemplate/gateway.yaml
  vela-templates/definitions/internal/trait/gateway.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: corrected minor typo in code
  references/cli/uninstall.go
Owners: @Somefive, @zzxwill

Fix: update API document
  docs/apidoc/swagger.json
  pkg/apiserver/rest/webservice/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: update API document (#3915)
  docs/apidoc/swagger.json
  pkg/apiserver/rest/webservice/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: extend apply-once to allow specified path configuration to drift
  apis/core.oam.dev/v1alpha1/applyonce_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  docs/examples/app-with-policy/apply-once-policy/apply-once.md
  go.mod
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/policy/common_test.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/dispatch_and_delete_test.go
  pkg/resourcekeeper/statekeep.go
  pkg/resourcekeeper/statekeep_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: refactor
  pkg/auth/kubeconfig.go
  references/cli/auth.go
  references/cli/cli.go
  test/e2e-multicluster-test/multicluster_auth_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

modity hint
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha2/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  apis/standard.oam.dev/v1alpha1/zz_generated.deepcopy.go
  charts/vela-core/templates/defwithtemplate/gateway.yaml
  charts/vela-minimal/templates/defwithtemplate/gateway.yaml
  vela-templates/definitions/internal/trait/gateway.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

revert
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha2/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  apis/standard.oam.dev/v1alpha1/zz_generated.deepcopy.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: extend apply-once to allow specified path configuration to drift (#3899)
  apis/core.oam.dev/v1alpha1/applyonce_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types.go
  apis/core.oam.dev/v1alpha1/garbagecollect_types_test.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  docs/examples/app-with-policy/apply-once-policy/apply-once.md
  go.mod
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/policy/common_test.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/dispatch_and_delete_test.go
  pkg/resourcekeeper/statekeep.go
  pkg/resourcekeeper/statekeep_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(policy): add post stop hook policy
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/v1alpha1/policy_types.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/monitor/metrics/application.go
  pkg/policy/hook.go
  pkg/workflow/context/context.go
  pkg/workflow/interface.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/template/load.go
  pkg/workflow/tasks/template/policy/notification.cue
  pkg/workflow/tasks/template/policy/webhook.cue
  pkg/workflow/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: vela auth gen-kubeconfig (#3911)
  pkg/auth/kubeconfig.go
  pkg/cmd/builder.go
  pkg/cmd/completion.go
  pkg/cmd/factory.go
  pkg/utils/util/cmd.go
  references/cli/auth.go
  references/cli/cli.go
  references/cli/up_test.go
  test/e2e-multicluster-test/multicluster_auth_test.go
  test/e2e-multicluster-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: add the design of if condition in workflow
  design/vela-core/workflow_policy.md
Owners: @barnettZQG, @leejanee, @wonderflow

make the if example more clear
  design/vela-core/workflow_policy.md
Owners: @barnettZQG, @leejanee, @wonderflow

Feat: add the design of if condition in workflow (#3922)
  design/vela-core/workflow_policy.md
Owners: @barnettZQG, @leejanee, @wonderflow

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
