Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Fix: remove config image registry (#3572)
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

aglin config secret label
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
Owners: @barnettZQG, @yangsoon

aglin config secret label
  pkg/addon/addon.go
  pkg/addon/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add addon gitlab support test note edit
  pkg/addon/reader_gitlab_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add addon gitlab branch support and fix bug
  pkg/addon/addon.go
  pkg/addon/reader_gitlab.go
  pkg/addon/source.go
  pkg/utils/parse.go
Owners: @barnettZQG, @wonderflow, @leejanee

create addon registry bug fix
  pkg/apiserver/rest/apis/v1/types.go
Owners: @barnettZQG, @yangsoon

typo edit
  pkg/addon/source.go
Owners: @barnettZQG, @wonderflow, @leejanee

test file edit
  pkg/addon/addon_test.go
  pkg/addon/source_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add addon gitlab support test file
  pkg/addon/reader_gitlab_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add addons gitlab support
  go.mod
  go.sum
  pkg/addon/addon.go
  pkg/addon/registry.go
  pkg/addon/source.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/utils/parse.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

add gitlab addon registry bug fix
  pkg/apiserver/rest/usecase/addon.go
  references/cli/addon-registry.go
Owners: @barnettZQG, @yangsoon, @Somefive, @zzxwill

code format edit
  go.mod
  pkg/addon/reader_gitlab.go
Owners: @barnettZQG, @wonderflow, @leejanee

notes edit
  pkg/utils/parse.go
Owners: @barnettZQG, @wonderflow, @leejanee

notes edit
  pkg/addon/source.go
Owners: @barnettZQG, @wonderflow, @leejanee

add addons gitlab support
  pkg/addon/reader_gitlab.go
Owners: @barnettZQG, @wonderflow, @leejanee

move third party imports block
  pkg/addon/addon.go
  pkg/addon/reader_gitlab.go
  pkg/addon/source.go
Owners: @barnettZQG, @wonderflow, @leejanee

aglin config secret label (#3574)
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
Owners: @barnettZQG, @yangsoon

aglin config secret label (#3576)
  pkg/addon/addon.go
  pkg/addon/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix refresh code expired bcode
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
Owners: @barnettZQG, @yangsoon

Fix: upgrade golangci-lint-action to v3 to fix ci
  .github/workflows/go.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: try fix lint
  .github/workflows/go.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: add new code flow for kubevela milestone
  contribute/README.md
  contribute/develop-code-flow.pdf
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: The GC after application deletion is sequential, accoding to the reversal order of the creation. Signed-off-by: Xiangbo Ma <maxiangboo@cmbchina.com>
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/core.oam.dev/v1beta1/resourcetracker_types_test.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_resourcetrackers.yaml
  charts/vela-minimal/crds/core.oam.dev_resourcetrackers.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_resourcetrackers.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/resourcekeeper/cache.go
  pkg/resourcekeeper/componentrevision.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/dispatch_and_delete_test.go
  pkg/resourcekeeper/gc.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/resourcekeeper.go
  pkg/resourcetracker/app.go
  pkg/resourcetracker/app_test.go
  pkg/velaql/view.go
  pkg/workflow/providers/kube/handle.go
  pkg/workflow/providers/kube/handle_test.go
  pkg/workflow/tasks/custom/task.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Chore: try fix lint (#3571)
  .github/workflows/go.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add response struct to config deletion api
  pkg/apiserver/rest/webservice/config.go
Owners: @barnettZQG, @yangsoon

Fix: add response struct to config deletion api (#3579)
  pkg/apiserver/rest/webservice/config.go
Owners: @barnettZQG, @yangsoon

Chore: add new code flow for kubevela milestone (#3586)
  contribute/README.md
  contribute/develop-code-flow.pdf
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add terraform aws provider without AWS_SESSION_TOKEN
  references/cli/def.go
  references/cli/provider.go
Owners: @Somefive, @zzxwill

Fix: add feature-gates to command-line args
  cmd/core/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix refresh code expired bcode (#3582)
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/utils/bcode/012_authentication.go
Owners: @barnettZQG, @yangsoon

addon gitlab registry repo name invalid
  pkg/utils/parse.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: add feature-gates to command-line args (#3591)
  cmd/core/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

add ut
  references/cli/provider.go
  references/cli/provider_test.go
Owners: @Somefive, @zzxwill

fix ci issues
  references/cli/provider_test.go
Owners: @Somefive, @zzxwill

address comments
  references/cli/provider.go
Owners: @Somefive, @zzxwill

fix CI issues
  references/cli/provider_test.go
Owners: @Somefive, @zzxwill

Feat(lang): add addons gitlab support (#3543)
  go.mod
  go.sum
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/reader_gitlab.go
  pkg/addon/reader_gitlab_test.go
  pkg/addon/registry.go
  pkg/addon/source.go
  pkg/addon/source_test.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/addon.go
  pkg/utils/parse.go
  references/cli/addon-registry.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

add sorting for properties, outputs, writeSecretRefParameters in vela def doc-gen
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee

support auth
  pkg/addon/versioned_registry.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/utils/common/common.go
  pkg/utils/common/common_test.go
  pkg/utils/helm/helm_helper.go
  references/cli/def.go
  references/common/application.go
  references/plugins/cluster.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Fix: add terraform aws provider without AWS_SESSION_TOKEN (#3590)
  references/cli/def.go
  references/cli/provider.go
  references/cli/provider_test.go
Owners: @Somefive, @zzxwill
