Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

fix UT
  references/cli/def_test.go
Owners: @Somefive, @zzxwill

add test
  pkg/appfile/parser.go
  pkg/appfile/parser_test.go
  pkg/appfile/testdata/backport-1-2/app.yaml
  pkg/appfile/testdata/backport-1-2/apprev1.yaml
  pkg/appfile/testdata/backport-1-2/apprev2.yaml
  pkg/appfile/testdata/backport-1-2/apprev3.yaml
  pkg/appfile/testdata/backport-1-2/wsd.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/revision_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

revert some changes
  pkg/apiserver/rest/usecase/cluster.go
  pkg/cloudprovider/terraform.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Fix: update latest version Fix: 1.2 upgrade 1.3 workflowstep XXX not found (#3804)
  pkg/appfile/parser.go
  pkg/appfile/parser_test.go
  pkg/appfile/testdata/backport-1-2/app.yaml
  pkg/appfile/testdata/backport-1-2/apprev1.yaml
  pkg/appfile/testdata/backport-1-2/apprev2.yaml
  pkg/appfile/testdata/backport-1-2/apprev3.yaml
  pkg/appfile/testdata/backport-1-2/wsd.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add test
  pkg/appfile/parser.go
  pkg/appfile/parser_test.go
  pkg/appfile/testdata/backport-1-2/app.yaml
  pkg/appfile/testdata/backport-1-2/apprev1.yaml
  pkg/appfile/testdata/backport-1-2/apprev2.yaml
  pkg/appfile/testdata/backport-1-2/apprev3.yaml
  pkg/appfile/testdata/backport-1-2/wsd.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/revision_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: 1.2 upgrade 1.3 workflowstep XXX not found
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: seprate test into linux env which can't be execute in darwin
  pkg/controller/utils/capability_linux_test.go
  pkg/controller/utils/capability_test.go
  pkg/utils/common/common_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Add short name velaapp for application CRD
  apis/core.oam.dev/v1alpha2/application_types.go
  apis/core.oam.dev/v1beta1/application_types.go
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Add short name velaapp for application CRD (#3816)
  apis/core.oam.dev/v1alpha2/application_types.go
  apis/core.oam.dev/v1beta1/application_types.go
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: seprate test into linux env which can't be execute in darwin (#3823)
  pkg/controller/utils/capability_linux_test.go
  pkg/controller/utils/capability_test.go
  pkg/utils/common/common_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add support for apprt
  pkg/resourcetracker/app.go
  pkg/resourcetracker/app_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Support basic-auth or reuse chartmuseum as addon registry
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/cache.go
  pkg/addon/source.go
  pkg/addon/testdata/basicauth-helm-repo/fluxcd-1.0.0.tgz
  pkg/addon/testdata/basicauth-helm-repo/index.yaml
  pkg/addon/testdata/invalid-metadata/metadata.yaml
  pkg/addon/testdata/invalid-metadata/resources/parameter.cue
  pkg/addon/utils.go
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  pkg/utils/helm/helm_helper.go
  pkg/utils/strings.go
  pkg/utils/strings_test.go
  references/cli/addon-registry.go
  references/cli/addon.go
  references/cli/addon_test.go
  references/cli/test-data/addon/sample/metadata.yaml
  references/cli/test-data/addon/sample/resources/parameter.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: support multi keys in patchKey
  pkg/cue/model/sets/operation.go
  pkg/cue/model/sets/operation_test.go
Owners: @leejanee, @FogDong

Fix: resolve locally installed addons not being displayed
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Feat: add support for apprt (#3824)
  pkg/resourcetracker/app.go
  pkg/resourcetracker/app_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Refactor: change original variable name to avoid confusions
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Style: revert incorrect auto-formatting
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Feat: Support basic-auth or reuse chartmuseum as addon registry (#3787)
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/cache.go
  pkg/addon/source.go
  pkg/addon/testdata/basicauth-helm-repo/fluxcd-1.0.0.tgz
  pkg/addon/testdata/basicauth-helm-repo/index.yaml
  pkg/addon/testdata/invalid-metadata/metadata.yaml
  pkg/addon/testdata/invalid-metadata/resources/parameter.cue
  pkg/addon/utils.go
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  pkg/utils/helm/helm_helper.go
  pkg/utils/strings.go
  pkg/utils/strings_test.go
  references/cli/addon-registry.go
  references/cli/addon.go
  references/cli/addon_test.go
  references/cli/test-data/addon/sample/metadata.yaml
  references/cli/test-data/addon/sample/resources/parameter.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: support multi keys in patchKey (#3826)
  pkg/cue/model/sets/operation.go
  pkg/cue/model/sets/operation_test.go
Owners: @leejanee, @FogDong

refactors error return value of encoding addon
  pkg/addon/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee

refactor error return value of encoding kubeapi
  pkg/apiserver/datastore/kubeapi/kubeapi.go
Owners: @barnettZQG, @yangsoon

refactors error return value of encoding worker
  pkg/apiserver/sync/worker.go
Owners: @barnettZQG, @yangsoon

refactors error return value of encoding handle
  pkg/cue/process/handle.go
Owners: @leejanee, @FogDong

refactors http write resp to use 'html/template' instead
  e2e/addon/mock/vela_addon_mock_server.go
  references/cli/portforward.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

refactors double quote to prevent globbing and word splitting e2e sh
  hack/e2e/end_e2e.sh
Owners: @barnettZQG, @wonderflow, @leejanee

refactors e2e_core sh
  hack/e2e/end_e2e.sh
  hack/e2e/end_e2e_core.sh
Owners: @barnettZQG, @wonderflow, @leejanee

refactors cleanup sh
  hack/crd/cleanup.sh
Owners: @barnettZQG, @wonderflow, @leejanee

refactors header-chk sh
  hack/licence/header-check.sh
Owners: @barnettZQG, @wonderflow, @leejanee

refactors installdef sh
  hack/utils/installdefinition.sh
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: Refactors shell to have double quotes format (#3830)
  hack/crd/cleanup.sh
  hack/e2e/end_e2e.sh
  hack/e2e/end_e2e_core.sh
  hack/licence/header-check.sh
  hack/utils/installdefinition.sh
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: don't override user definied `region` (#3503)
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
  pkg/cloudprovider/aliyun.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/suite_test.go
  pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope/healthscope.go
  pkg/utils/common/common.go
  references/cli/def.go
  references/cli/def_test.go
  test/e2e-addon-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @captainroy-hy, @zzxwill, @Somefive

fix UT
  references/cli/def_test.go
Owners: @Somefive, @zzxwill

fix CI
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix CI
  pkg/appfile/appfile.go
  test/e2e-addon-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

revert some changes
  pkg/apiserver/rest/usecase/cluster.go
  pkg/cloudprovider/terraform.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

fix check-diff
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: don't override user definied `region`
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/cluster.go
  pkg/appfile/appfile.go
  pkg/appfile/appfile_test.go
  pkg/cloudprovider/aliyun.go
  pkg/cloudprovider/terraform.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/suite_test.go
  pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope/healthscope.go
  pkg/utils/common/common.go
  references/cli/def.go
  test/e2e-addon-test/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @captainroy-hy, @zzxwill, @Somefive

Fix: The new addon can not shown in the Addons page
  pkg/addon/cache.go
  pkg/addon/cache_test.go
  pkg/addon/versioned_registry_test.go
  test/e2e-multicluster-test/suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: sensitive field of addon registry is exposed
  pkg/addon/source.go
  pkg/addon/source_test.go
  pkg/apiserver/rest/usecase/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Test: add tests for outputs from `vela addon list` when an addon with the same as registry one is locally installed
  references/cli/addon.go
  references/cli/addon_suite_test.go
  references/cli/uninstall_test.go
Owners: @Somefive, @zzxwill

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
