Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Feat: add name param in vela logs Signed-off-by: qiaozp <chivalry.pp@gmail.com>
  pkg/utils/common/common.go
  references/cli/logs.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: add name param in vela logs (#3556)
  pkg/utils/common/common.go
  references/cli/logs.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

optimize the ux of addon
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Fix: topology use original resource namespace when not specify (#3554)
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/multicluster/multicluster_test.go
Owners: @leejanee, @FogDong

Fix: livediff minor bug
  apis/core.oam.dev/v1alpha1/register.go
Owners: @barnettZQG, @wonderflow, @leejanee

optimize the ux of addon (#3557)
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Fix: livediff minor bug (#3558)
  apis/core.oam.dev/v1alpha1/register.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: use dex config from secret
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/usecase/user.go
Owners: @barnettZQG, @yangsoon

add helm repo list
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/apiserver/rest/webservice/helm.go
  pkg/oam/labels.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

fix not found
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @yangsoon

fix commit
  pkg/apiserver/rest/apis/v1/types.go
Owners: @barnettZQG, @yangsoon

Chore: bump k8s version contraint
  references/cli/install.go
Owners: @Somefive, @zzxwill

fix restart dex
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

Chore: refine chart readme and notes
  charts/vela-core/README.md
  charts/vela-core/templates/NOTES.txt
  pkg/apiserver/rest/usecase/user.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

fix comments
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/webservice/helm.go
Owners: @barnettZQG, @yangsoon

build swagger
  docs/apidoc/swagger.json
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: bump k8s version contraint (#3560)
  references/cli/install.go
Owners: @Somefive, @zzxwill

fix system info
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

Feat: add helm repo list endpoint (#3564)
  docs/apidoc/swagger.json
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/helm.go
  pkg/apiserver/rest/usecase/helm_test.go
  pkg/apiserver/rest/webservice/helm.go
  pkg/oam/labels.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Chore: add video records in readme for chinese community call
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

fix restart
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

Chore: refine chart readme and notes (#3563)
  charts/vela-core/README.md
  charts/vela-core/templates/NOTES.txt
  pkg/apiserver/rest/usecase/user.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Chore: add video records in readme for chinese community call (#3565)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add update dex config in apiserver (#3548)
  apis/types/types.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/usecase/testdata/dex-config-def.yaml
  pkg/apiserver/rest/usecase/user.go
  pkg/apiserver/rest/utils/bcode/014_user.go
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/dex_test.go
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: add config management apis
  apis/types/types.go
  charts/vela-core/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-minimal/templates/defwithtemplate/config-dex-connector.yaml
  docs/examples/config/dex-connector/app-config-dex-connector-github.yaml
  docs/examples/config/image-registry/app-config-image-registry-account-auth.yaml
  docs/examples/config/image-registry/app-deliever-secret.yaml
  go.mod
  go.sum
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/dex_test.go
  pkg/apiserver/rest/webservice/config.go
  pkg/apiserver/rest/webservice/webservice.go
  vela-templates/definitions/internal/component/config-dex-connector.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

fix check-diff
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: bump test k8s to 1.20
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
  contribute/developer-guide.md
Owners: @barnettZQG, @wonderflow, @leejanee

fix ci issue
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

fix config sync
  docs/examples/config/image-registry/app-deliever-secret.yaml
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/config.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

fix static check
  pkg/apiserver/rest/webservice/webservice.go
Owners: @barnettZQG, @yangsoon

Chore: bump test k8s to 1.20 (#3567)
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
  contribute/developer-guide.md
Owners: @barnettZQG, @wonderflow, @leejanee

fix sync
  pkg/apiserver/rest/usecase/config.go
Owners: @barnettZQG, @yangsoon

Fix: sync config bug
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/webhook_test.go
Owners: @barnettZQG, @yangsoon

Fix: fix dex config field
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

Fix: custom providerRef could not be passed to Configuration
  pkg/appfile/appfile.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add config management apis (#3562)
  apis/types/types.go
  charts/vela-core/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-minimal/templates/defwithtemplate/config-dex-connector.yaml
  docs/examples/config/dex-connector/app-config-dex-connector-github.yaml
  docs/examples/config/image-registry/app-config-image-registry-account-auth.yaml
  docs/examples/config/image-registry/app-deliever-secret.yaml
  go.mod
  go.sum
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/rbac.go
  pkg/apiserver/rest/usecase/webhook_test.go
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/dex_test.go
  pkg/apiserver/rest/webservice/config.go
  pkg/apiserver/rest/webservice/webservice.go
  vela-templates/definitions/internal/component/config-dex-connector.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

fix bug
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Fix: remove config image registry
  charts/vela-core/templates/defwithtemplate/config-image-registry.yaml
  charts/vela-minimal/templates/defwithtemplate/config-image-registry.yaml
  vela-templates/definitions/internal/component/config-image-registry.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: fix dex config field (#3568)
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

fix bug (#3569)
  references/cli/addon.go
Owners: @Somefive, @zzxwill

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
