Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Fix: vela port-forward not working for webservice component
  references/cli/portforward.go
  references/cli/portforward_test.go
Owners: @Somefive, @zzxwill

Fix: error message of `vela init env` is not clear (#4016)
  pkg/utils/env/env.go
  pkg/utils/env/env_test.go
  pkg/utils/k8s.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: error message of `vela init env` is not clear
  pkg/utils/env/env.go
  pkg/utils/env/env_test.go
  pkg/utils/k8s.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add affinity trait to merge node and pod affinity (#3973)
  charts/vela-core/templates/defwithtemplate/affinity.yaml
  charts/vela-core/templates/defwithtemplate/node-affinity.yaml
  charts/vela-minimal/templates/defwithtemplate/affinity.yaml
  docs/examples/traits/affinity/example.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/deprecated/node-affinity.cue
  vela-templates/definitions/internal/trait/affinity.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: add affinity trait to merge node and pod affinity
  charts/vela-core/templates/defwithtemplate/affinity.yaml
  charts/vela-core/templates/defwithtemplate/node-affinity.yaml
  charts/vela-minimal/templates/defwithtemplate/affinity.yaml
  docs/examples/traits/affinity/example.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/deprecated/node-affinity.cue
  vela-templates/definitions/internal/trait/affinity.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

remove the terminate workflow to pkg and add feature gates
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  cmd/core/main.go
  pkg/apiserver/domain/service/workflow.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/features/controller_features.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  references/cli/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive, @zzxwill

Feat: add the creating and deleting permission APIs (#4026)
  docs/apidoc/swagger.json
  pkg/apiserver/domain/repository/grpc.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/rbac_test.go
  pkg/apiserver/interfaces/api/assembler/v1/do2dto.go
  pkg/apiserver/interfaces/api/dto/v1/types.go
  pkg/apiserver/interfaces/api/env.go
  pkg/apiserver/interfaces/api/project.go
  pkg/apiserver/interfaces/api/rbac.go
  pkg/apiserver/utils/bcode/015_rbac.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: add the creating and deleting permission APIs
  docs/apidoc/swagger.json
  pkg/apiserver/domain/repository/grpc.go
  pkg/apiserver/domain/service/rbac.go
  pkg/apiserver/domain/service/rbac_test.go
  pkg/apiserver/interfaces/api/assembler/v1/do2dto.go
  pkg/apiserver/interfaces/api/dto/v1/types.go
  pkg/apiserver/interfaces/api/env.go
  pkg/apiserver/interfaces/api/project.go
  pkg/apiserver/interfaces/api/rbac.go
  pkg/apiserver/utils/bcode/015_rbac.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

some small fixes
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

resolve comments
  charts/vela-core/README.md
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/templates/kubevela-controller.yaml
  charts/vela-minimal/values.yaml
  pkg/apiserver/domain/service/workflow.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/features/controller_features.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  references/cli/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive, @zzxwill

some small fixes (#4033)
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

some small fixes
  pkg/velaql/providers/query/tree.go
  pkg/velaql/providers/query/tree_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

nit fix
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: env trait error when existing env exists
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: env trait error when existing env exists (#4038)
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: env trait error when existing env exists
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: env trait error when existing env exists
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

make finish condition more clear
  pkg/workflow/tasks/custom/task.go
Owners: @leejanee, @FogDong

Feat: add if in workflow (#3941)
  apis/core.oam.dev/common/types.go
  charts/vela-core/README.md
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_workflows.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  charts/vela-minimal/values.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflows.yaml
  pkg/apiserver/domain/service/workflow.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/features/controller_features.go
  pkg/workflow/hooks/data_passing.go
  pkg/workflow/hooks/data_passing_test.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  references/cli/workflow.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive, @zzxwill

make finish condition more clear
  pkg/workflow/tasks/custom/task.go
Owners: @leejanee, @FogDong

Fix: fix the lint
  pkg/workflow/tasks/custom/task.go
Owners: @leejanee, @FogDong

Lint: fix lint
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover_test.go
Owners: @leejanee, @FogDong

Fix: change failed after retries into reason
  apis/core.oam.dev/common/types.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/workflow_test.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: fix the lint
  pkg/workflow/workflow.go
Owners: @leejanee, @FogDong

resolve comments
  charts/vela-core/README.md
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/templates/kubevela-controller.yaml
  charts/vela-minimal/values.yaml
  pkg/apiserver/domain/service/workflow.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/features/controller_features.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  references/cli/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive, @zzxwill

Test: add more tests in discover and custom
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @leejanee, @FogDong

Fix: fix the terminate cli
  pkg/apiserver/domain/service/workflow.go
  pkg/workflow/workflow.go
  references/cli/workflow.go
Owners: @barnettZQG, @yangsoon, @leejanee, @FogDong, @Somefive, @zzxwill

Feat: support dependency and skip for suspend step
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
Owners: @leejanee, @FogDong

nit fix
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

remove the terminate workflow to pkg and add feature gates
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  cmd/core/main.go
  pkg/apiserver/domain/service/workflow.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/features/controller_features.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  references/cli/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive, @zzxwill

Feat: support if in sub steps
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @leejanee, @FogDong

fix lint
  pkg/controller/core.oam.dev/v1alpha2/application/workflow_test.go
  pkg/workflow/workflow.go
  references/cli/workflow.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Tests: add more tests in application controller
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/workflow/workflow.go
  test/e2e-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: add tests in application controller
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add if in workflow struct
  apis/core.oam.dev/common/types.go
  charts/vela-core/README.md
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_workflows.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  charts/vela-minimal/values.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflows.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix the rebase from sub steps
  apis/core.oam.dev/common/types.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/crds/core.oam.dev_workflows.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_workflows.yaml
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Feat: implement the if in workflow
  cmd/core/main.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/workflow/hooks/data_passing.go
  pkg/workflow/hooks/data_passing_test.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/tasks/custom/task_test.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/tasks/discover_test.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Fix: use user info in ref-object select
  makefiles/e2e.mk
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: fix statekeep permission leak & comprev cleanup leak
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-minimal/templates/cluster-gateway.yaml
  charts/vela-minimal/templates/kubevela-controller.yaml
  makefiles/e2e.mk
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
  pkg/resourcekeeper/statekeep.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: enable auth in multicluster test & restrict controller privileges while enabling authentication
  .github/workflows/e2e-multicluster-test.yml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/kubevela-controller.yaml
  makefiles/e2e.mk
Owners: @barnettZQG, @wonderflow, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
