Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

Fix: Can not delete terraform provider
  pkg/utils/config/application.go
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: remove the demo
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: upgrade from v1.3+ to v1.4+ with new secret for cluster-gateway
  charts/vela-core/templates/cluster-gateway/certmanager.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/job-patch.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: Improve vela provider add response
  references/cli/provider.go
  references/cmd/cli/main.go
Owners: @Somefive, @zzxwill, @barnettZQG, @wonderflow, @leejanee

Chore: change the key features in readme (#4064)
  README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: hide some definitions in VelaUX
  charts/vela-core/templates/defwithtemplate/container-image.yaml
  charts/vela-core/templates/defwithtemplate/deploy2env.yaml
  charts/vela-core/templates/defwithtemplate/json-merge-patch.yaml
  charts/vela-core/templates/defwithtemplate/json-patch.yaml
  charts/vela-core/templates/defwithtemplate/ref-objects.yaml
  charts/vela-core/templates/defwithtemplate/step-group.yaml
  charts/vela-minimal/templates/defwithtemplate/container-image.yaml
  charts/vela-minimal/templates/defwithtemplate/json-merge-patch.yaml
  charts/vela-minimal/templates/defwithtemplate/json-patch.yaml
  charts/vela-minimal/templates/defwithtemplate/ref-objects.yaml
  charts/vela-minimal/templates/defwithtemplate/step-group.yaml
  vela-templates/definitions/internal/component/ref-objects.cue
  vela-templates/definitions/internal/trait/container-image.cue
  vela-templates/definitions/internal/trait/json-merge-patch.cue
  vela-templates/definitions/internal/trait/json-patch.cue
  vela-templates/definitions/internal/workflowstep/deploy2env.cue
  vela-templates/definitions/internal/workflowstep/step-group.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: Can not delete terraform provider (#4070)
  pkg/utils/config/application.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: Can not delete terraform provider
  pkg/utils/config/application.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change the region to customRegion
  pkg/apiserver/domain/repository/workflow.go
Owners: @barnettZQG, @yangsoon

Fix: upgrade from v1.3+ to v1.4+ with new secret for cluster-gateway (#4072)
  charts/vela-core/templates/cluster-gateway/certmanager.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/job-patch.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: upgrade from v1.3+ to v1.4+ with new secret for cluster-gateway
  charts/vela-core/templates/cluster-gateway/certmanager.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/job-patch.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: vela ql into vela-cli (#3519)
  e2e/application/application_test.go
  e2e/application/component-pod-view.yaml
  references/cli/cli.go
  references/cli/velaql.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: vela ql into vela-cli
  e2e/application/application_test.go
  e2e/application/component-pod-view.yaml
  references/cli/cli.go
  references/cli/velaql.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: Improve vela provider add response (#4055)
  references/cli/provider.go
  references/cmd/cli/main.go
Owners: @Somefive, @zzxwill, @barnettZQG, @wonderflow, @leejanee

Fix: Improve vela provider add response
  references/cli/provider.go
  references/cmd/cli/main.go
Owners: @Somefive, @zzxwill, @barnettZQG, @wonderflow, @leejanee

Fix: change the region to customRegion (#4075)
  pkg/apiserver/domain/repository/workflow.go
Owners: @barnettZQG, @yangsoon

Fix: change the region to customRegion
  pkg/apiserver/domain/repository/workflow.go
Owners: @barnettZQG, @yangsoon

Chore: hide some definitions in VelaUX (#4073)
  charts/vela-core/templates/defwithtemplate/container-image.yaml
  charts/vela-core/templates/defwithtemplate/deploy2env.yaml
  charts/vela-core/templates/defwithtemplate/json-merge-patch.yaml
  charts/vela-core/templates/defwithtemplate/json-patch.yaml
  charts/vela-core/templates/defwithtemplate/ref-objects.yaml
  charts/vela-core/templates/defwithtemplate/step-group.yaml
  charts/vela-minimal/templates/defwithtemplate/container-image.yaml
  charts/vela-minimal/templates/defwithtemplate/json-merge-patch.yaml
  charts/vela-minimal/templates/defwithtemplate/json-patch.yaml
  charts/vela-minimal/templates/defwithtemplate/ref-objects.yaml
  charts/vela-minimal/templates/defwithtemplate/step-group.yaml
  vela-templates/definitions/internal/component/ref-objects.cue
  vela-templates/definitions/internal/trait/container-image.cue
  vela-templates/definitions/internal/trait/json-merge-patch.cue
  vela-templates/definitions/internal/trait/json-patch.cue
  vela-templates/definitions/internal/workflowstep/deploy2env.cue
  vela-templates/definitions/internal/workflowstep/step-group.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Chore: hide some definitions in VelaUX
  charts/vela-core/templates/defwithtemplate/container-image.yaml
  charts/vela-core/templates/defwithtemplate/deploy2env.yaml
  charts/vela-core/templates/defwithtemplate/json-merge-patch.yaml
  charts/vela-core/templates/defwithtemplate/json-patch.yaml
  charts/vela-core/templates/defwithtemplate/ref-objects.yaml
  charts/vela-core/templates/defwithtemplate/step-group.yaml
  charts/vela-minimal/templates/defwithtemplate/container-image.yaml
  charts/vela-minimal/templates/defwithtemplate/json-merge-patch.yaml
  charts/vela-minimal/templates/defwithtemplate/json-patch.yaml
  charts/vela-minimal/templates/defwithtemplate/ref-objects.yaml
  charts/vela-minimal/templates/defwithtemplate/step-group.yaml
  vela-templates/definitions/internal/component/ref-objects.cue
  vela-templates/definitions/internal/trait/container-image.cue
  vela-templates/definitions/internal/trait/json-merge-patch.cue
  vela-templates/definitions/internal/trait/json-patch.cue
  vela-templates/definitions/internal/workflowstep/deploy2env.cue
  vela-templates/definitions/internal/workflowstep/step-group.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

wrap the error optimize the show info
  references/cli/addon.go
Owners: @Somefive, @zzxwill

more note info and filter prerelease addon version
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

fix golint
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Fix(addon): more note info and filter prerelease addon version (#4081)
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

wrap the error optimize the show info
  references/cli/addon.go
Owners: @Somefive, @zzxwill

fix golint
  references/cli/addon.go
Owners: @Somefive, @zzxwill

more note info and filter prerelease addon version
  pkg/addon/versioned_registry.go
  pkg/addon/versioned_registry_test.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: use deferred config in CLI
  pkg/cmd/factory.go
  references/cli/cli.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: use deferred config in CLI (#4083)
  pkg/cmd/factory.go
  references/cli/cli.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: use deferred config in CLI
  pkg/cmd/factory.go
  references/cli/cli.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: load the provider subcommands on demand
  references/cli/cli.go
  references/cli/provider.go
Owners: @Somefive, @zzxwill

Fix: load the provider subcommands on demand (#4086)
  references/cli/cli.go
  references/cli/provider.go
Owners: @Somefive, @zzxwill

Fix: load the provider subcommands on demand
  references/cli/cli.go
  references/cli/provider.go
Owners: @Somefive, @zzxwill

Fix: show the default password
  pkg/apiserver/domain/service/user.go
  references/cli/addon.go
  references/cli/provider.go
Owners: @barnettZQG, @yangsoon, @Somefive, @zzxwill

Fix: the new default values do not take effect when upgrading the vela core
  pkg/utils/helm/helm_helper.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/testdata/autoscalertrait-0.1.0.tgz
  pkg/utils/helm/testdata/autoscalertrait-0.2.0.tgz
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela provider delete command's example is wrong
  references/cli/provider.go
Owners: @Somefive, @zzxwill

Fix: show the default password (#4091)
  pkg/apiserver/domain/service/user.go
  references/cli/addon.go
  references/cli/provider.go
Owners: @barnettZQG, @yangsoon, @Somefive, @zzxwill

Fix: show the default password
  pkg/apiserver/domain/service/user.go
  references/cli/addon.go
  references/cli/provider.go
Owners: @barnettZQG, @yangsoon, @Somefive, @zzxwill

Fix: the new default values do not take effect when upgrading the vela core (#4092)
  pkg/utils/helm/helm_helper.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/testdata/autoscalertrait-0.1.0.tgz
  pkg/utils/helm/testdata/autoscalertrait-0.2.0.tgz
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: the new default values do not take effect when upgrading the vela core
  pkg/utils/helm/helm_helper.go
  pkg/utils/helm/helm_helper_test.go
  pkg/utils/helm/testdata/autoscalertrait-0.1.0.tgz
  pkg/utils/helm/testdata/autoscalertrait-0.2.0.tgz
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela provider delete command's example is wrong (#4094)
  references/cli/provider.go
Owners: @Somefive, @zzxwill
