Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

Perf(charts): mv cluster-gateway to a dir
  charts/vela-core/templates/admission-webhooks/certmanager.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

fix(charts): remove a not built in cap "containerizedwokrload" from disableCaps
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(charts): support cert-manager on "cluster-gateway"
  charts/vela-core/README.md
  charts/vela-core/templates/cluster-gateway/certmanager.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/job-patch.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: the endpoints is repeated and can not query the ingress with v1 version (#3862)
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler.go
  references/cli/addon.go
  references/cli/status.go
  references/cli/velaql.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: the endpoints is repeated and can not query the ingress with v1 version
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler.go
  references/cli/addon.go
  references/cli/status.go
  references/cli/velaql.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: use vela prism for accessing clusters as alternative
  go.mod
  go.sum
  pkg/addon/addon_suite_test.go
  pkg/addon/addon_test.go
  pkg/multicluster/cluster_management.go
  pkg/multicluster/cluster_metrics_management_test.go
  pkg/multicluster/utils.go
  pkg/multicluster/utils_test.go
  pkg/multicluster/virtual_cluster.go
  pkg/multicluster/virtual_cluster_test.go
  pkg/policy/topology_test.go
  pkg/resourcetracker/tree.go
  pkg/utils/common/common.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Feat: show available versions and dependencies in `addon status`
  pkg/addon/helper.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Feat: show addon dependencies in `addon status`
  pkg/addon/helper.go
  pkg/apiserver/rest/usecase/addon.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Style: adjust `addon status` output
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Style: remove spaces in `addon status` output
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Fix: use vela prism for accessing clusters as alternative (#3849)
  go.mod
  go.sum
  pkg/addon/addon_suite_test.go
  pkg/addon/addon_test.go
  pkg/multicluster/cluster_management.go
  pkg/multicluster/cluster_metrics_management_test.go
  pkg/multicluster/utils.go
  pkg/multicluster/utils_test.go
  pkg/multicluster/virtual_cluster.go
  pkg/multicluster/virtual_cluster_test.go
  pkg/policy/topology_test.go
  pkg/resourcetracker/tree.go
  pkg/utils/common/common.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: truncate string if available versions too long
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Feat(charts): add cert-manager support for "cluster-gateway" component in chart "vela-core" (#3848)
  charts/vela-core/README.md
  charts/vela-core/templates/admission-webhooks/certmanager.yaml
  charts/vela-core/templates/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/certmanager.yaml
  charts/vela-core/templates/cluster-gateway/cluster-gateway.yaml
  charts/vela-core/templates/cluster-gateway/job-patch.yaml
  charts/vela-core/values.yaml
  charts/vela-minimal/README.md
  charts/vela-minimal/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Perf: avoid unnecessary network requests to improve performance
  pkg/addon/helper.go
  pkg/apiserver/rest/usecase/addon.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Fix: use vela prism for accessing clusters as alternative
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/cluster.go
  pkg/apiserver/rest/usecase/cluster_test.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

use patchOutputs instead of outputs in patch
  pkg/cue/definition/template.go
  pkg/cue/definition/template_test.go
Owners: @leejanee, @FogDong

Fix: use vela prism for accessing clusters as alternative (#3866)
  go.mod
  go.sum
  pkg/apiserver/rest/usecase/cluster.go
  pkg/apiserver/rest/usecase/cluster_test.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

fix typo
  pkg/cue/definition/template.go
Owners: @leejanee, @FogDong

Feat: do not display remote info for local addons
  pkg/addon/helper.go
  pkg/addon/type.go
  pkg/addon/versioned_registry.go
  references/cli/addon.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Test: add tests for cli/addon limitStringLength, generateParameterString
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Fix: fix output being empty if the searched addon does not exist anywhere
  references/cli/addon.go
Owners: @Somefive, @zzxwill

Fix: delete context when patch outputs in trait (#3854)
  pkg/cue/definition/template.go
  pkg/cue/definition/template_test.go
Owners: @leejanee, @FogDong

Test: add tests for generateAddonInfo
  references/cli/addon.go
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Feat(cli): Added an offline flag to the 'dry-run' command
  pkg/appfile/template.go
  references/cli/dryrun.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Test: add tests for generateAddonInfo and FindWholeAddonPackagesFromRegistry
  pkg/addon/addon_suite_test.go
  references/cli/addon.go
  references/cli/addon_suite_test.go
  references/cli/cli_suite_test.go
  references/cli/uninstall_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Style: format code
  pkg/addon/helper.go
  references/cli/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Test: correct unnecessarily focused tests
  pkg/addon/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Style: remove unused code blocks
  pkg/addon/helper.go
  pkg/addon/versioned_registry.go
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Refactor: remove unnecessary output to stdout
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

Test: remove added registry after tests has been completed
  pkg/addon/addon_suite_test.go
  references/cli/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: modify the template definition to solve the trait cli error Signed-off-by: Shijie Zhong <zhongsjie@cmbchina.com>
  charts/vela-core/templates/defwithtemplate/command.yaml
  charts/vela-core/templates/defwithtemplate/container-image.yaml
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/command.yaml
  charts/vela-minimal/templates/defwithtemplate/container-image.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  references/cli/traits_test.go
  vela-templates/definitions/internal/trait/command.cue
  vela-templates/definitions/internal/trait/container-image.cue
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Test: new RegistryDataStore every test, to avoid panics
  pkg/addon/addon_suite_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Test: fix failing tests due to incorrect registry name
  references/cli/addon_suite_test.go
Owners: @Somefive, @zzxwill

Feat: change the default workflow step with deploy type
  charts/vela-minimal/templates/defwithtemplate/deploy.yaml
  pkg/apiserver/model/application.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/converter.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/envbinding.go
  pkg/apiserver/rest/usecase/envbinding_test.go
  pkg/apiserver/rest/usecase/suite_test.go
  pkg/apiserver/rest/usecase/testdata/deploy.yaml
  pkg/apiserver/rest/usecase/testdata/scaler.yaml
  pkg/apiserver/rest/usecase/testdata/webservice.yaml
  pkg/apiserver/rest/usecase/workflow_model.go
  pkg/apiserver/rest/usecase/workflow_model_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/stdlib/pkgs/multicluster.cue
  pkg/utils/common/common.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/oam/apply.go
  pkg/workflow/providers/terraform/terraform.go
  test/e2e-apiserver-test/application_test.go
  vela-templates/definitions/internal/workflowstep/deploy.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive

Fix: format the cue script of the deploy step
  charts/vela-core/templates/defwithtemplate/deploy.yaml
  charts/vela-minimal/templates/defwithtemplate/deploy.yaml
  vela-templates/definitions/internal/workflowstep/deploy.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: modify the template definition to solve the trait cli error Signed-off-by: Shijie Zhong <zhongsjie@cmbchina.com> (#3877)
  charts/vela-core/templates/defwithtemplate/command.yaml
  charts/vela-core/templates/defwithtemplate/container-image.yaml
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/command.yaml
  charts/vela-minimal/templates/defwithtemplate/container-image.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  references/cli/traits_test.go
  vela-templates/definitions/internal/trait/command.cue
  vela-templates/definitions/internal/trait/container-image.cue
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: modify the template definition to solve the trait cli error Signed-off-by: Shijie Zhong <zhongsjie@cmbchina.com>
  charts/vela-core/templates/defwithtemplate/command.yaml
  charts/vela-core/templates/defwithtemplate/container-image.yaml
  charts/vela-core/templates/defwithtemplate/env.yaml
  charts/vela-minimal/templates/defwithtemplate/command.yaml
  charts/vela-minimal/templates/defwithtemplate/container-image.yaml
  charts/vela-minimal/templates/defwithtemplate/env.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  references/cli/traits_test.go
  vela-templates/definitions/internal/trait/command.cue
  vela-templates/definitions/internal/trait/container-image.cue
  vela-templates/definitions/internal/trait/env.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: unit test case
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/envbinding.go
Owners: @barnettZQG, @yangsoon

Fix: error words
  test/e2e-apiserver-test/application_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: change the default workflow step with deploy type (#3878)
  charts/vela-minimal/templates/defwithtemplate/deploy.yaml
  pkg/apiserver/model/application.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/application.go
  pkg/apiserver/rest/usecase/application_test.go
  pkg/apiserver/rest/usecase/converter.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/envbinding.go
  pkg/apiserver/rest/usecase/envbinding_test.go
  pkg/apiserver/rest/usecase/suite_test.go
  pkg/apiserver/rest/usecase/testdata/deploy.yaml
  pkg/apiserver/rest/usecase/testdata/scaler.yaml
  pkg/apiserver/rest/usecase/testdata/webservice.yaml
  pkg/apiserver/rest/usecase/workflow_model.go
  pkg/apiserver/rest/usecase/workflow_model_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/stdlib/pkgs/multicluster.cue
  pkg/utils/common/common.go
  pkg/workflow/providers/multicluster/deploy.go
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/oam/apply.go
  pkg/workflow/providers/terraform/terraform.go
  test/e2e-apiserver-test/application_test.go
  vela-templates/definitions/internal/workflowstep/deploy.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @FogDong, @Somefive

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
