Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon

fix delete config
  apis/types/types.go
  docs/examples/config/dex-connector/app-ldap.yaml
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/dex_test.go
  pkg/apiserver/rest/webservice/config.go
  vela-templates/definitions/internal/component/config-dex-connector.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

format
  charts/vela-core/templates/defwithtemplate/config-dex-connector.yaml
  charts/vela-minimal/templates/defwithtemplate/config-dex-connector.yaml
  go.mod
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/utils/dex_test.go
  pkg/apiserver/rest/utils/reg.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Feat: e2e test on multi version of Kubernetes
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

more matrix
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

fix ci
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/reg.go
  pkg/apiserver/rest/utils/reg_test.go
Owners: @barnettZQG, @yangsoon

fix staticcheck
  pkg/apiserver/rest/utils/dex_test.go
  pkg/apiserver/rest/utils/reg.go
Owners: @barnettZQG, @yangsoon

add 1.22
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: enhance storage trait to support multi-mountToEnv config Signed-off-by: Shijie Zhong <zhongsjie@cmbchina.com>
  charts/vela-core/templates/defwithtemplate/storage.yaml
  charts/vela-minimal/templates/defwithtemplate/storage.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  vela-templates/definitions/internal/trait/storage.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

add ut
  charts/vela-core/templates/defwithtemplate/config-helm-repository.yaml
  charts/vela-minimal/templates/defwithtemplate/config-helm-repository.yaml
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/dex_test.go
  vela-templates/definitions/internal/component/config-helm-repository.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive

fix addon multicluster bug
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @Somefive, @zzxwill

testing
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

Feat: add update dex config in apiserver
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/usecase/testdata/dex-config-def.yaml
Owners: @barnettZQG, @yangsoon

fix
  pkg/apiserver/rest/usecase/config.go
Owners: @barnettZQG, @yangsoon

Feat: support with metadata as context render cue file in the addon
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/testdata/example/metadata.yaml
  pkg/addon/testdata/example/resources/configmap.cue
Owners: @barnettZQG, @wonderflow, @leejanee

fix test race condition
  e2e/addon/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix
  pkg/apiserver/rest/usecase/config_test.go
Owners: @barnettZQG, @yangsoon

Feat: support with metadata as context render cue file in the addon (#3549)
  pkg/addon/addon.go
  pkg/addon/addon_test.go
  pkg/addon/testdata/example/metadata.yaml
  pkg/addon/testdata/example/resources/configmap.cue
Owners: @barnettZQG, @wonderflow, @leejanee

Chore: fast CI with go proxy in e2e
  Dockerfile
  Dockerfile.apiserver
  Dockerfile.e2e
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: cli addon multicluster bug (#3547)
  e2e/addon/addon_test.go
  references/cli/addon.go
  references/cli/addon_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

use get connectors to get dex connectors
  apis/types/types.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/utils/dex.go
  pkg/apiserver/rest/utils/dex_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

lint the code
  pkg/apiserver/rest/usecase/authentication_test.go
Owners: @barnettZQG, @yangsoon

rebase master
  pkg/addon/addon.go
  pkg/appfile/appfile.go
  pkg/appfile/helm/schema.go
  pkg/controller/utils/capability.go
  pkg/cue/convert.go
  pkg/cue/definition/template.go
  pkg/cue/model/instance.go
  pkg/cue/model/instance_test.go
  pkg/cue/model/value/value.go
  pkg/cue/packages/package.go
  pkg/cue/task/process.go
  pkg/definition/definition.go
  pkg/stdlib/packages.go
  pkg/utils/common/common.go
  pkg/workflow/context/context.go
  pkg/workflow/providers/workspace/workspace.go
  pkg/workflow/tasks/custom/task.go
  references/cli/def.go
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

nolint
  pkg/cue/convert_test.go
  pkg/cue/definition/template_test.go
  pkg/cue/model/instance_test.go
  pkg/cue/model/sets/operation_test.go
  pkg/cue/model/sets/utils_test.go
  pkg/cue/model/sets/walk_test.go
  pkg/cue/model/value/value_test.go
  pkg/cue/packages/package_test.go
  pkg/cue/process/handle_test.go
  pkg/cue/task/process_test.go
Owners: @leejanee, @FogDong

fix unit tests
  pkg/cue/model/sets/operation.go
  pkg/cue/model/value/value.go
Owners: @leejanee, @FogDong

Adapt to LookUpValue
  pkg/velaql/context.go
  pkg/workflow/context/context.go
  pkg/workflow/providers/http/do_test.go
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  pkg/workflow/providers/oam/apply_test.go
  pkg/workflow/providers/terraform/terraform_test.go
  pkg/workflow/providers/workspace/workspace_test.go
  pkg/workflow/tasks/custom/task_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

rebase master
  go.mod
  go.sum
  pkg/cue/convert_test.go
  pkg/cue/definition/template.go
  pkg/cue/model/instance_test.go
  pkg/cue/model/sets/operation.go
  pkg/cue/model/sets/operation_test.go
  pkg/cue/model/sets/utils.go
  pkg/cue/model/sets/utils_test.go
  pkg/cue/model/sets/walk.go
  pkg/cue/model/value/value.go
  pkg/cue/model/value/value_test.go
  pkg/cue/packages/package_test.go
  pkg/cue/process/handle_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

remove render test
  pkg/workflow/providers/workspace/workspace_test.go
Owners: @leejanee, @FogDong

remove render test
  pkg/workflow/providers/util/util_test.go
Owners: @leejanee, @FogDong

remove render test
  pkg/workflow/tasks/custom/task_test.go
Owners: @leejanee, @FogDong

disable make staticcheck
  Makefile
Owners: @barnettZQG, @wonderflow, @leejanee

rebase master
  pkg/cue/model/value/value.go
  pkg/velaql/context.go
  pkg/velaql/view.go
  pkg/velaql/view_test.go
  pkg/workflow/context/context.go
  pkg/workflow/context/context_test.go
  pkg/workflow/hooks/data_passing.go
  pkg/workflow/providers/oam/apply_test.go
  pkg/workflow/tasks/custom/task.go
Owners: @leejanee, @FogDong, @barnettZQG, @wonderflow

mod tidy
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: a new ComponentDefinition cron-task Signed-off-by: Xiangbo Ma <maxiangboo@cmbchina.com>
  charts/vela-core/templates/defwithtemplate/cron-task.yaml
  charts/vela-minimal/templates/defwithtemplate/cron-task.yaml
  vela-templates/definitions/internal/component/cron-task.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: fix the componentDefinition webservice parameter error
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Feat: a new ComponentDefinition cron-task Signed-off-by: Xiangbo Ma <maxiangboo@cmbchina.com> (#3541)
  charts/vela-core/templates/defwithtemplate/cron-task.yaml
  charts/vela-minimal/templates/defwithtemplate/cron-task.yaml
  vela-templates/definitions/internal/component/cron-task.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: verify password valid
  pkg/apiserver/rest/usecase/user.go
Owners: @barnettZQG, @yangsoon

Fix: fix the componentDefinition webservice parameter error (#3553)
  charts/vela-core/templates/defwithtemplate/webservice.yaml
  charts/vela-minimal/templates/defwithtemplate/webservice.yaml
  vela-templates/definitions/internal/component/webservice.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive

Fix: topology use original resource namespace when not specify
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/multicluster/multicluster_test.go
Owners: @leejanee, @FogDong

Fix: cli ask to choose bug
  docs/examples/workflow/no-component-app.yaml
  go.mod
  go.sum
  pkg/resourcetracker/tree.go
  pkg/utils/common/common.go
  references/cli/status.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Fix: seperate dex config from a component to an application
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/authentication_test.go
  pkg/apiserver/rest/utils/bcode/014_user.go
Owners: @barnettZQG, @yangsoon
