Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

remove render test
  pkg/workflow/providers/workspace/workspace_test.go
Owners: @leejanee, @FogDong

mod tidy
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

rebase master
  pkg/cue/model/value/value.go
  pkg/velaql/context.go
  pkg/velaql/view.go
  pkg/velaql/view_test.go
  pkg/workflow/context/context.go
  pkg/workflow/context/context_test.go
  pkg/workflow/hooks/data_passing.go
  pkg/workflow/providers/oam/apply_test.go
  pkg/workflow/tasks/custom/task.go
Owners: @leejanee, @FogDong, @barnettZQG, @wonderflow

fix test cases
  pkg/workflow/tasks/custom/task_test.go
Owners: @leejanee, @FogDong

disable make staticcheck
  Makefile
Owners: @barnettZQG, @wonderflow, @leejanee

remove render test
  pkg/workflow/providers/util/util_test.go
Owners: @leejanee, @FogDong

fix unit tests
  pkg/cue/model/sets/operation.go
  pkg/cue/model/value/value.go
Owners: @leejanee, @FogDong

nolint
  pkg/cue/convert_test.go
  pkg/cue/definition/template_test.go
  pkg/cue/model/instance_test.go
  pkg/cue/model/sets/operation_test.go
  pkg/cue/model/sets/utils_test.go
  pkg/cue/model/sets/walk_test.go
  pkg/cue/model/value/value_test.go
  pkg/cue/packages/package_test.go
  pkg/cue/process/handle_test.go
  pkg/cue/task/process_test.go
Owners: @leejanee, @FogDong

fix the calculate job cannot start issue
  pkg/apiserver/rest/rest_server.go
Owners: @barnettZQG, @yangsoon

fix: rabase master
  pkg/cue/model/value/value.go
Owners: @leejanee, @FogDong

Feat: add an API to change the definition status
  docs/apidoc/swagger.json
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/definition.go
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/testdata/apply-object.yaml
  pkg/apiserver/rest/webservice/definition.go
  pkg/apiserver/rest/webservice/policy_definition.go
  pkg/apiserver/rest/webservice/webservice.go
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

fix: lint
  go.mod
  pkg/definition/go_gen.go
  pkg/workflow/tasks/custom/task.go
  references/cli/debug.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Fix: embed.FS filepath that follow the unix style file path when running on windows (#3718)
  pkg/workflow/tasks/template/load.go
Owners: @leejanee, @FogDong

fix: "builtin-apply-component.cue: file does not exist"
  pkg/workflow/tasks/template/load.go
Owners: @leejanee, @FogDong

fix: "builtin-apply-component.cue: file does not exist"
  pkg/workflow/tasks/template/load.go
Owners: @leejanee, @FogDong

fix vet
  pkg/stdlib/pkgs/util.cue
Owners: @leejanee, @FogDong

fix lift
  pkg/workflow/providers/util/util.go
Owners: @leejanee, @FogDong

Feat: add log provider
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator_test.go
  pkg/stdlib/op.cue
  pkg/stdlib/pkgs/util.cue
  pkg/workflow/providers/util/util.go
  pkg/workflow/providers/util/util_test.go
  pkg/workflow/tasks/discover.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

fix rebase vet
  pkg/controller/core.oam.dev/v1alpha2/application/generator_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(wait suspend): change solution to add suspendState
  apis/core.oam.dev/common/types.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/templates/defwithtemplate/suspend.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/defwithtemplate/suspend.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  test/e2e-test/testdata/app/app_wait_suspend.yaml
  vela-templates/definitions/internal/workflowstep/suspend.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive

Fix: change the e2e test case
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(lang): The policy controller generate the OpenAPI schema (#3683) fix unit-test about policydefinition_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition/policydefinition_controller.go
  pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition/policydefinition_controller_test.go
Owners: @yangsoon, @Somefive

fix comments
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

Feat(wait suspend): change durationWaiting to duration and add isPatch to gcResourceTrackers
  charts/vela-core/templates/defwithtemplate/suspend.yaml
  charts/vela-minimal/templates/defwithtemplate/suspend.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/workflow.go
  test/e2e-test/testdata/app/app_wait_suspend.yaml
  vela-templates/definitions/internal/workflowstep/suspend.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive

Feat: check existence of an image
  go.mod
  go.sum
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/project.go
  pkg/apiserver/rest/webservice/project.go
  pkg/utils/imageregistry/image.go
  pkg/utils/imageregistry/image_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: change systemInfo some fields (#3715)
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/system_info.go
  test/e2e-apiserver-test/system_info_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Feat: Delete the annotation "kubernetes.io/last-applied-configuration" in applicationRevision. Signed-off-by: Xiangbo Ma <maxiangboo@cmbchina.com>
  pkg/controller/core.oam.dev/v1alpha2/application/revision.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(lang): The policy controller generate the OpenAPI schema (#3683) gen crd
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha2/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  apis/standard.oam.dev/v1alpha1/zz_generated.deepcopy.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-core/crds/core.oam.dev_policydefinitions.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_definitionrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_policydefinitions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_definitionrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_policydefinitions.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(delay suspend): delayDuration in suspend step properties (#3644)
  apis/core.oam.dev/common/types.go
  charts/vela-core/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-core/crds/core.oam.dev_applications.yaml
  charts/vela-core/templates/defwithtemplate/suspend.yaml
  charts/vela-minimal/crds/core.oam.dev_applicationrevisions.yaml
  charts/vela-minimal/crds/core.oam.dev_applications.yaml
  charts/vela-minimal/templates/defwithtemplate/suspend.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applicationrevisions.yaml
  legacy/charts/vela-core-legacy/crds/core.oam.dev_applications.yaml
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/workflow/interface.go
  pkg/workflow/tasks/discover.go
  pkg/workflow/workflow.go
  test/e2e-test/application_test.go
  test/e2e-test/testdata/app/app_wait_suspend.yaml
  vela-templates/definitions/internal/workflowstep/suspend.cue
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive

Feat: add log provider (#3711)
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator_test.go
  pkg/stdlib/op.cue
  pkg/stdlib/pkgs/util.cue
  pkg/workflow/providers/util/util.go
  pkg/workflow/providers/util/util_test.go
  pkg/workflow/tasks/discover.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

specify staticcheck version
  .github/workflows/go.yml
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

specify staticcheck version (#3726)
  .github/workflows/go.yml
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

specify staticcheck version
  .github/workflows/go.yml
  makefiles/dependency.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Feat(lang): The policy controller generate the OpenAPI schema  (#3683) make reviewable
  apis/core.oam.dev/common/zz_generated.deepcopy.go
  apis/core.oam.dev/condition/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha1/zz_generated.deepcopy.go
  apis/core.oam.dev/v1alpha2/zz_generated.deepcopy.go
  apis/core.oam.dev/v1beta1/zz_generated.deepcopy.go
  apis/standard.oam.dev/v1alpha1/zz_generated.deepcopy.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix several issues
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/system_info.go
Owners: @barnettZQG, @yangsoon

with sha
  .github/workflows/e2e-multicluster-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

rollback 1.22
  .github/workflows/e2e-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

upgrade kind version
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/go.yml
  .github/workflows/unit-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

try fix ci
  makefiles/const.mk
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: run e2e test on several K8s version
  .github/workflows/apiserver-test.yaml
  .github/workflows/e2e-multicluster-test.yml
  .github/workflows/e2e-rollout-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/unit-test.yml
Owners: @barnettZQG, @wonderflow, @leejanee

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
