Repository kubevela/kubevela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @wangyikewxgm, @yangsoon, @Somefive, @zzxwill, @captainroy-hy

reviewable
  go.mod
  pkg/definition/go_gen.go
  references/cli/def.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

Add unittest
  pkg/definition/go_gen.go
  pkg/definition/go_gen_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

lint
  pkg/definition/go_gen.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: bind env to system namespace (#3706)
  pkg/oam/util/helper.go
  pkg/oam/util/helper_test.go
  pkg/utils/system/system.go
  references/cmd/cli/main.go
Owners: @barnettZQG, @wonderflow, @leejanee

header
  pkg/definition/go_gen.go
  pkg/definition/go_gen_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: can not query the instance list for the app with apply once policy (#3670)
  pkg/velaql/providers/query/collector.go
  pkg/velaql/providers/query/handler_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: Expose optimizeDisableComponentRevision in helm chart (#3470)
  charts/vela-core/README.md
  charts/vela-core/templates/kubevela-controller.yaml
  charts/vela-core/values.yaml
Owners: @barnettZQG, @wonderflow, @leejanee

fix - patching vuln go mod
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

mock an addon to fix flaky test (#3665)
  e2e/addon/mock/testdata/mock-addon/metadata.yaml
  e2e/addon/mock/testdata/mock-addon/template.yaml
  e2e/plugin/plugin_test.go
  test/e2e-apiserver-test/addon_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix - cves
  go.mod
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela status tree show cluster alias & raw format (#3659)
  pkg/multicluster/virtual_cluster.go
  pkg/resourcetracker/tree.go
  references/cli/status.go
  test/e2e-multicluster-test/multicluster_cli_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

fix - addressing cves
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: calculate systemInfo everyday periodically and store them in datastore (#3689)
  cmd/apiserver/main.go
  go.mod
  go.sum
  pkg/apiserver/collect/suit_test.go
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/rest_server.go
  pkg/apiserver/rest/usecase/system_info.go
  pkg/apiserver/rest/webservice/webservice.go
  pkg/oam/util/test_utils.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: rt resource key compare mismatch local cluster (#3681)
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/types/multicluster.go
  pkg/multicluster/utils.go
Owners: @barnettZQG, @wonderflow, @leejanee

Feat: add vela debug command (#3580)
  apis/core.oam.dev/common/types.go
  apis/core.oam.dev/v1alpha1/policy_types.go
  apis/core.oam.dev/v1beta1/resourcetracker_types.go
  apis/core.oam.dev/v1beta1/resourcetracker_types_test.go
  go.mod
  go.sum
  pkg/appfile/appfile.go
  pkg/appfile/parser.go
  pkg/builtin/registry/registry_runner.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller.go
  pkg/controller/core.oam.dev/v1alpha2/application/application_controller_test.go
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
  pkg/cue/model/value/value.go
  pkg/resourcekeeper/componentrevision.go
  pkg/resourcekeeper/dispatch.go
  pkg/resourcekeeper/dispatch_and_delete_test.go
  pkg/resourcekeeper/gc_test.go
  pkg/resourcekeeper/options.go
  pkg/resourcekeeper/resourcekeeper.go
  pkg/resourcetracker/app.go
  pkg/resourcetracker/app_test.go
  pkg/workflow/debug/context.go
  pkg/workflow/debug/context_test.go
  pkg/workflow/tasks/custom/task.go
  pkg/workflow/types/types.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  references/cli/cli.go
  references/cli/debug.go
  references/cli/debug_test.go
  references/cli/up.go
  references/cli/up_test.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

Feat: support disable legacy gc upgrade operation (#3694)
  pkg/features/controller_features.go
  pkg/resourcekeeper/gc.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix - cves
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix token invalid after the server restarted (#3658)
  e2e/plugin/plugin_test.go
  pkg/apiserver/rest/usecase/authentication.go
  pkg/apiserver/rest/usecase/system_info.go
  test/e2e-apiserver-test/velaql_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon

Fix: set provider name as the config name (#3687)
  apis/types/types.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/config.go
  pkg/apiserver/rest/usecase/config_test.go
  pkg/apiserver/rest/usecase/project.go
  references/cli/provider.go
Owners: @barnettZQG, @wonderflow, @leejanee, @yangsoon, @Somefive, @zzxwill

Add test case
  pkg/definition/go_gen.go
  pkg/definition/go_gen_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: Addressing CVEs (#3708)
  go.mod
  go.sum
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: fix configuration not found health check error
  pkg/controller/core.oam.dev/v1alpha2/application/apply.go
Owners: @barnettZQG, @wonderflow, @leejanee

more test
  pkg/definition/go_gen_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

fix
  pkg/definition/go_gen_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change the unit test case
  pkg/apiserver/rest/usecase/definition_test.go
  pkg/apiserver/rest/usecase/testdata/workflowstep-apply-object.yaml
  test/e2e-apiserver-test/definition_test.go
  test/e2e-apiserver-test/testdata/component-schema-webservice.yaml
  vela-templates/definitions/uischema/component-alibaba-rds.yaml
  vela-templates/definitions/uischema/component-k8s-objects.yaml
  vela-templates/definitions/uischema/component-task.yaml
  vela-templates/definitions/uischema/component-webservice.yaml
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee, @Somefive

Fix: vela-core does not report error, when component depends on invalid component (#3636)
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: vela-core does not report error, when component depends on invalid component
  pkg/controller/core.oam.dev/v1alpha2/application/generator.go
  pkg/controller/core.oam.dev/v1alpha2/application/generator_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

Fix: change the unit test case
  test/e2e-apiserver-test/definition_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add optional prefix, add omitempty in json tag
  pkg/definition/go_gen.go
  pkg/definition/go_gen_test.go
  references/cli/def.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

lint
  pkg/definition/go_gen.go
Owners: @barnettZQG, @wonderflow, @leejanee

lint
  pkg/definition/go_gen_test.go
Owners: @barnettZQG, @wonderflow, @leejanee

add some field an calculate workflow step
  pkg/apiserver/collect/system_info_collect.go
  pkg/apiserver/collect/system_info_collect_test.go
  pkg/apiserver/model/system_info.go
  pkg/apiserver/rest/apis/v1/types.go
  pkg/apiserver/rest/usecase/system_info.go
  test/e2e-apiserver-test/system_info_test.go
Owners: @barnettZQG, @yangsoon, @wonderflow, @leejanee

Feat(lang): The policy controller generate the OpenAPI schema (#3683)
  pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition/policydefinition_controller_test.go
Owners: @yangsoon, @Somefive

Feat: vela def gen-api command (#3699)
  go.mod
  pkg/definition/go_gen.go
  pkg/definition/go_gen_test.go
  references/cli/def.go
Owners: @barnettZQG, @wonderflow, @leejanee, @Somefive, @zzxwill

fix: "builtin-apply-component.cue: file does not exist"
  pkg/workflow/tasks/template/load.go
Owners: @leejanee, @FogDong

fix: "builtin-apply-component.cue: file does not exist"
  pkg/workflow/tasks/template/load.go
Owners: @leejanee, @FogDong

rebase master
  go.mod
  go.sum
  pkg/cue/convert_test.go
  pkg/cue/definition/template.go
  pkg/cue/model/instance_test.go
  pkg/cue/model/sets/operation.go
  pkg/cue/model/sets/operation_test.go
  pkg/cue/model/sets/utils.go
  pkg/cue/model/sets/utils_test.go
  pkg/cue/model/sets/walk.go
  pkg/cue/model/value/value.go
  pkg/cue/model/value/value_test.go
  pkg/cue/packages/package_test.go
  pkg/cue/process/handle_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

Adapt to LookUpValue
  pkg/velaql/context.go
  pkg/workflow/context/context.go
  pkg/workflow/providers/http/do_test.go
  pkg/workflow/providers/multicluster/multicluster.go
  pkg/workflow/providers/multicluster/multicluster_test.go
  pkg/workflow/providers/oam/apply_test.go
  pkg/workflow/providers/terraform/terraform_test.go
  pkg/workflow/providers/workspace/workspace_test.go
  pkg/workflow/tasks/custom/task_test.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong

rebase master
  pkg/addon/addon.go
  pkg/appfile/appfile.go
  pkg/appfile/helm/schema.go
  pkg/controller/utils/capability.go
  pkg/cue/convert.go
  pkg/cue/definition/template.go
  pkg/cue/model/instance.go
  pkg/cue/model/instance_test.go
  pkg/cue/model/value/value.go
  pkg/cue/packages/package.go
  pkg/cue/task/process.go
  pkg/definition/definition.go
  pkg/stdlib/packages.go
  pkg/utils/common/common.go
  pkg/workflow/context/context.go
  pkg/workflow/providers/workspace/workspace.go
  references/cli/def.go
  references/plugins/references.go
Owners: @barnettZQG, @wonderflow, @leejanee, @FogDong, @Somefive, @zzxwill

remove render test
  pkg/workflow/tasks/custom/task_test.go
Owners: @leejanee, @FogDong

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee
design/                            @barnettZQG @leejanee @wonderflow

# Owner of CUE
pkg/cue                            @leejanee @FogDong
pkg/stdlib                         @leejanee @FogDong

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong

# Owner of rollout
pkg/controller/common/rollout/                              @wangyikewxgm @wonderflow
pkg/controller/core.oam.dev/v1alpha2/applicationrollout     @wangyikewxgm @wonderflow
pkg/controller/standard.oam.dev/v1alpha1/rollout            @wangyikewxgm @wonderflow
runtime/rollout                                             @wangyikewxgm @wonderflow

# Owner of definition controller
pkg/controller/core.oam.dev/v1alpha2/core/workflow/workflowstepdefinition  @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/policies/policydefinition        @yangsoon @Somefive
pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition   @yangsoon @zzxwill
pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition           @yangsoon @zzxwill

# Owner of health scope controller
pkg/controller/core.oam.dev/v1alpha2/core/scopes/healthscope     @captainroy-hy @zzxwill

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill 

# Owner of vela APIServer
pkg/apiserver/                     @barnettZQG @yangsoon
